{% load django_tables2 %}
{% load i18n %}
{% block table-wrapper %}
<div class="table-container">
    {% block table %}
    <table {% render_attrs table.attrs %} data-cols-width="20,20,20,20,20,20,20,20,20,20,20,20">
       
        {% block table.thead %}
        <thead>
        {% if not is_export %}
        <tr>
            <th data-f-bold="true">DocNum</th>
                <th data-f-bold="true">Series</th>
                <th data-f-bold="true">DocDate</th>
                <th data-f-bold="true">DocDueDate</th>
                <th data-f-bold="true">CardCode</th>
                <th data-f-bold="true">U_OrderType</th>
                <th data-f-bold="true">U_Order_Catg</th>
                <th data-f-bold="true">U_MealType</th>
                <th data-f-bold="true">U_Zone</th>
                <th data-f-bold="true">U_Driver</th>
                <th data-f-bold="true">U_DT</th>
                <th data-f-bold="true">Comments</th>
                <th data-f-bold="true">U_DAddress</th>
                <th data-f-bold="true">ParentKey</th>
                <th data-f-bold="true">LineNum</th>
                <th data-f-bold="true">Quantity</th>
                <th data-f-bold="true">ItemCode</th>
                <th data-f-bold="true">PriceAfterVAT</th>
                <th data-f-bold="true">CostingCode</th>
            
        </tr>
        {% endif %}
        <tr>
            <th data-f-bold="true">DocNum</th>
            <th data-f-bold="true">Series</th>
            <th data-f-bold="true">DocDate</th>
            <th data-f-bold="true">DocDueDate</th>
            <th data-f-bold="true">CardCode</th>
            <th data-f-bold="true">U_OrderType</th>
            <th data-f-bold="true">U_Order_Catg</th>
            <th data-f-bold="true">U_MealType</th>
            <th data-f-bold="true">U_Zone</th>
            <th data-f-bold="true">U_Driver</th>
            <th data-f-bold="true">U_DT</th>
            <th data-f-bold="true">Comments</th>
            <th data-f-bold="true">U_DAddress</th>
            <th data-f-bold="true">DocNum</th>
            <th data-f-bold="true">LineNum</th>
            <th data-f-bold="true">Quantity</th>
            <th data-f-bold="true">ItemCode</th>
            <th data-f-bold="true">PriceAfVAT</th>
            <th data-f-bold="true">OcrCode</th>
        </tr>
        </thead>
        {% endblock table.thead %}

        {% block table.tbody %}
        <tbody {{ table.attrs.tbody.as_html }}>
            {% for row in table.rows %}
            {% block table.tbody.row %}
            <tr {{ row.attrs.as_html }}>
                {% for column, cell in row.items %}
                <td {{ column.attrs.td.as_html }}>
                    {% if column.localize == None %}
                    {{ cell }}
                    {% else %}
                    {% if column.localize %}
                    {{ cell|localize }}
                    {% else %}
                    {{ cell|unlocalize }}
                    {% endif %}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endblock table.tbody.row %}
            {% empty %}
            {% if table.empty_text %}
            {% block table.tbody.empty_text %}
            <tr>
                <td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td>
            </tr>
            {% endblock table.tbody.empty_text %}
            {% endif %}
            {% endfor %}
        </tbody>
        {% endblock table.tbody %}
        {% block table.tfoot %}
        {% if table.has_footer %}
        <tfoot {{ table.attrs.tfoot.as_html }}>
            <tr>
                {% for column in table.columns %}
                <td {{ column.attrs.tf.as_html }}>{{ column.footer }}</td>
                {% endfor %}
            </tr>
        </tfoot>
        {% endif %}
        {% endblock table.tfoot %}
    </table>
    {% endblock table %}

</div>
{% endblock table-wrapper %}
