{% load static %}
<!-- bf-about-area-start -->
<div class="bf-about-area bf-about-us-spacing">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="bf-about-us-hero">
               <h2 class="bf-about-us-title mb-30">Fueling Minds<br> Inspiring Designs..</h2>
               <div class="bf-about-us-dec-wrap">
                  <div class="row">
                     <div class="col-lg-3 col-md-4">
                        <span class="bf-about-us-subtitle">About Us
                           <svg class="ml-20" width="81" height="9" viewBox="0 0 81 9" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <rect y="4" width="80" height="1" fill="currentColor" />
                              <path d="M77 7.96366L80.5 4.48183L77 1" stroke="currentColor" stroke-linecap="round"
                                 stroke-linejoin="round" />
                           </svg>
                        </span>
                     </div>
                     <div class="col-lg-7 col-md-8">
                        <p class="bf-about-us-dec">An independent web design and branding agency
                           in Manchester set up in 2012 who care, build relationships,
                           have industry experience, and win awards.</p>
                     </div>
                  </div>
               </div>
               <div class="bf-about-us-gif text-center pt-40">
                  <img src="{% static 'web/videos/about.gif' %}" alt="">
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- bf-about-area-end -->
