{% load static %}
<!-- bf-about-area-start -->
<div class="bf-about-area pt-155 pb-120" data-bg-color="#f8f8f9">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="bf-about-title-wrap">
               <h2 class="bf-section-title reveal-text mb-50">We’re Creative Digital Studio Turning<br>
                  Ideas into Impactful Experiences<br>
                  Through Strategy into Digital</h2>
            </div>
         </div>
         <div class="col-lg-7">
            <div class="bf-about-video">
               <video loop="" muted="" autoplay="" playsinline="">
                  <source src="{% static 'web/videos/about-video.mp4' %}" type="video/mp4">
               </video>
            </div>
         </div>
         <div class="col-lg-5">
            <div class="bf-about-content">
               <p class="bf-about-dec mb-50">We transform complex digital challenges into elegant,
                  functional solutions by prioritizing clarity and purpose.
                  Exceptional digital experiences start with understanding
                  your unique business objectives audience needs.</p>
               <div class="row gx-20">
                  <div class="col-lg-6 col-md-6">
                     <div class="bf-about-thumb mb-20">
                        <img class="w-100" src="{% static 'web/img/update/about/thumb.jpg' %}" alt="">
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                     <div class="bf-about-thumb mb-20">
                        <img class="w-100" src="{% static 'web/img/update/about/thumb-2.jpg' %}" alt="">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- bf-about-area-end -->
