
{% load static %}
<!-- tp-counter-area-start -->
<div class="tp-counter-area tp-counter-spacing bg-position" data-background="{% static 'web/img/counter/bg.jpg' %}">
   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-md-6">
            <div class="tp-counter-item text-center mb-30">
               <h2 class="tp-counter-tittle mb-10"><span data-purecounter-duration="1" data-purecounter-end="11"
                     class="purecounter">0</span>+</h2>
               <h6 class="tp-counter-subtittle mb-15">Years of experience</h6>
               <p class="tp-counter-para">From startups to established brands
                  helping them achieve their digital
                  goals. We craft innovative.</p>
            </div>
         </div>
         <div class="col-lg-4 col-md-6">
            <div class="tp-counter-item text-center mb-30">
               <h2 class="tp-counter-tittle mb-10"><span data-purecounter-duration="1" data-purecounter-end="12"
                     class="purecounter">0</span>k</h2>
               <h6 class="tp-counter-subtittle mb-15">Clients worldwides</h6>
               <p class="tp-counter-para">From startups to established brands
                  helping them achieve their digital
                  goals. We craft innovative.</p>
            </div>
         </div>
         <div class="col-lg-4 col-md-6">
            <div class="tp-counter-item text-center mb-30">
               <h2 class="tp-counter-tittle mb-10"><span data-purecounter-duration="1" data-purecounter-end="8"
                     class="purecounter">0</span>+</h2>
               <h6 class="tp-counter-subtittle mb-15">Awards achievement</h6>
               <p class="tp-counter-para">From startups to established brands
                  helping them achieve their digital
                  goals. We craft innovative.</p>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- tp-counter-area-end -->
