
{% load static %}
<!-- tp-faq-area-start -->
<div class="tp-faq-area pt-150 pb-100">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-9">
            <div class="tp-faq-wrapper mb-20">
               <h2 class="tp-section-tittle text-center mb-55">Frequently asked questions</h2>
               <div class="tp-faq-wrap">
                  <div class="tp-faq-accordion mb-60" id="general_faqaccordiontwo">
                     <div class="accordion-item mb-15">
                        <h2 class="accordion-header p-relative" id="order_one-1">
                           <button class="tp-faq-btn" type="button" data-bs-toggle="collapse"
                              data-bs-target="#order__collapse_one-1" aria-expanded="true"
                              aria-controls="order__collapse_one-1">
                              Do you design websites from scratch or work with templates?
                              <span class="accordion-btn"></span>
                           </button>
                        </h2>
                        <div id="order__collapse_one-1" class="accordion-collapse collapse show"
                           aria-labelledby="order_one-1" data-bs-parent="#general_faqaccordiontwo">
                           <div class="accordion-body tp-faq-details-para">
                              <p>My pricing typically includes the full design deliverables, such as high-quality
                                 exports, source<br>
                                 files (e.g., Figma or PSD), and up to 2–3 rounds of revisions.</p>
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item mb-15">
                        <h2 class="accordion-header p-relative" id="order_two-2">
                           <button class="collapsed tp-faq-btn" type="button" data-bs-toggle="collapse"
                              data-bs-target="#order__collapse_two-2" aria-expanded="false"
                              aria-controls="order__collapse_two-2">
                              What’s included in the pricing (e.g., revisions, source files)?
                              <span class="accordion-btn"></span>
                           </button>
                        </h2>
                        <div id="order__collapse_two-2" class="accordion-collapse collapse"
                           aria-labelledby="order_two-2" data-bs-parent="#general_faqaccordiontwo">
                           <div class="accordion-body tp-faq-details-para">
                              <p>My pricing typically includes the full design deliverables, such as high-quality
                                 exports, source<br>
                                 files (e.g., Figma or PSD), and up to 2–3 rounds of revisions.</p>
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item mb-15">
                        <h2 class="accordion-header p-relative" id="order_three-3">
                           <button class="collapsed tp-faq-btn" type="button" data-bs-toggle="collapse"
                              data-bs-target="#order__collapse_three-3" aria-expanded="false"
                              aria-controls="order__collapse_three-3">
                              How do you handle project timelines and deadlines?
                              <span class="accordion-btn"></span>
                           </button>
                        </h2>
                        <div id="order__collapse_three-3" class="accordion-collapse collapse"
                           aria-labelledby="order_three-3" data-bs-parent="#general_faqaccordiontwo">
                           <div class="accordion-body tp-faq-details-para">
                              <p>My pricing typically includes the full design deliverables, such as high-quality
                                 exports, source<br>
                                 files (e.g., Figma or PSD), and up to 2–3 rounds of revisions.</p>
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item mb-15">
                        <h2 class="accordion-header p-relative" id="order_four-4">
                           <button class="collapsed tp-faq-btn" type="button" data-bs-toggle="collapse"
                              data-bs-target="#order__collapse_four-4" aria-expanded="false"
                              aria-controls="order__collapse_four-4">
                              Will I get updates or previews during the design process?
                              <span class="accordion-btn"></span>
                           </button>
                        </h2>
                        <div id="order__collapse_four-4" class="accordion-collapse collapse"
                           aria-labelledby="order_four-4" data-bs-parent="#general_faqaccordiontwo">
                           <div class="accordion-body tp-faq-details-para">
                              <p>My pricing typically includes the full design deliverables, such as high-quality
                                 exports, source<br>
                                 files (e.g., Figma or PSD), and up to 2–3 rounds of revisions.</p>
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item mb-15">
                        <h2 class="accordion-header p-relative" id="order_five-5">
                           <button class="collapsed tp-faq-btn" type="button" data-bs-toggle="collapse"
                              data-bs-target="#order__collapse_five-5" aria-expanded="false"
                              aria-controls="order__collapse_five-5">
                              Have you worked with clients in my industry before?
                              <span class="accordion-btn"></span>
                           </button>
                        </h2>
                        <div id="order__collapse_five-5" class="accordion-collapse collapse"
                           aria-labelledby="order_five-5" data-bs-parent="#general_faqaccordiontwo">
                           <div class="accordion-body tp-faq-details-para">
                              <p>My pricing typically includes the full design deliverables, such as high-quality
                                 exports, source<br>
                                 files (e.g., Figma or PSD), and up to 2–3 rounds of revisions.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- tp-faq-area-end -->
