{% load static %}
<!-- bf-about-area-start -->
<div class="bf-about-area pt-140 pb-130">
   <div class="container">
      <div class="row">
         <div class="col-lg-3">
            <div class="bf-about-3-subtile mb-20">
               <span>About us</span>
            </div>
         </div>
         <div class="col-lg-9">
            <div class="bf-about-3-title-wrap mb-20">
               <h2 class="bf-about-3-title reveal-text">An independent web design and
                  branding agency in Manchester set up
                  2010 who care, build relationships, have
                  industry experience, and win awards.</h2>
            </div>
         </div>
         <div class="col-lg-3 col-md-5 col-sm-5">
            <div class="bf-about-3-thumb mb-30">
               <img src="{% static 'web/img/update/about/abour-3/thumb.jpg' %}" alt="">
            </div>
         </div>
         <div class="col-lg-4 col-md-7 col-sm-7">
            <div class="bf-about-3-thumb-2 pt-60 ml-50 mb-30">
               <img src="{% static 'web/img/update/about/abour-3/thumb-2.jpg' %}" alt="">
            </div>
         </div>
         <div class="col-lg-5">
            <div class="bf-about-3-info-wrap pt-90 ml-35">
               <div class="bf-about-3-avatar">
                  <img class="mb-15" src="{% static 'web/img/update/about/abour-3/avatar.png' %}" alt="">
                  <p>Driven by a passion for innovation, we specialize in
                     delivering top-quality design solutions</p>
               </div>
               <div class="bf-about-3-count-wrap">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="bf-about-3-count-item mb-30">
                           <h2 class="bf-about-3-count-title">98%</h2>
                           <span>Clients Satisfied and <br> Repeating</span>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="bf-about-3-count-item mb-30">
                           <h2 class="bf-about-3-count-title">125+</h2>
                           <span>Projects Completed in<br> 24 Countries</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- bf-about-area-end -->
