{% load static %}
<div class="design-award-wrap">
   <div class="row row-cols-1">
      <div class="col">
         <div class="design-award-item hover-reveal-item active p-relative">
            <div
               class="design-award-content design-award-content-xs d-flex align-items-center justify-content-between">
               <h4>A' Design Awards & competition</h4>
               <span>Silver Medal</span>
            </div>
            <div class="design-award-reveal-img" data-background="{% static 'web/img/award/award.jpg' %}"></div>
         </div>
      </div>
      <div class="col">
         <div class="design-award-item hover-reveal-item active p-relative">
            <div
               class="design-award-content design-award-content-xs d-flex align-items-center justify-content-between">
               <h4>AWWWARDS</h4>
               <span>2X - Honnerable </span>
            </div>
            <div class="design-award-reveal-img" data-background="{% static 'web/img/award/award-2.jpg' %}"></div>
         </div>
      </div>
      <div class="col">
         <div class="design-award-item hover-reveal-item active p-relative">
            <div
               class="design-award-content design-award-content-xs d-flex align-items-center justify-content-between">
               <h4>CSS Design Awards</h4>
               <span>2X - Website of the day</span>
            </div>
            <div class="design-award-reveal-img" data-background="{% static 'web/img/award/award-3.jpg' %}"></div>
         </div>
      </div>
      <div class="col">
         <div class="design-award-item hover-reveal-item active p-relative">
            <div
               class="design-award-content design-award-content-xs d-flex align-items-center justify-content-between">
               <h4>2X - Website of the day</h4>
               <span>2X - Website of the day</span>
            </div>
            <div class="design-award-reveal-img" data-background="{% static 'web/img/award/award-4.jpg' %}"></div>
         </div>
      </div>
      <div class="col">
         <div class="design-award-item hover-reveal-item active p-relative">
            <div
               class="design-award-content design-award-content-xs d-flex align-items-center justify-content-between">
               <h4>CSS Reels</h4>
               <span>Featured of the day</span>
            </div>
            <div class="design-award-reveal-img" data-background="{% static 'web/img/award/award-5.jpg' %}"></div>
         </div>
      </div>
      <div class="col">
         <div class="design-award-item hover-reveal-item active p-relative">
            <div
               class="design-award-content design-award-content-xs d-flex align-items-center justify-content-between">
               <h4>Web Gurus</h4>
               <span>2X - Guru of the day</span>
            </div>
            <div class="design-award-reveal-img" data-background="{% static 'web/img/award/award-6.jpg' %}"></div>
         </div>
      </div>
   </div>
</div>
