{% load static %}
<div class="postbox__comment pt-115 pb-50">
   <h3 class="postbox__comment-title">Comments(02)</h3>
   <ul>
      <li>
         <div class="postbox__comment-box d-flex">
            <div class="postbox__comment-info ">
               <div class="postbox__comment-avater mr-30">
                  <img src="{% static 'web/img/blog/blog-details/blog-details-sm-2.jpg' %}" alt="">
               </div>
            </div>
            <div class="postbox__comment-text">
               <div class="postbox__comment-name d-flex justify-content-between align-items-center">
                  <h5>By Harun Rashid</h5>
                  <span class="post-meta">January 2, 2025</span>
               </div>
               <p>
                  I love this theme. Sometimes it’s difficult to work with some themes, because even if they
                  are created with Elementor, you can’t edit all the things with Elementor.
               </p>
               <div class="postbox__comment-reply">
                  <a href="#">
                     Reply
                     <span>
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                           xmlns="http://www.w3.org/2000/svg">
                           <path d="M1 9L9 1M9 1V9M9 1L1 1" stroke="currentcolor" stroke-width="2"
                              stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                     </span>
                  </a>
               </div>
            </div>
         </div>
      </li>
      <li class="children">
         <div class="postbox__comment-box d-flex">
            <div class="postbox__comment-info ">
               <div class="postbox__comment-avater mr-30">
                  <img src="{% static 'web/img/blog/blog-details/blog-details-sm-1.jpg' %}" alt="">
               </div>
            </div>
            <div class="postbox__comment-text">
               <div class="postbox__comment-name d-flex justify-content-between align-items-center">
                  <h5>By Oliver Williams</h5>
                  <span class="post-meta">January 2, 2025</span>
               </div>
               <p>
                  They have really taken their timeto work appearance of the theme, also, they have a very
                  intereactive client assistance service, I like() !
               </p>
               <div class="postbox__comment-reply">
                  <a href="#">
                     Reply
                     <span>
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                           xmlns="http://www.w3.org/2000/svg">
                           <path d="M1 9L9 1M9 1V9M9 1L1 1" stroke="currentcolor" stroke-width="2"
                              stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                     </span>
                  </a>
               </div>
            </div>
         </div>
      </li>
      <li>
         <div class="postbox__comment-box d-flex">
            <div class="postbox__comment-info ">
               <div class="postbox__comment-avater mr-30">
                  <img src="{% static 'web/img/blog/blog-details/blog-details-sm-2.jpg' %}" alt="">
               </div>
            </div>
            <div class="postbox__comment-text">
               <div class="postbox__comment-name d-flex justify-content-between align-items-center">
                  <h5>By James Taylor</h5>
                  <span class="post-meta">January 2, 2025</span>
               </div>
               <p>
                  They have really taken their timeto work appearance of the theme, also, they have a very
                  intereactive client assistance service, I like() !
               </p>
               <div class="postbox__comment-reply">
                  <a href="#">
                     Reply
                     <span>
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none"
                           xmlns="http://www.w3.org/2000/svg">
                           <path d="M1 9L9 1M9 1V9M9 1L1 1" stroke="currentcolor" stroke-width="2"
                              stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                     </span>
                  </a>
               </div>
            </div>
         </div>
      </li>
   </ul>
</div>
