{% load static %}
<!-- tp-blog-area-start -->
<div class="tp-blog-area pt-150 pb-120">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-6 col-md-6 col-sm-8">
            <div class="tp-blog-tittle-wrap">
               <h2 class="tp-section-tittle reveal-text mb-50">Blog insight</h2>
            </div>
         </div>
         <div class="col-lg-6 col-md-6 col-sm-4">
            <div class="tp-blog-btn text-sm-end mb-45">
               <a href="blog-light.html" class="tp-btn d-inline-flex align-items-center">
                  <span>
                     <span class="text-1">View All</span>
                     <span class="text-2">View All</span>
                  </span>
               </a>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-4 col-md-6">
            <div class="tp-blog-item mb-30">
               <div class="tp-blog-thumb fix mb-25">
                  <img class="w-100" src="{% static 'web/img/update/blog/bg.jpg' %}" alt="">
               </div>
               <div class="tp-blog-content">
                  <div class="tp-blog-tag-inner d-flex align-items-center mb-20">
                     <span class="tp-blog-tag mr-20">Graphics</span>
                     <span class="tp-blog-date">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M6.99975 0C3.14037 0 0 3.14012 0 7C0 10.8599 3.14037 14 6.99975 14C10.8599 14 13.9997 10.8599 13.9997 7C13.9997 3.14012 10.8599 0 6.99975 0ZM6.99975 13.0667C3.65467 13.0667 0.933283 10.3453 0.933283 7C0.933283 3.65467 3.65492 0.933283 6.99975 0.933283C10.3453 0.933283 13.0665 3.65467 13.0665 7C13.0665 10.3453 10.3456 13.0667 6.99975 13.0667Z"
                              fill="CurrentColor" />
                           <path
                              d="M10.4665 6.49311H7.46647V2.52634C7.46647 2.26856 7.25748 2.05957 6.99996 2.05957C6.74268 2.05957 6.53369 2.26881 6.53369 2.52634V7.42614H10.4665C10.724 7.42614 10.933 7.2174 10.9328 6.95962C10.9328 6.70209 10.7235 6.49311 10.4665 6.49311Z"
                              fill="CurrentColor" />
                        </svg>
                        April 20. 2025
                     </span>
                  </div>
                  <h2 class="tp-blog-tittle"><a class="common-underline" href="blog-details-light.html">Dive deep into
                        creative process
                        design choices, and the tools</a></h2>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6">
            <div class="tp-blog-item mb-30">
               <div class="tp-blog-thumb fix mb-25">
                  <img class="w-100" src="{% static 'web/img/update/blog/bg-2.jpg' %}" alt="">
               </div>
               <div class="tp-blog-content">
                  <div class="tp-blog-tag-inner d-flex align-items-center mb-20">
                     <span class="tp-blog-tag mr-20">Branding</span>
                     <span class="tp-blog-date">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M6.99975 0C3.14037 0 0 3.14012 0 7C0 10.8599 3.14037 14 6.99975 14C10.8599 14 13.9997 10.8599 13.9997 7C13.9997 3.14012 10.8599 0 6.99975 0ZM6.99975 13.0667C3.65467 13.0667 0.933283 10.3453 0.933283 7C0.933283 3.65467 3.65492 0.933283 6.99975 0.933283C10.3453 0.933283 13.0665 3.65467 13.0665 7C13.0665 10.3453 10.3456 13.0667 6.99975 13.0667Z"
                              fill="CurrentColor" />
                           <path
                              d="M10.4665 6.49311H7.46647V2.52634C7.46647 2.26856 7.25748 2.05957 6.99996 2.05957C6.74268 2.05957 6.53369 2.26881 6.53369 2.52634V7.42614H10.4665C10.724 7.42614 10.933 7.2174 10.9328 6.95962C10.9328 6.70209 10.7235 6.49311 10.4665 6.49311Z"
                              fill="CurrentColor" />
                        </svg>
                        April 20. 2025
                     </span>
                  </div>
                  <h2 class="tp-blog-tittle"><a class="common-underline" href="blog-details-light.html">Stay updated
                        with the latest
                        design trends, favorite</a></h2>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6">
            <div class="tp-blog-item mb-30">
               <div class="tp-blog-thumb fix mb-25">
                  <img class="w-100" src="{% static 'web/img/update/blog/bg-3.jpg' %}" alt="">
               </div>
               <div class="tp-blog-content">
                  <div class="tp-blog-tag-inner d-flex align-items-center mb-20">
                     <span class="tp-blog-tag mr-20">Illustration</span>
                     <span class="tp-blog-date">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path
                              d="M6.99975 0C3.14037 0 0 3.14012 0 7C0 10.8599 3.14037 14 6.99975 14C10.8599 14 13.9997 10.8599 13.9997 7C13.9997 3.14012 10.8599 0 6.99975 0ZM6.99975 13.0667C3.65467 13.0667 0.933283 10.3453 0.933283 7C0.933283 3.65467 3.65492 0.933283 6.99975 0.933283C10.3453 0.933283 13.0665 3.65467 13.0665 7C13.0665 10.3453 10.3456 13.0667 6.99975 13.0667Z"
                              fill="CurrentColor" />
                           <path
                              d="M10.4665 6.49311H7.46647V2.52634C7.46647 2.26856 7.25748 2.05957 6.99996 2.05957C6.74268 2.05957 6.53369 2.26881 6.53369 2.52634V7.42614H10.4665C10.724 7.42614 10.933 7.2174 10.9328 6.95962C10.9328 6.70209 10.7235 6.49311 10.4665 6.49311Z"
                              fill="CurrentColor" />
                        </svg>
                        April 20. 2025
                     </span>
                  </div>
                  <h2 class="tp-blog-tittle"><a class="common-underline" href="blog-details-light.html">Detailed
                        breakdowns of selected
                        works, showcasing</a></h2>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- tp-blog-area-end -->
