{% load static %}
<div class="tp-blog-sidebar">
   <div class="tp-blog-sidebar-search mb-50">
      <h3 class="tp-blog-sidebar-tittle mb-20">Search</h3>
      <form action="#">
         <div class="tp-blog-sidebar-search-input">
            <input type="text" placeholder="Search...">
            <button type="submit">
               <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                     d="M18.9999 19L14.6499 14.65M17 9C17 13.4183 13.4183 17 9 17C4.58172 17 1 13.4183 1 9C1 4.58172 4.58172 1 9 1C13.4183 1 17 4.58172 17 9Z"
                     stroke="currentcolor" stroke-opacity="0.8" stroke-width="2" stroke-linecap="round"
                     stroke-linejoin="round" />
               </svg>
            </button>
         </div>
      </form>
   </div>
   <div class="tp-blog-sidebar-cetagory mb-40">
      <h3 class="tp-blog-sidebar-tittle mb-20">Category</h3>
      <ul>
         <li>
            <a href="#">
               <span>Design</span>
               <span>[7]</span>
            </a>
         </li>
         <li>
            <a href="#">
               <span>Experience</span>
               <span>[4]</span>
            </a>
         </li>
         <li>
            <a href="#">
               <span>Uncategorized</span>
               <span>[0]</span>
            </a>
         </li>
         <li>
            <a href="#">
               <span>Digital</span>
               <span>[3]</span>
            </a>
         </li>
      </ul>
   </div>
   <div class="tp-blog-sidebar-post mb-50">
      <h3 class="tp-blog-sidebar-tittle mb-30">Recent Posts</h3>
      <div class="rc-post-wrap">
         <div class="rc-post d-flex mb-20 align-items-center">
            <div class="rc-post-thumb mr-20">
               <a href="{{ blog_details_url|default:'blog-details-light.html' }}">
                  <img src="{% static 'web/img/blog/postbox/rc-post/thumb.jpg' %}" alt="">
               </a>
            </div>
            <div class="rc-post-content">
               <h6 class="rc-post-title mb-5">
                  <a class="common-underline" href="{{ blog_details_url|default:'blog-details-light.html' }}">Lazarev. got 3 <br> CSS Design
                     Awards</a>
               </h6>
               <div class="rc-post-cetagory">
                  <span><a href="#">Design</a></span>
                  <span>July 15, 2023</span>
               </div>
            </div>
         </div>
         <div class="rc-post d-flex align-items-center">
            <div class="rc-post-thumb mr-20">
               <a href="{{ blog_details_url|default:'blog-details-light.html' }}">
                  <img src="{% static 'web/img/blog/postbox/rc-post/thumb-2.jpg' %}" alt="">
               </a>
            </div>
            <div class="rc-post-content">
               <h6 class="rc-post-title mb-5">
                  <a class="common-underline" href="{{ blog_details_url|default:'blog-details-light.html' }}">Lazarev. got 3 <br> CSS Design
                     Awards</a>
               </h6>
               <div class="rc-post-cetagory">
                  <span><a href="#">Strategy</a></span>
                  <span>Oct 08, 2023</span>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="tp-blog-sidebar-tagcloud mb-50">
      <h3 class="tp-blog-sidebar-tittle mb-20">Tags</h3>
      <div class="tagcloud">
         <a href="#">Blog</a>
         <a href="#">Creative</a>
         <a href="#">Portfolio</a>
         <a href="#">Theme</a>
         <a href="#">WordPress</a>
         <a href="#">Design Trends</a>
      </div>
   </div>
</div>
