{% load static %}
<div class="postbox-details-form">
   <h3 class="postbox-details-form-title">Leave a Reply</h3>
   <p>Your email address will not be published. Required fields are marked *</p>
   <div class="postbox-details-form-wrapper">
      <div class="postbox-details-form-inner">
         <form action="#">
            <div class="row">
               <div class="col-xl-6">
                  <div class="postbox-details-input-box">
                     <div class="postbox-details-input">
                        <label>Name *</label>
                        <input type="text">
                     </div>
                  </div>
               </div>
               <div class="col-xl-6">
                  <div class="postbox-details-input-box">
                     <div class="postbox-details-input">
                        <label>Email *</label>
                        <input type="email">
                     </div>
                  </div>
               </div>
               <div class="col-xl-12">
                  <div class="postbox-details-input-box">
                     <div class="postbox-details-input">
                        <label>Website</label>
                        <input type="text">
                     </div>
                  </div>
               </div>
               <div class="col-xl-12">
                  <div class="postbox-details-input-box">
                     <div class="postbox-details-input">
                        <label>Comment *</label>
                        <textarea id="msg"></textarea>
                     </div>
                  </div>
               </div>
            </div>
         </form>
      </div>
      <div class="postbox-details-suggetions mb-20">
         <div class="postbox-details-remeber">
            <input id="remeber" type="checkbox">
            <label for="remeber">Save my name, email, and website in this browser for the next time I
               comment.</label>
         </div>
      </div>
      <div class="postbox-details-input-box">
         <button type="submit" class="tp-btn tp-btn-xl d-none d-md-inline-flex align-items-center">
            <span>
               <span class="text-1">Post Comment</span>
               <span class="text-2">Post Comment</span>
            </span>
         </button>
      </div>
   </div>
</div>
