{% load static %}
<!-- bf-brands-area-start -->
<div class="bf-brands-area">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="bf-brands-wrap">
               <span class="bf-brands-title mb-30 d-inline-block">Trusted by these amazing companies</span>
               <div class="bf-brands-item-wrap">
                  <div class="row gx-5">
                     <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                        <div class="bf-brands-item mb-5">
                           <img src="{% static 'web/img/update/brands/logo.png' %}" alt="">
                        </div>
                     </div>
                     <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                        <div class="bf-brands-item mb-5">
                           <img src="{% static 'web/img/update/brands/logo-2.png' %}" alt="">
                        </div>
                     </div>
                     <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                        <div class="bf-brands-item mb-5">
                           <img src="{% static 'web/img/update/brands/logo-3.png' %}" alt="">
                        </div>
                     </div>
                     <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                        <div class="bf-brands-item mb-5">
                           <img src="{% static 'web/img/update/brands/logo-4.png' %}" alt="">
                        </div>
                     </div>
                     <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                        <div class="bf-brands-item mb-5">
                           <img src="{% static 'web/img/update/brands/logo-5.png' %}" alt="">
                        </div>
                     </div>
                     <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                        <div class="bf-brands-item mb-5">
                           <img src="{% static 'web/img/update/brands/logo-6.png' %}" alt="">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- bf-brands-area-end -->
