{% load static %}
<!-- bf-hero-area-start -->
<div class="bf-hero-area bf-hero-spacing bg-position z-index-1 tp-image-distortion"
   data-background="{% static 'web/img/update/hero/thumb.jpg' %}">
   <div class="container-fluid container-1650">
      <div class="bf-hero-top">
         <div class="row">
            <div class="col-lg-6 col-md-6">
               <div class="bf-hero-video mb-30 ml-150">
                  <video loop="" muted="" autoplay="" playsinline="">
                     <source src="{% static 'web/videos/video-4.mp4' %}" type="video/mp4">
                  </video>
               </div>
            </div>
            <div class="col-lg-6 col-md-6">
               <div class="bf-hero-right-content mb-30">
                  <ul>
                     <li>
                        <a href="#"><span class="explore-text" data-text="Digital Studio">Digital Studio</span></a>
                     </li>
                     <li>
                        <a href="#"><span class="explore-text" data-text="Branding and Identity">Branding and
                              Identity</span></a>
                     </li>
                     <li>
                        <a href="#"><span class="explore-text" data-text="Social Media Marketing">Social Media
                              Marketing</span></a>
                     </li>
                     <li>
                        <a href="#"><span class="explore-text" data-text="SEO Optimization">SEO Optimization</span></a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="row align-items-end">
         <div class="col-lg-4">
            <div class="bf-hero-bottom-content ml-150 mb-30">
               <p class="mb-30">Elevating Brands Through<br>
                  Smart, Human - Centered<br>
                  Design</p>
               <a href="{% url 'web:contact' %}" class="tp-btn tp-btn-xl bf-btn-red d-inline-flex align-items-center">
                  <span>
                     <span class="text-1">Discover Work</span>
                     <span class="text-2">Discover Work</span>
                  </span>
               </a>
            </div>
         </div>
         <div class="col-lg-8">
            <div class="bf-hero-bottom-title-wrap mb-30">
               <div class="bf-hero-scrolling-words">
                  <ul>
                     <li>bolio</li>
                     <li>digital</li>
                     <li>studio</li>
                     <li>BFOLIO</li>
                     <li>digital</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- bf-hero-area-end -->
