{% load static %}
<div class="bf-instagram-area bf-instagram-ptb text-center">
   <div class="bf-instagram-thumb-wrap p-relative">
      <div class="bf-instagram-thumb-inner-1 d-none d-xl-block">
         <img src="{% static 'web/img/update/instagram/insta-inner-1.jpg' %}" alt="">
      </div>
      <div class="bf-instagram-thumb-inner-2 d-none d-xl-block">
         <img src="{% static 'web/img/update/instagram/insta-inner-2.jpg' %}" alt="">
      </div>
      <div class="bf-instagram-thumb-inner-3 d-none d-xl-block">
         <img src="{% static 'web/img/update/instagram/insta-inner-3.jpg' %}" alt="">
      </div>
      <div class="bf-instagram-thumb-inner-4 d-none d-xl-block">
         <img src="{% static 'web/img/update/instagram/insta-inner-4.jpg' %}" alt="">
      </div>
      <div class="bf-instagram-thumb-inner-5 d-none d-xl-block">
         <img src="{% static 'web/img/update/instagram/insta-inner-5.jpg' %}" alt="">
      </div>
      <div class="bf-instagram-thumb-inner-6 d-none d-xl-block">
         <img src="{% static 'web/img/update/instagram/insta-inner-6.jpg' %}" alt="">
      </div>
      <div class="bf-instagram-thumb-inner-7 d-none d-xl-block">
         <img src="{% static 'web/img/update/instagram/insta-inner-7.jpg' %}" alt="">
      </div>
      <div class="bf-instagram-thumb-inner-8 d-none d-xl-block">
         <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </div>
      <div class="bf-instagram-thumb">
         <img src="{% static 'web/img/update/instagram/insta-1.jpg' %}" alt="">
      </div>
      <div class="bf-instagram-content-wrap text-start">
         <div class="bf-instagram-title-box">
            <span class="bf-instagram-subtitle">INSTAGRAM</span>
            <h4 class="bf-instagram-title">@likoagency</h4>
         </div>
         <div class="bf-instagram-content">
            <p>Become a part of our stories! <br> Join the adventure.</p>
            <a href="#" class="tp-btn d-inline-flex align-items-center">
               <span>
                  <span class="text-1">Follow Us</span>
                  <span class="text-2">Follow Us</span>
               </span>
            </a>
         </div>
      </div>
   </div>
</div>
