{% load static %}
<!-- tp-project-area-start -->
<div class="tp-project-area pb-130 tp-white-bg">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="tp-project-2-wrap des-portfolio-wrap">
               <div class="tp-project-2-item p-relative mb-30 des-portfolio-panel">
                  <div class="tp-project-2-thumb">
                     <img class="img w-100" src="{% static 'web/img/portfolio/port-2/thumb.jpg' %}" alt="">
                  </div>
               </div>
               <div class="tp-project-2-item p-relative mb-30 des-portfolio-panel">
                  <div class="tp-project-2-thumb">
                     <img class="img w-100" src="{% static 'web/img/portfolio/port-2/thumb-2.jpg' %}" alt="">
                  </div>
               </div>
               <div class="tp-project-2-item p-relative mb-30 des-portfolio-panel">
                  <div class="tp-project-2-thumb">
                     <img class="img w-100" src="{% static 'web/img/portfolio/port-2/thumb-3.jpg' %}" alt="">
                  </div>
               </div>
               <div class="tp-project-2-item p-relative mb-30 des-portfolio-panel">
                  <div class="tp-project-2-thumb">
                     <img class="img w-100" src="{% static 'web/img/portfolio/port-2/thumb-4.jpg' %}" alt="">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- tp-project-area-end -->
