{% load static %}
<!-- tp-portfolio-area-start -->
<div class="tp-project-area tp-project-details-spacing pt-160 pb-130">
   <div class="container">
      <div class="row">
         <div class="col-lg-4">
            <div class="tp-project-details-left-info mb-30">
               <div class="tp-project-details-left-content mb-35">
                  <h5 class="tp-project-details-left-title">Clients</h5>
                  <span>The Organic Crave</span>
               </div>
               <div class="tp-project-details-left-content mb-35">
                  <h5 class="tp-project-details-left-title">Role in project</h5>
                  <span>UX/UI Design - branding</span>
               </div>
               <div class="tp-project-details-left-content mb-35">
                  <h5 class="tp-project-details-left-title">Services</h5>
                  <span>Branding</span>
                  <span>Graphic Design</span>
                  <span>Packaging</span>
               </div>
               <div class="tp-project-details-left-content mb-35">
                  <h5 class="tp-project-details-left-title">Year</h5>
                  <span>2025</span>
               </div>
            </div>
         </div>
         <div class="col-lg-8">
            <div class="tp-project-details-right-info mb-30">
               <span class="tp-project-details-subtittle d-block mb-10">About this projects</span>
               <h2 class="tp-project-details-tittle mb-25"><span>As a relatively new plugin,</span> it’s
                  still expanding its feature set
                  and may occasionally</h2>
               <p class="tp-project-details-para mb-40">It’s designed to replace multiple plugins by offering a complete
                  suite of widgets and templates focused on
                  e-commerce functionality. It has 50+ Elementor Widgets, including product grids, quick view, wishlist
                  comparison, sale notifications, variation swatches, and more. With 50+ Built-in pre-made templates
                  and 10+ important modules, you will get a full experience of building WooCommerce</p>
               <a href="#" class="tp-btn tp-btn-xl d-none d-md-inline-flex align-items-center">
                  <span>
                     <span class="text-1">View website</span>
                     <span class="text-2">View website</span>
                  </span>
               </a>
            </div>
         </div>
         <div class="col-12">
            <div class="pt-70 pb-95">
               <div class="tp-project-details-thumb fix">
                  <img data-speed=".8" class="w-100" src="{% static 'web/img/portfolio/details/thumb.jpg' %}" alt="">
               </div>
            </div>
         </div>
         <div class="col-12">
            <div class="tp-project-details-overview-box mb-70">
               <div class="row">
                  <div class="col-lg-4">
                     <div class="tp-project-details-overview-left mb-30">
                        <h2 class="tp-project-details-overview-title">Overview</h2>
                     </div>
                  </div>
                  <div class="col-lg-8">
                     <div class="tp-project-details-overview-right mb-30">
                        <h4 class="mb-20">The technology that drives some of the best Platforms
                           Out there is nothing without great planning </h4>
                        <div class="tp-project-details-overview-list">
                           <ul>
                              <li>Placeat laborum quam.</li>
                              <li>Corporis explicabo voluptas exercitationem</li>
                              <li>In inventore consequatur autem.</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="tp-project-details-overview-box">
               <div class="row">
                  <div class="col-lg-4">
                     <div class="tp-project-details-overview-left">
                        <h2 class="tp-project-details-overview-title">Results</h2>
                     </div>
                  </div>
                  <div class="col-lg-8">
                     <div class="tp-project-details-result-right">
                        <div class="tp-project-details-result">
                           <span class="child-1"><em data-purecounter-duration=".7" data-purecounter-end="120"
                                 class="purecounter">120</em>%</span>
                           <span class="child-2">Months Project Duration</span>
                        </div>
                        <div class="tp-project-details-result">
                           <span class="child-1"><em data-purecounter-duration=".7" data-purecounter-end="45"
                                 class="purecounter">45</em>%</span>
                           <span class="child-2">Average daily signups</span>
                        </div>
                        <div class="tp-project-details-result">
                           <span class="child-1"> <em data-purecounter-duration=".7" data-purecounter-end="300"
                                 class="purecounter">300</em>%</span>
                           <span class="child-2">Average daily signups</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- tp-portfolio-area-end -->
