{% load static %}
<!-- bf-portfolio-area-start -->
<div class="bf-portfolio-area bf-portfolio-sticky-area pt-140 pb-130">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="bf-portfolio-wrap text-center">
               <h2 class="bf-portfolio-title bf-portfolio-text-sticky mb-0">recent work</h2>
               <div class="bf-portfolio-wrapper">
                  <div class="d-grid">
                     <div class="grid-item">
                        <div class="project-item project-style-3 hover-play">
                           <div class="project-item-inner" data-cursor="View<br>Details">
                              <div class="bf-portfolio-post-thumbnail">
                                 <div class="video-container">
                                    <a class="cursor-hide" href="portfolio-details-light.html">
                                       <img class="w-100" src="{% static 'web/img/update/portfolio/portfolio.jpg' %}"
                                          alt="">
                                    </a>
                                 </div>
                              </div>
                              <div class="bf-portfolio-content">
                                 <span class="bf-portfolio-vp-text-top">
                                    <a class="cursor-hide" href="portfolio-details-light.html">Sonder goods</a>
                                 </span>
                                 <span class="bf-portfolio-vp-text-middle">/2025</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="grid-item">
                        <div class="project-item project-style-3 hover-play">
                           <div class="project-item-inner" data-cursor="View<br>Details">
                              <div class="bf-portfolio-post-thumbnail">
                                 <div class="video-container">
                                    <a class="cursor-hide" href="portfolio-details-light.html">
                                       <img class="w-100" src="{% static 'web/img/update/portfolio/portfolio-2.jpg' %}"
                                          alt="">
                                    </a>
                                 </div>
                              </div>
                              <div class="bf-portfolio-content">
                                 <span class="bf-portfolio-vp-text-top">
                                    <a class="cursor-hide" href="portfolio-details-light.html">Sonder goods</a>
                                 </span>
                                 <span class="bf-portfolio-vp-text-middle">/2025</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="grid-item">
                        <div class="project-item project-style-3 hover-play">
                           <div class="project-item-inner" data-cursor="View<br>Details">
                              <div class="bf-portfolio-post-thumbnail">
                                 <div class="video-container">
                                    <a class="cursor-hide" href="portfolio-details-light.html">
                                       <img class="w-100" src="{% static 'web/img/update/portfolio/portfolio-3.jpg' %}"
                                          alt="">
                                    </a>
                                 </div>
                              </div>
                              <div class="bf-portfolio-content">
                                 <span class="bf-portfolio-vp-text-top">
                                    <a class="cursor-hide" href="portfolio-details-light.html">Sonder goods</a>
                                 </span>
                                 <span class="bf-portfolio-vp-text-middle">/2025</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="grid-item">
                        <div class="project-item project-style-3 hover-play">
                           <div class="project-item-inner" data-cursor="View<br>Details">
                              <div class="bf-portfolio-post-thumbnail">
                                 <div class="video-container">
                                    <a class="cursor-hide" href="portfolio-details-light.html">
                                       <img class="w-100" src="{% static 'web/img/update/portfolio/portfolio-4.jpg' %}"
                                          alt="">
                                    </a>
                                 </div>
                              </div>
                              <div class="bf-portfolio-content">
                                 <span class="bf-portfolio-vp-text-top">
                                    <a class="cursor-hide" href="portfolio-details-light.html">Sonder goods</a>
                                 </span>
                                 <span class="bf-portfolio-vp-text-middle">/2025</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- bf-portfolio-area-end -->
