{% load static %}
<div class="row gx-100">
   <div class="col-12">
      <h2 class="tp-project-tittle reveal-text text-center mb-60">Featured work©</h2>
   </div>
   <div class="col-lg-6 col-md-6">
      <div class="tp-project-item tp-btn-switch-hover mb-60">
         <div class="tp-project-thumb p-relative fix mb-25" data-cursor="Explore">
            <a class="cursor-hide" href="{{ portfolio_details_url|default:'portfolio-details-light.html' }}">
               <img class="w-100" src="{% static 'web/img/portfolio/thumb.jpg' %}" alt="">
            </a>
         </div>
         <div class="tp-project-content d-flex justify-content-between flex-wrap">
            <h5 class="tp-project-item-tittle mr-10">
               <a class="tp-btn-switch" href="{{ portfolio_details_url|default:'portfolio-details-light.html' }}">
                  <span>
                     <span class="text-1">Sonder goods</span>
                     <span class="text-2">Sonder goods</span>
                  </span>
               </a>
            </h5>
            <span class="tp-project-dates">/2025</span>
         </div>
      </div>
   </div>
   <div class="col-lg-6 col-md-6">
      <div class="tp-project-item tp-btn-switch-hover mb-60">
         <div class="tp-project-thumb p-relative fix mb-25" data-cursor="Explore">
            <a class="cursor-hide" href="{{ portfolio_details_url|default:'portfolio-details-light.html' }}">
               <img class="w-100" src="{% static 'web/img/portfolio/thumb-2.jpg' %}" alt="">
            </a>
         </div>
         <div class="tp-project-content d-flex justify-content-between flex-wrap">
            <h5 class="tp-project-item-tittle mr-10">
               <a class="tp-btn-switch" href="{{ portfolio_details_url|default:'portfolio-details-light.html' }}">
                  <span>
                     <span class="text-1">Promot Box</span>
                     <span class="text-2">Promot Box</span>
                  </span>
               </a>
            </h5>
            <span class="tp-project-dates">/2025</span>
         </div>
      </div>
   </div>
   <div class="col-lg-6 col-md-6">
      <div class="tp-project-item tp-btn-switch-hover mb-60">
         <div class="tp-project-thumb p-relative fix mb-25" data-cursor="Explore">
            <a class="cursor-hide" href="{{ portfolio_details_url|default:'portfolio-details-light.html' }}">
               <img class="w-100" src="{% static 'web/img/portfolio/thumb-3.jpg' %}" alt="">
            </a>
         </div>
         <div class="tp-project-content d-flex justify-content-between flex-wrap">
            <h5 class="tp-project-item-tittle mr-10">
               <a class="tp-btn-switch" href="{{ portfolio_details_url|default:'portfolio-details-light.html' }}">
                  <span>
                     <span class="text-1">Olio Noiring</span>
                     <span class="text-2">Olio Noiring</span>
                  </span>
               </a>
            </h5>
            <span class="tp-project-dates">/2025</span>
         </div>
      </div>
   </div>
   <div class="col-lg-6 col-md-6">
      <div class="tp-project-item tp-btn-switch-hover mb-60">
         <div class="tp-project-thumb p-relative fix mb-25" data-cursor="Explore">
            <a class="cursor-hide" href="{{ portfolio_details_url|default:'portfolio-details-light.html' }}">
               <img class="w-100" src="{% static 'web/img/portfolio/thumb-4.jpg' %}" alt="">
            </a>
         </div>
         <div class="tp-project-content d-flex justify-content-between flex-wrap">
            <h5 class="tp-project-item-tittle mr-10">
               <a class="tp-btn-switch" href="{{ portfolio_details_url|default:'portfolio-details-light.html' }}">
                  <span>
                     <span class="text-1">Rando Hando</span>
                     <span class="text-2">Rando Hando</span>
                  </span>
               </a>
            </h5>
            <span class="tp-project-dates">/2025</span>
         </div>
      </div>
   </div>
   <div class="col-lg-6 col-md-6">
      <div class="tp-project-item tp-btn-switch-hover mb-60">
         <div class="tp-project-thumb p-relative fix mb-25" data-cursor="Explore">
            <a class="cursor-hide" href="{{ portfolio_details_url|default:'portfolio-details-light.html' }}">
               <img class="w-100" src="{% static 'web/img/portfolio/thumb-5.jpg' %}" alt="">
            </a>
         </div>
         <div class="tp-project-content d-flex justify-content-between flex-wrap">
            <h5 class="tp-project-item-tittle mr-10">
               <a class="tp-btn-switch" href="{{ portfolio_details_url|default:'portfolio-details-light.html' }}">
                  <span>
                     <span class="text-1">Sonder goods</span>
                     <span class="text-2">Sonder goods</span>
                  </span>
               </a>
            </h5>
            <span class="tp-project-dates">/2025</span>
         </div>
      </div>
   </div>
   <div class="col-lg-6 col-md-6">
      <div class="tp-project-item tp-btn-switch-hover mb-60">
         <div class="tp-project-thumb p-relative fix mb-25" data-cursor="Explore">
            <a class="cursor-hide" href="{{ portfolio_details_url|default:'portfolio-details-light.html' }}">
               <img class="w-100" src="{% static 'web/img/portfolio/thumb-6.jpg' %}" alt="">
            </a>
         </div>
         <div class="tp-project-content d-flex justify-content-between flex-wrap">
            <h5 class="tp-project-item-tittle mr-10">
               <a class="tp-btn-switch" href="{{ portfolio_details_url|default:'portfolio-details-light.html' }}">
                  <span>
                     <span class="text-1">Promot Box</span>
                     <span class="text-2">Promot Box</span>
                  </span>
               </a>
            </h5>
            <span class="tp-project-dates">/2025</span>
         </div>
      </div>
   </div>
   <div class="col-lg-6 col-md-6">
      <div class="tp-project-item tp-btn-switch-hover mb-60">
         <div class="tp-project-thumb p-relative fix mb-25" data-cursor="Explore">
            <a class="cursor-hide" href="{{ portfolio_details_url|default:'portfolio-details-light.html' }}">
               <img class="w-100" src="{% static 'web/img/portfolio/thumb-7.jpg' %}" alt="">
            </a>
         </div>
         <div class="tp-project-content d-flex justify-content-between flex-wrap">
            <h5 class="tp-project-item-tittle mr-10">
               <a class="tp-btn-switch" href="{{ portfolio_details_url|default:'portfolio-details-light.html' }}">
                  <span>
                     <span class="text-1">Olio Noiring</span>
                     <span class="text-2">Olio Noiring</span>
                  </span>
               </a>
            </h5>
            <span class="tp-project-dates">/2025</span>
         </div>
      </div>
   </div>
   <div class="col-lg-6 col-md-6">
      <div class="tp-project-item tp-btn-switch-hover mb-60">
         <div class="tp-project-thumb p-relative fix mb-25" data-cursor="Explore">
            <a class="cursor-hide" href="{{ portfolio_details_url|default:'portfolio-details-light.html' }}">
               <img class="w-100" src="{% static 'web/img/portfolio/thumb-8.jpg' %}" alt="">
            </a>
         </div>
         <div class="tp-project-content d-flex justify-content-between flex-wrap">
            <h5 class="tp-project-item-tittle mr-10">
               <a class="tp-btn-switch" href="{{ portfolio_details_url|default:'portfolio-details-light.html' }}">
                  <span>
                     <span class="text-1">Rando Hando</span>
                     <span class="text-2">Rando Hando</span>
                  </span>
               </a>
            </h5>
            <span class="tp-project-dates">/2025</span>
         </div>
      </div>
   </div>
</div>
