{% load static %}
<!-- service area start -->
<div class="bf-service-area pt-155 pb-160" data-bg-color="{{ service_bg_color }}">
   <div class="container">
      <div class="bf-service-title-wrap mb-45">
         <div class="row">
            <div class="col-xl-6">
               <div class="bf-service-subtitle-box mb-40">
                  <h2 class="bf-section-title fs-75 text-white">Let’s create a brand that do defies Gravity</h2>
               </div>
            </div>
            <div class="col-xl-6">
               <div class="bf-service-title-box pt-200 mb-40">
                  <p class="bf-service-dec mb-45">We transform complex digital challenges into elegant, functional
                     solutions
                     by prioritizing clarity and purpose. Exceptional digital experiences start
                     with understanding your unique business</p>
                  <a href="#" class="tp-btn tp-btn-xl bf-btn-white-border d-inline-flex align-items-center">
                     <span>
                        <span class="text-1">View all Services</span>
                        <span class="text-2">View all Services</span>
                     </span>
                  </a>
               </div>
            </div>
         </div>
      </div>
      <div class="bf-service-accordion-wrap">
         <div class="bf-accordion accordion" id="accordionExample">
            <div class="accordion-items">
               <div class="accordion-header">
                  <div class="accordion-buttons" role="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                     aria-expanded="true" aria-controls="collapseOne">
                     <div class="bf-service-item">
                        <div class="row align-items-center">
                           <div class="col-xxl-3 col-xl-2 col-lg-4 col-md-2 col-2">
                              <div class="bf-service-num">
                                 <span>(01)</span>
                              </div>
                           </div>
                           <div class="col-xxl-9 col-xl-10 col-lg-8 col-md-10 col-10">
                              <div class="bf-service-top">
                                 <div class="bf-service-title">
                                    <h4>Brand Identity Design</h4>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <span class="accordion-icon"></span>
                     </div>
                  </div>
               </div>
               <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                     <div class="row align-items-center">
                        <div class="offset-xxl-3 col-xxl-9 offset-xl-2 col-xl-10">
                           <div class="row align-items-center">
                              <div class="col-xl-7 col-lg-8">
                                 <div class="bf-service-content d-flex align-items-center">
                                    <div class="bf-service-thumb">
                                       <img src="{% static 'web/img/update/service/service-1.jpg' %}" alt="">
                                    </div>
                                    <div class="bf-service-content">
                                       <p>
                                          Strategic, data-driven media campaigns
                                          designed to build brand awareness & connect
                                          with your target audience.
                                       </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4">
                                 <div class="bf-service-category">
                                    <span>Content strategy</span>
                                    <span>Analytics & reporting</span>
                                    <span>Community management</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="accordion-items">
               <div class="accordion-header">
                  <div class="accordion-buttons collapsed" role="button" data-bs-toggle="collapse"
                     data-bs-target="#collapseOne-1" aria-expanded="true" aria-controls="collapseOne-1">
                     <div class="bf-service-item">
                        <div class="row align-items-center">
                           <div class="col-xxl-3 col-xl-2 col-lg-4 col-md-2 col-2">
                              <div class="bf-service-num">
                                 <span>(02)</span>
                              </div>
                           </div>
                           <div class="col-xxl-9 col-xl-8 col-lg-8 col-md-10 col-10">
                              <div class="bf-service-top">
                                 <div class="bf-service-title">
                                    <h4>Web design & development</h4>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <span class="accordion-icon"></span>
                     </div>
                  </div>
               </div>
               <div id="collapseOne-1" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                     <div class="row align-items-center">
                        <div class="offset-xxl-3 col-xxl-9 offset-xl-2 col-xl-10">
                           <div class="row align-items-center">
                              <div class="col-xl-7 col-lg-8">
                                 <div class="bf-service-content d-flex align-items-center">
                                    <div class="bf-service-thumb">
                                       <img src="{% static 'web/img/update/service/service-2.jpg' %}" alt="">
                                    </div>
                                    <div class="bf-service-content">
                                       <p>
                                          Strategic, data-driven media campaigns
                                          designed to build brand awareness & connect
                                          with your target audience.
                                       </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4">
                                 <div class="bf-service-category">
                                    <span>Content strategy</span>
                                    <span>Analytics & reporting</span>
                                    <span>Community management</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="accordion-items">
               <div class="accordion-header">
                  <div class="accordion-buttons collapsed" role="button" data-bs-toggle="collapse"
                     data-bs-target="#collapseOne-2" aria-expanded="true" aria-controls="collapseOne-2">
                     <div class="bf-service-item">
                        <div class="row align-items-center">
                           <div class="col-xxl-3 col-xl-2 col-lg-4 col-md-2 col-2">
                              <div class="bf-service-num">
                                 <span>(03)</span>
                              </div>
                           </div>
                           <div class="col-xxl-9 col-xl-8 col-lg-8 col-md-10 col-10">
                              <div class="bf-service-top">
                                 <div class="bf-service-title">
                                    <h4>SEO Optimization</h4>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <span class="accordion-icon"></span>
                     </div>
                  </div>
               </div>
               <div id="collapseOne-2" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                     <div class="row">
                        <div class="offset-xxl-3 col-xxl-9 offset-xl-2 col-xl-10">
                           <div class="row align-items-center">
                              <div class="col-xl-7 col-lg-8">
                                 <div class="bf-service-content d-flex align-items-center">
                                    <div class="bf-service-thumb">
                                       <img src="{% static 'web/img/update/service/service-3.jpg' %}" alt="">
                                    </div>
                                    <div class="bf-service-content">
                                       <p>
                                          Strategic, data-driven media campaigns
                                          designed to build brand awareness & connect
                                          with your target audience.
                                       </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4">
                                 <div class="bf-service-category">
                                    <span>Content strategy</span>
                                    <span>Analytics & reporting</span>
                                    <span>Community management</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="accordion-items">
               <div class="accordion-header">
                  <div class="accordion-buttons collapsed" role="button" data-bs-toggle="collapse"
                     data-bs-target="#collapseOne-3" aria-expanded="true" aria-controls="collapseOne-3">
                     <div class="bf-service-item">
                        <div class="row align-items-center">
                           <div class="col-xxl-3 col-xl-2 col-lg-4 col-md-2 col-2">
                              <div class="bf-service-num">
                                 <span>(04)</span>
                              </div>
                           </div>
                           <div class="col-xxl-9 col-xl-8 col-lg-8 col-md-10 col-10">
                              <div class="bf-service-top">
                                 <div class="bf-service-title">
                                    <h4>Creative Web Solutions</h4>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <span class="accordion-icon"></span>
                     </div>
                  </div>
               </div>
               <div id="collapseOne-3" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                     <div class="row">
                        <div class="offset-xxl-3 col-xxl-9 offset-xl-2 col-xl-10">
                           <div class="row align-items-center">
                              <div class="col-xl-7 col-lg-8">
                                 <div class="bf-service-content d-flex align-items-center">
                                    <div class="bf-service-thumb">
                                       <img src="{% static 'web/img/update/service/service-4.jpg' %}" alt="">
                                    </div>
                                    <div class="bf-service-content">
                                       <p>
                                          Strategic, data-driven media campaigns
                                          designed to build brand awareness & connect
                                          with your target audience.
                                       </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-xl-4 col-lg-4">
                                 <div class="bf-service-category">
                                    <span>Content strategy</span>
                                    <span>Analytics & reporting</span>
                                    <span>Community management</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- service area end -->
