{% load static %}
<!-- bf-service-step-area-start -->
<div class="bf-service-step-area pt-125 pb-120">
   <div class="container">
      <div class="row">
         <div class="col-lg-3">
            <div class="bf-service-step-subtitle">
               <span>What we do</span>
            </div>
         </div>
         <div class="col-lg-9">
            <div class="bf-service-step-content">
               <h2 class="bf-service-step-title mb-75">Your brand’s creative partner for identity, design, content and
                  beyond</h2>
               <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6">
                     <div class="bf-service-step-item p-relative mb-30">
                        <span class="bf-service-step-icon d-none d-md-inline-block">
                           <svg width="66" height="27" viewBox="0 0 66 27" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M1 13.5L64.9286 13.5" stroke="black" stroke-linecap="round"
                                 stroke-linejoin="round" />
                              <path d="M52.4277 1L64.9277 13.5L52.4277 26" stroke="black" stroke-linecap="round"
                                 stroke-linejoin="round" />
                           </svg>
                        </span>
                        <h4 class="mb-15">Discovery</h4>
                        <ul>
                           <li>
                              <a href="#">Brand discovery</a>
                           </li>
                           <li>
                              <a href="#">Design audits</a>
                           </li>
                           <li>
                              <a href="#">Brand discovery</a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6">
                     <div class="bf-service-step-item p-relative mb-30">
                        <span class="bf-service-step-icon d-none d-md-inline-block">
                           <svg width="66" height="27" viewBox="0 0 66 27" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M1 13.5L64.9286 13.5" stroke="black" stroke-linecap="round"
                                 stroke-linejoin="round" />
                              <path d="M52.4277 1L64.9277 13.5L52.4277 26" stroke="black" stroke-linecap="round"
                                 stroke-linejoin="round" />
                           </svg>
                        </span>
                        <h4 class="mb-15">Strategy</h4>
                        <ul>
                           <li>
                              <a href="#">Photography</a>
                           </li>
                           <li>
                              <a href="#">Design audits</a>
                           </li>
                           <li>
                              <a href="#">Content creation</a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6">
                     <div class="bf-service-step-item p-relative mb-30">
                        <h4 class="mb-15">Design</h4>
                        <ul>
                           <li>
                              <a href="#">Logo design</a>
                           </li>
                           <li>
                              <a href="#">Identity design</a>
                           </li>
                           <li>
                              <a href="#">Brand discovery</a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- tp-service-step-area-end -->
