{% load static %}
<!-- tp-project-area-start -->
<div class="tp-project-area pt-150 pb-130">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-8">
            <div class="bf-portfolio-4-title-wrap mb-60 text-center">
               <h2 class="bf-portfolio-4-title">We’re a creative agency helping
                  brands unlock their potential and
                  build trust through powerful visuals</h2>
            </div>
         </div>
         <div class="col-12">
            <div class="tp-project-2-wrap des-portfolio-wrap">
               <div class="tp-project-2-item p-relative mb-30 des-portfolio-panel" data-cursor="View<br>Details">
                  <a href="{{ portfolio_details_url|default:'portfolio-details-light.html' }}" class="cursor-hide">
                     <div class="tp-project-2-thumb">
                        <img class="img" src="{% static 'web/img/update/portfolio/port-4/portfolio.jpg' %}" alt="">
                     </div>
                  </a>
               </div>
               <div class="tp-project-2-item p-relative mb-30 des-portfolio-panel" data-cursor="View<br>Details">
                  <a href="{{ portfolio_details_url|default:'portfolio-details-light.html' }}" class="cursor-hide">
                     <div class="tp-project-2-thumb">
                        <img class="img" src="{% static 'web/img/update/portfolio/port-4/portfolio-2.jpg' %}" alt="">
                     </div>
                  </a>
               </div>
               <div class="tp-project-2-item p-relative mb-30 des-portfolio-panel" data-cursor="View<br>Details">
                  <a href="{{ portfolio_details_url|default:'portfolio-details-light.html' }}" class="cursor-hide">
                     <div class="tp-project-2-thumb">
                        <img class="img" src="{% static 'web/img/update/portfolio/port-4/portfolio-3.jpg' %}" alt="">
                     </div>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- tp-project-area-end -->
