{% load static %}
<!-- bf-service-hero-area-start -->
<div class="bf-service-hero-area bf-service-hero-spacing fix bg-position p-relative bf-hero-anime-area"
   data-background="{% static 'web/img/update/service/main/bg.jpg' %}">
   <h2 class="bf-service-hero-bottom-title bf-item-anime-inner marque">Innovate</h2>
   <div class="container">
      <div class="row">
         <div class="col-lg-8">
            <div class="bf-service-hero-content">
               <span class="bf-service-hero-subtitle d-inline-block mb-10">Our services</span>
               <h2 class="bf-service-hero-title">We turn ideas into visual masterpieces</h2>
            </div>
         </div>
         <div class="col-lg-4">
            <div class="bf-service-hero-gif pt-145">
               <img src="{% static 'web/videos/service.gif' %}" alt="">
            </div>
         </div>
      </div>
   </div>
</div>
<!-- bf-service-hero-area-end -->
