{% load static %}
<div class="tp-text-slide-top">
   <div class="swiper-container tp-text-slide-active mb-10">
      <div class="swiper-wrapper slide-transtion">
         <div class="swiper-slide">
            <div class="tp-text-content">
               <span>Award & recognitions</span>
            </div>
         </div>
         <div class="swiper-slide">
            <div class="tp-text-content">
               <span>Award & recognitions</span>
            </div>
         </div>
         <div class="swiper-slide">
            <div class="tp-text-content">
               <span>Award & recognitions</span>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="tp-text-slide-bottom">
   <div class="swiper-container tp-text-slide-active" dir="rtl">
      <div class="swiper-wrapper slide-transtion">
         <div class="swiper-slide">
            <div class="tp-text-content">
               <span>Award & recognitions</span>
            </div>
         </div>
         <div class="swiper-slide">
            <div class="tp-text-content">
               <span>Award & recognitions</span>
            </div>
         </div>
         <div class="swiper-slide">
            <div class="tp-text-content">
               <span>Award & recognitions</span>
            </div>
         </div>
      </div>
   </div>
</div>
