<section class="ed-call-action position-relative">
    <div class="container ed-container">
        <div class="ed-call-action__inner position-relative">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="ed-call-action__img">
                        <img src="/static/web/images/main/call-action-img.png" alt="call-action-img" />
                    </div>
                </div>
                <div class="col-lg-6 col-12 order-class">
                    <div class="ed-call-action__content">
                        <div class="ed-section-head">
                            <span class="ed-section-head__sm-title">GET STARTED NOW</span>
                            <h3 class="ed-section-head__title">Unlock Your Potential Today!</h3>
                            <p class="ed-section-head__text">
                                Ready to take the next step in your career? Our courses are designed to equip you with the skills needed to succeed in today's competitive world. Don't wait—join a community of learners who are already transforming their careers.
                            </p>
                        </div>
                        <div class="ed-call-action__content-btn">
                            <a href="javascript:void(0);" class="ed-btn"  data-bs-toggle="modal" data-bs-target="#loginModal"> Start Learning Today<i class="fi fi-rr-arrow-small-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>