{% extends 'web/base.html' %}
{% load static %}

{% block content %}
<!-- start page title -->
    <section
        class="ipad-top-space-margin page-title-big-typography cover-background p-0 md-background-position-left-center"
        style="background-image: url('{% static 'web/images/demo-restaurant-about-title-bg.jpg' %}')">
        <div class="container">
            <div class="row align-items-center justify-content-center small-screen">
                <div class="col-lg-6 col-md-8 position-relative text-center page-title-extra-large"
                    data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
                    <h1 class="alt-font text-dark-gray text-uppercase ls-minus-1px mb-0">Our story</h1>
                    <h2 class="m-auto text-red fw-600 text-uppercase mb-0"><span
                            class="h-2px w-5px bg-red d-inline-block align-middle me-5px"></span>Brand Update success<span
                            class="h-2px w-5px bg-red d-inline-block align-middle ms-5px"></span></h2>
                </div>
            </div>
        </div>
    </section>
    <!-- end page title -->

    <!-- start section -->
<section class="py-0 sm-pb-50px">
    <div class="container position-relative">
        <div class="row">
            <div class="col-10 col-md-3 d-none d-md-block"
                data-anime='{ "translateY": [-15, 0], "perspective": [1200,1200], "scale": [0.8, 1], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <img src="{% static 'web/images/demo-restaurant-about-01.jpg' %}" alt="" class="animation-float">
            </div>
            <div class="col-md-9 position-relative">
                <div class="overflow-hidden position-relative h-550px lg-h-500px md-h-auto">
                    <div class="w-100"
                        data-anime='{ "effect": "slide", "direction": "tb", "color": "#ffffff", "duration": 700, "delay": 0 }'>
                        <img src="{% static 'web/images/demo-restaurant-about-02.jpg' %}" alt=""
                            class="w-100 liquid-parallax" data-parallax-liquid="true" data-parallax-position="top"
                            data-parallax-scale="1.05">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- start section -->
<section class="bg-very-light-gray">
    <div class="container">
        <div class="row align-items-end overlap-section">
            <div class="col-lg-6 col-md-5 pe-60px md-pe-30px sm-pe-15px sm-mb-30px position-relative">
                <div class="overflow-hidden position-relative h-550px sm-h-auto">
                    <div class="w-100"
                        data-anime='{ "effect": "slide", "direction": "tb", "color": "#ffffff", "duration": 700, "delay": 0 }'>
                        <img src="{% static 'web/images/nelly.jpg' %}" alt=""
                            class="w-100 liquid-parallax" data-parallax-liquid="true" data-parallax-position="top"
                            data-parallax-scale="1.05">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-7 pb-50px md-pb-0">
                <div class="blockquote-style-01">
                    <!-- start blockquote -->
                    <i
                        class="bi bi-chat-quote float-start me-30px xs-me-20px text-base-color icon-extra-double-large xs-icon-double-large"></i>
                    <blockquote class="mb-0 d-table last-paragraph-no-margin">
                        <p class="fs-22 xs-fs-20 text-dark-gray ls-minus-05px w-80 lg-w-100 mb-15px">The food you
                            eat can be either the safest and most powerful medicine or the <span
                                class="fw-600 text-decoration-line-bottom">slowest form of poison.</span></p>
                        <div class="fw-500 text-dark-gray mt-15px">- Alexander harvard</div>
                    </blockquote>
                    <!-- end blockquote -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->


    <!-- start section -->
    <section class="pb-0 bg-very-light-gray">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-7 col-xl-8 col-lg-10 text-center"
                    data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <span class="fs-15 fw-600 text-red text-uppercase mb-25px d-block"><span
                            class="w-5px h-2px bg-red d-inline-block align-middle me-5px"></span>our legacy of quality<span class="w-5px h-2px bg-red d-inline-block align-middle ms-5px"></span></span>
                    <h3 class="alt-font text-dark-gray mb-0">We are a dedicated team with a passion for authentic Kerala flavours, delivering premium spices and snacks globally.</h3>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start section -->
    <section class="pt-4 overflow-hidden position-relative bg-very-light-gray">
        <div class="container">
            <div class="absolute-middle-left w-100 h-2px bg-base-color"></div>
            <div class="row align-items-center">
                <div class="col-12 position-relative">
                    <div class="outside-box-right-30"
                        data-anime='{ "translateX": [50, 0], "opacity": [1,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <div class="swiper magic-cursor"
                            data-slider-options='{ "slidesPerView": 1, "spaceBetween": 45, "loop": false, "pagination": { "el": ".slider-four-slide-pagination-1", "clickable": true, "dynamicBullets": false }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 4 }, "768": { "slidesPerView": 3 }, "320": { "slidesPerView": 2 } }, "effect": "slide" }'>
                            <div class="swiper-wrapper align-items-center">
                                <!-- start carousal item -->
                                <div class="swiper-slide">
                                    <img src="{% static 'web/images/demo-restaurant-story-02.jpg' %}" class="border-radius-6px" alt="" />
                                </div>
                                <!-- end carousal item -->
                                <!-- start carousal item -->
                                <div class="swiper-slide">
                                    <img src="{% static 'web/images/demo-restaurant-story-03.jpg' %}" class="border-radius-6px" alt="" />
                                </div>
                                <!-- end carousal item -->
                                <!-- start carousal item -->
                                <div class="swiper-slide">
                                    <img src="{% static 'web/images/demo-restaurant-story-04.jpg' %}" class="border-radius-6px" alt="" />
                                </div>
                                <!-- end carousal item -->
                                <!-- start carousal item -->
                                <div class="swiper-slide">
                                    <img src="{% static 'web/images/demo-restaurant-story-05.jpg' %}" class="border-radius-6px" alt="" />
                                </div>
                                <!-- end carousal item -->
                                <!-- start carousal item -->
                                <div class="swiper-slide">
                                    <img src="{% static 'web/images/demo-restaurant-story-06.jpg' %}" class="border-radius-6px" alt="" />
                                </div>
                                <!-- end carousal item -->
                                <!-- start carousal item -->
                                <div class="swiper-slide">
                                    <img src="{% static 'web/images/demo-restaurant-story-07.jpg' %}" class="border-radius-6px" alt="" />
                                </div>
                                <!-- end carousal item -->
                                <!-- start carousal item -->
                                <div class="swiper-slide">

                                </div>
                                <!-- end carousal item -->
                            </div>
                        </div>
                    </div>
                    <!-- start slider pagination -->
                    <!--<div class="swiper-pagination slider-four-slide-pagination-1 swiper-pagination-style-2 swiper-pagination-clickable swiper-pagination-bullets"></div>-->
                    <!-- end slider pagination -->
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->

    <!-- start section -->
<section>
    <div class="container">
    
        <div class="row align-items-center"
            data-anime='{ "el": "childs", "translateX": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
            <div class="col-lg-4 md-mb-30px text-center text-md-start">
                <span class="fs-15 fw-600 text-red text-uppercase mb-10px d-block"><span
                        class="w-5px h-2px bg-red d-inline-block align-middle me-5px"></span>Our Heritage</span>
                <h2 class="alt-font text-dark-gray mb-0">Our Journey</h2>
            </div>
            <div class="col-6 col-lg-2 col-md-3 sm-mb-40px text-center">
                <img class="w-70" src="{% static 'web/images/award-01.png' %}" alt="">
            </div>
            <div class="col-6 col-lg-2 col-md-3 sm-mb-40px text-center">
                <img class="w-70" src="{% static 'web/images/award-02.png' %}" alt="">
            </div>
            <div class="col-6 col-lg-2 col-md-3 text-center">
                <img class="w-70" src="{% static 'web/images/award-03.png' %}" alt="">
            </div>
            <div class="col-6 col-lg-2 col-md-3 text-center">
                <img class="w-70" src="{% static 'web/images/award-04.png' %}" alt="">
            </div>
        </div>
    </div>
</section>
<!-- end section -->

<!-- start section -->
<section class="sm-pt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11" data-bottom-top="transform:translateX(50px)"
                data-top-bottom="transform:translateX(-50px)">
                <div class="row g-0 blockquote-style-04">
                    <div class="col-md-4 blockquote-img position-relative z-index-1">
                        <img src="{% static 'web/images/demo-restaurant-chefs-09.jpg' %}" class="d-none d-md-block"
                            alt="">
                    </div>
                    <div class="col-md-8">
                        <div
                            class="blockquote-content bg-base-color position-relative overflow-hidden h-100 d-flex align-items-center">
                            <img src="{% static 'web/images/blockquote-right-icon.svg' %}"
                                class="position-absolute right-0px bottom-0px h-350px md-h-180px lg-h-250px xl-h-300px"
                                alt="">
                            <blockquote class="position-relative z-index-1 mb-0 last-paragraph-no-margin">
                                <p class="fs-24 md-fs-20 fw-300 text-white ls-minus-05px w-75 sm-w-80">Our commitment to quality means we only use the finest ingredients. Whether it's <span
                                        class="text-decoration-underline fw-500">our crispy chips or spicy pickles,
                                        every bite tells a story of tradition.</span></p>
                                <div class="fs-20 lh-28 md-fs-18 fw-500 text-white mt-25px">Bichippas <span
                                        class="d-block fs-16 opacity-6 fw-400">Founders</span></div>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center align-items-center mt-5 xs-mt-10"
            data-anime='{ "translateY": [50, 0], "opacity": [0,1], "duration": 1200, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
            <div class="col-12 text-center last-paragraph-no-margin">
                <div
                    class="d-inline-block align-middle bg-red fw-500 text-white border-radius-30px ps-20px pe-20px fs-14 me-10px sm-m-10px">
                    Food Expert</div>
                <div class="d-inline-block align-middle text-dark-gray fs-18 fw-500">Unique and delicious snacks
                    from the best <span class="text-decoration-line-bottom-medium fw-600">traditional recipes.</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
{% endblock %}
