{% extends 'web/base.html' %}
{% load static %}


{% block content %}
<section class="" style="background: #F4F1EA;">
	<div class="section_padding hero" >
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="thumb">
						<img src="/static/web/images/main.png" alt="" style="max-height:400px">
					</div>
				</div>
				<div class="col-md-6">
					<span class="subline">ALOT KITCHEN</span>
					<h1>Best Food Delivery in {{area.name}}</h1>
					<p>
						Unlock the joy of effortless cooking with Alot Kitchen. Our tailored meal plans bring delicious, chef-crafted dishes right to your table—saving you time and stress every day. Sign up now and savor the flavors that make life deliciously simple!
					</p>
					<div class="main_inline">
						<a href="#packages" class="btn btn-primary">Browse Plans</a>
						<a href="tel:+971569009143"><img src="/static/web/images/mobile.png" alt="" style="width:40px"></a>
					</div>
					{% if not request.user.is_authenticated %}
					<p>Or <a href="{% url 'auth_login' %}" class="text-decoration-underline">Sign In to your account</a></p>
					{% endif %}
				</div>
			</div>
			
		</div>
	</div>
</section>


<section style="background: #F4F1EA;" class="section_padding_sm pt-0">
	<div class="marquee ">
		<span>Savor Every Bite with Our Signature Flavours</span>
		<span>Your Favorite Meals, Freshly Delivered</span>
		<span>Classic Dishes, Modern Convenience</span>
	</div>
</section>


<section style="background: #F4F1EA;" id="packages">
	<div class="container section_padding_sm packages">
		<div class="row">
			{% for category in meal_categories %}
			<div class="col-lg-3 col-md-4 col-sm-6 col-6">
				<div class="package_block">
					<div class="package_image">
						<img src="{{category.image.url}}" alt="">
					</div>
					<div class="package-caption">
						<div class="package-caption-top">
							<h3 class=""><a href="{{category.get_web_url}}">{{category.name}}</a></h3>
							<p>{{category.description}}</p>
						</div>
						<div class="package-caption-bottom">
							{% if category.brochure %}<a href="{{category.brochure.url}}" class="brochure" target="_blank">Brochure</a>{% endif %}
							<a href="{{category.get_web_url}}" class="plan">View Plan</a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>


{% endblock content %}
