{% extends 'web/base.html' %}
{% load static crispy_forms_tags %}
{% block content %}

<section style="background: #F4F1EA;" id="packages">
    <div class="container section_padding_sm packages">
        <div class="row">

            <div class="col-12 mb-5">
                <div id="progress">
                    <div id="progress-bar"></div>
                    <ul id="progress-num">
                        <li><span class="step active">1</span><span>Select Plan</span></li>
                        <li><span class="step active">2</span><span>Select Meals</span></li>
                        <li><span class="step active">3</span><span>Create Profile</span></li>
                        <li><span class="step active">4</span><span>Add Address</span></li>
                        <li><span class="step">5</span><span>Set Delivery Address</span></li>
                        <li><span class="step">6</span>Finish</li>
                    </ul>
                </div>
            </div>

            <div class="col-12 mb-3">
                <div class="row">
                    <div class="col-9">
                        <h3 class="text-left">Add Address</h3>
                    </div>
                    <div class="col-3 text-end">
                        <button type="button" class="btn btn-primary float-right" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">Add New Address</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 mx-auto">
                <div class="border_box">
                    {% if not addresses %}
                    No addresses found. Please add a new address.
                    {% else %}
                    <h4 class="mb-3">Your Addresses</h4>
                    <div class="row">
                        {% for address in addresses %}
                        <div class="col-md-6">
                            <div class="address-item mb-3 p-3 border rounded">
                                 {% if address.is_default %}
                                <span class="badge bg-success mb-3" style="position: absolute;right: 20px;top: 8px;">Default</span>
                                {% endif %}
                                <h5 class="mb-1 lh-base">Room No: {{ address.room_no }}, Floor: {{ address.floor }} <br> Building: {{ address.building_name }}</h5>
                                <p class="mb-1 lh-base">{{ address.street_name }}, {{ address.area }}</p>
                                <p class="mb-4 lh-base">Contact: {{ address.contact_number }}</p>
                                <span class="border fs-14 px-2 py-1" style="border-radius: 10px;">{{ address.address_type }}</span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if addresses %}
                        <a href="{% url 'web:set_delivery_address' instance.pk %}" class="btn btn-primary px-5">Next</a>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>
</section>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form action="" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add Address</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <div class="row">
                        {% for field in form %}
                        <div class="col-md-6">
                            {{ field|as_crispy_field }}
                        </div>
                        {% endfor %}
                    </div>

                    <div class="pt-3">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}


{% block javascript %}
<script>
    // on check #dinner_address, paste breakfast address to dinner address
    $('#dinner_address').change(function () {
        if ($(this).is(':checked')) {
            $('#id_dinner_address_room_no').val($('#id_breakfast_address_room_no').val());
            $('#id_dinner_address_floor').val($('#id_breakfast_address_floor').val());
            $('#id_dinner_address_building_name').val($('#id_breakfast_address_building_name').val());
            $('#id_dinner_address_street_name').val($('#id_breakfast_address_street_name').val());
            $('#id_dinner_address_area').val($('#id_breakfast_address_area').val());
        }
    });

    // on check #lunch_address, paste breakfast address to lunch address
    $('#lunch_address').change(function () {
        if ($(this).is(':checked')) {
            $('#id_lunch_address_room_no').val($('#id_breakfast_address_room_no').val());
            $('#id_lunch_address_floor').val($('#id_breakfast_address_floor').val());
            $('#id_lunch_address_building_name').val($('#id_breakfast_address_building_name').val());
            $('#id_lunch_address_street_name').val($('#id_breakfast_address_street_name').val());
            $('#id_lunch_address_area').val($('#id_breakfast_address_area').val());
        }
    });
</script>
{% endblock javascript %}