.platform_item {
    display: flex;
    border-bottom: 2px solid #0096877d;
    margin-bottom: 20px;
    padding-top: 20px;
}

.platform_item:hover {
    border-bottom: 2px solid #009688;
}

.loop_counter {
    display: block;
    font-size: 2.5rem;
    font-weight: 500;
    color: #009688;
    width: 80px;
    margin-right: 15px;
    padding-top: 10px;
}

.platform_content {
    padding-right: 15px;
    width: 90%;
}

span.arrow svg {
    width: 20px;
    height: 100%;
    object-fit: contain;
    fill: #0096877d;
}

.platform_item:hover span.arrow svg {
    fill: #009688;
}

.spotlight_item {
    display: inline-block;
    height: 400px;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    padding: 30px;
    position: relative;
    width: 100%;
    transition: background-color .5s ease-in-out;
    -webkit-transition: background-color .5s ease-in-out;
    margin-bottom: 20px;
}


.spotlight_item:hover {
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
}


.spotlight_category {
    display: inline-block;
    background-color: #fff;
    color: #000;
    padding: 8px 12px;
    border-radius: 15px;
    margin-bottom: 10px;
    line-height: 1;
    font-size: 14px;
}

.spotlight_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

.content_item {
    padding: 20px 40px;
}

.read_more {
    display: flex;
    align-items: center;
    padding: 10px 0;
    color: #000;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.read_more:hover {
    color: #009688;
}

.read_more span {
    margin-left: 10px;
}

.read_more span svg {
    width: 40px;
}

.read_more:hover span svg .blacked {
    fill: #000;
}

.read_more:hover span svg .blacked {
    fill: #009688;
}

.testimonial strong {
    text-decoration: underline;
}

.client-box a {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, .08);
    border-radius: 4px;
}

.html_content h1 {
    font-size: 2.5rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
}

.html_content h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 15px;
}

.html_content h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}

.html_content h4 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 8px;
}

.html_content li {
    list-style: disc;
    padding-left: 10px;
}

.html_content p,
.html_content strong {
    font-size: 1rem;
    color: #747474;
    margin-bottom: 10px;
}