{% extends "web/base.html" %}
{% load static %}
{% load cms_tags %}
{% block title %}Our Centre in Calicut | 360 Marketing School{% endblock %}

{% block content %}

<div class="about-area">
    <div class="container-fluid">
        <div class="about-top-content" data-cues="slideInUp">
            <span>Our Centers</span>
            <h2>{% cms_text "centers.hero_title" "Digital Marketing in Calicut" %}</h2>
        </div>
        <div class="row justify-content-center align-items-center" data-cues="slideInUp">
            <div class="col-lg-7 col-md-12">
                <div class="about-image">
                    <img src="/static/web/images/about.jpg" alt="image">
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="about-content">
                    <h3>Digital Marketing Courses</h3>
                    <p class="mb-0">We believe in learning by doing. Our teaching philosophy is centered around
                        providing you with hands-on training and real-world projects. We bridge the gap between theory
                        and practice, equipping you with the job-ready skills that employers are looking for. </p>
                    <div class="community-btn">
                        <a href="#" class="default-btn bg-yellow">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="features-area pt-100 pb-100 bg-white">
    <div class="container-fluid">
        <div class="section-title-wrap text-center mx-auto" data-cues="slideInUp">
            <h2 class="section_title">{% cms_text "centers.why_title" "Why Choose 360 Marketing School Calicut?" %}</h2>
        </div>
        <div class="row justify-content-center mt-5" data-cues="slideInUp">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="feature-card h-100 p-4 rounded-3 shadow-sm text-center">
                    <div class="feature-icon mb-4">
                        <img src="{% static 'web/images/icons/certificate.png' %}" alt="Expert-Led Training" style="width:40px;">
                    </div>
                    <h5>Expert-Led Training</h5>
                    <p>Learn from seasoned professionals with extensive experience in the digital marketing industry.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="feature-card h-100 p-4 rounded-3 shadow-sm text-center">
                    <div class="feature-icon mb-4">
                        <img src="{% static 'web/images/icons/job.png' %}" alt="Hands-On Projects" style="width:40px;">
                    </div>
                    <h5>Hands-On Projects</h5>
                    <p>Gain practical experience by working on real-world projects and case studies.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="feature-card h-100 p-4 rounded-3 shadow-sm text-center">
                    <div class="feature-icon mb-4">
                        <img src="{% static 'web/images/icons/mentor.png' %}" alt="Personalized Mentorship" style="width:40px;">
                    </div>
                    <h5>Personalized Mentorship</h5>
                    <p>Receive one-on-one guidance and support from our dedicated mentors.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="feature-card h-100 p-4 rounded-3 shadow-sm text-center">
                    <div class="feature-icon mb-4">
                        <img src="{% static 'web/images/icons/lifetime.png' %}" alt="Career Support" style="width:40px;">
                    </div>
                    <h5>Career Support</h5>
                    <p>Benefit from our comprehensive career services, including placement assistance and resume building.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="services-area ptb-100">
    <div class="container-fluid">
        <div class="section-title" data-cues="slideInUp">
            <h2 class="section_title">Flexible Learning Options</h2>
            <p>We offer a blended learning model to suit your needs.</p>
        </div>
        <div class="row justify-content-center" data-cues="slideInUp">
            <div class="col-lg-4 col-md-6">
                <div class="services-card">
                    <div class="icon-image">
                        <img src="{% static 'web/images/services/icon5.png' %}" alt="Live Classes">
                    </div>
                    <div class="content">
                        <h3>Live Interactive Classes</h3>
                        <p>Engage in real-time discussions, Q&A sessions, and collaborative projects with our expert instructors.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-card">
                    <div class="icon-image">
                        <img src="{% static 'web/images/services/icon6.png' %}" alt="Recorded Sessions">
                    </div>
                    <div class="content">
                        <h3>Recorded Sessions</h3>
                        <p>Never miss a class. Access recorded lectures anytime, anywhere to review concepts and catch up on missed sessions.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-card">
                    <div class="icon-image">
                        <img src="{% static 'web/images/services/icon7.png' %}" alt="Community Support">
                    </div>
                    <div class="content">
                        <h3>Community Support</h3>
                        <p>Join our vibrant online community to network with peers, collaborate on projects, and get your doubts cleared.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="testimonials-area pt-100 pb-100">
    <div class="container-fluid">
        <div class="section-title-wrap text-center mx-auto" data-cues="slideInUp">
            <h2 class="section_title">What Our Calicut Students Say</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-md-6">
                <div class="testimonials-card">
                    <ul class="rating-list">
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                    </ul>
                    <h3>Moving from <b>Banking money transfer</b></h3>
                    <p>My website is on wordpress, I'm moving from wordpress to Uvodo. I've a new project now I,m Working on with Uvodo.</p>
                    <span><img src="/static/web/images/star2.svg" alt="star">Trustpilot</span>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="testimonials-card">
                    <ul class="rating-list">
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                    </ul>
                    <h3>The most wonderful system in <b>online banking</b></h3>
                    <p>My website is on wordpress, I'm moving from wordpress to Uvodo. I've a new project now I,m Working on with Uvodo.</p>
                    <span><img src="/static/web/images/star2.svg" alt="star">Trustpilot</span>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="testimonials-card">
                    <ul class="rating-list">
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                    </ul>
                    <h3>Good support, some room <b>for improvement</b></h3>
                    <p>My website is on wordpress, I'm moving from wordpress to Uvodo. I've a new project now I,m Working on with Uvodo.</p>
                    <span><img src="/static/web/images/star2.svg" alt="star">Trustpilot</span>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="testimonials-card">
                    <ul class="rating-list">
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                    </ul>
                    <h3>It was just what I <b>needed</b></h3>
                    <p>My website is on wordpress, I'm moving from wordpress to Uvodo. I've a new project now I,m Working on with Uvodo.</p>
                    <span><img src="/static/web/images/star2.svg" alt="star">Trustpilot</span>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="testimonials-card">
                    <ul class="rating-list">
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                    </ul>
                    <h3>Great project and soft <b>UX</b></h3>
                    <p>My website is on wordpress, I'm moving from wordpress to Uvodo. I've a new project now I,m Working on with Uvodo.</p>
                    <span><img src="/static/web/images/star2.svg" alt="star">Trustpilot</span>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="testimonials-card">
                    <ul class="rating-list">
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                    </ul>
                    <h3>Great team, promising <b>project</b></h3>
                    <p>My website is on wordpress, I'm moving from wordpress to Uvodo. I've a new project now I,m Working on with Uvodo.</p>
                    <span><img src="/static/web/images/star2.svg" alt="star">Trustpilot</span>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="testimonials-card">
                    <ul class="rating-list">
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                    </ul>
                    <h3>Great project and soft <b>UX</b></h3>
                    <p>My website is on wordpress, I'm moving from wordpress to Uvodo. I've a new project now I,m Working on with Uvodo.</p>
                    <span><img src="/static/web/images/star2.svg" alt="star">Trustpilot</span>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="testimonials-card">
                    <ul class="rating-list">
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                        <li>
                            <img src="/static/web/images/star1.svg" alt="star">
                        </li>
                    </ul>
                    <h3>Great team, promising <b>project</b></h3>
                    <p>My website is on wordpress, I'm moving from wordpress to Uvodo. I've a new project now I,m Working on with Uvodo.</p>
                    <span><img src="/static/web/images/star2.svg" alt="star">Trustpilot</span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="services-area ptb-100 bg-minimal">
    <div class="container-fluid">
        <div class="section-title" data-cues="slideInUp">
            <h2 class="section_title">Curriculum Highlights</h2>
        </div>
        <div class="row justify-content-center" data-cues="slideInUp">
            <div class="col-lg-3 col-md-6">
                <div class="services-card">
                    <div class="icon-image">
                        <img src="{% static 'web/images/services/icon1.png' %}" alt="icon1">
                    </div>
                    <div class="content">
                        <h3>Fundamentals of Digital Marketing</h3>
                        <p>Learn the core principles of SEO, SEM, social media, and content marketing to build a strong foundation.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="services-card">
                    <div class="icon-image">
                        <img src="{% static 'web/images/services/icon2.png' %}" alt="icon2">
                    </div>
                    <div class="content">
                        <h3>Advanced Marketing Strategies</h3>
                        <p>Dive deeper into analytics, automation, and performance marketing to drive measurable results.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="services-card">
                    <div class="icon-image">
                        <img src="{% static 'web/images/services/icon3.png' %}" alt="icon3">
                    </div>
                    <div class="content">
                        <h3>Hands-On <span>Projects</span></h3>
                        <p>Work on real-world campaigns and case studies to gain practical, job-ready experience through wide projects.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="services-card">
                    <div class="icon-image">
                        <img src="{% static 'web/images/services/icon4.png' %}" alt="icon4">
                    </div>
                    <div class="content">
                        <h3>Certification & Career Support</span></h3>
                        <p>Earn industry-recognized certifications and get guidance to accelerate your digital marketing career.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="cta bg-minimal">
    <div class="container">
        <div class="subscribe-area ptb-100">
            <div class="container">
                <div class="subscribe-content">
                    <h2>Ready to Launch Your Digital Marketing Career?</h2>

                    {% if messages %}
                    <div class="messages-container mb-3">
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <form class="newsletter-form" method="post" action="{% url 'web:newsletter_subscribe' %}">
                        {% csrf_token %}
                        {{ newsletter_form.email }}
                        {% if newsletter_form.email.errors %}
                        <div class="text-danger small mt-1">
                            {% for error in newsletter_form.email.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                        <button type="submit" class="default-btn">Download Brochure</button>
                    </form>
                </div>
            </div>

            <div class="subscribe-shape1">
                <img src="/static/web/images/subscribe/shape1.png" alt="image">
            </div>
            <div class="subscribe-shape2">
                <img src="/static/web/images/subscribe/shape2.png" alt="image">
            </div>
        </div>
    </div>
</div>

{% endblock %}