{% extends "web/base.html" %}
{% load static %}
{% block title %}Privacy Policy | 360 Marketing School{% endblock %}

{% block content %}

<div class="page-banner-area communities-banner bg-none">
    <div class="container-fluid">
        <div class="row justify-content-center" data-cue="fadeIn">
            <div class="col-lg-10 col-md-12">
                <div class="page-banner-content communities-banner-content">
                    <span class="banner-label">{{ page.banner_label }}</span>
                    <h2>{{ page.banner_title }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start Privacy Policy Area -->
<div class="terms-conditions-area ptb-150">
    <div class="container">
        <div class="terms-conditions-content">
            {% if policy and policy.content %}
                {{ policy.content|safe }}
            {% endif %}
        </div>
    </div>
</div>
<!-- End Privacy Policy Area -->

{% endblock %}

