{% extends 'web/base.html' %}
{% load static %}


{% block content %}

<section class="p-0 top-space-margin position-relative overflow-hidden">
    <div class="container-fluid p-0 position-relative">
        <div class="row g-0">
            <div class="col-xl-4 col-lg-5 d-flex justify-content-center align-items-center ps-10 xxl-ps-6 xl-ps-4 md-ps-4 sm-ps-0 position-relative order-2 order-lg-1"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;:0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <div
                    class="vertical-title-center align-items-center justify-content-center flex-shrink-0 w-75px sm-w-50px">
                    <h1 class="title fs-15 alt-font text-dark-gray fw-700 text-uppercase ls-1px text-uppercase d-flex w-auto align-items-center m-0"
                        data-fancy-text="{ &quot;opacity&quot;: [0, 1], &quot;translateY&quot;: [50, 0], &quot;filter&quot;: [&quot;blur(20px)&quot;, &quot;blur(0px)&quot;], &quot;string&quot;: [&quot;about us&quot;], &quot;duration&quot;: 400, &quot;delay&quot;: 0, &quot;speed&quot;: 50, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    </h1>
                </div>
                <div class="border-start border-color-extra-medium-gray ps-40px sm-ps-20px position-relative z-index-9">
                    <h2
                        class="text-dark-gray fw-600 alt-font outside-box-right-10 xl-outside-box-right-15 lg-outside-box-right-20 md-me-0 sm-mb-0 ls-minus-3px">
                        Building a Legacy of Success Across Diverse Sectors</h2>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7 position-relative one-half-screen order-1 order-lg-2 md-mb-50px">
                <div class="overflow-hidden position-relative">
                    <div class="w-100"
                        data-anime="{ &quot;effect&quot;: &quot;slide&quot;, &quot;direction&quot;: &quot;lr&quot;, &quot;color&quot;: &quot;#f7f7f7&quot;, &quot;duration&quot;: 1000, &quot;delay&quot;: 0 }">
                        <img src="/static/web/images/main/london.jpg" alt class="w-100 liquid-parallax"
                            data-parallax-liquid="true" data-parallax-position="top" data-parallax-scale="1.05">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="">
    <div class="container">
        <div class="row g-0 counter-style-04"
            data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;:0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
            <div
                class="col-lg-3 col-md-6 feature-box text-start hover-box border-start sm-border border-color-extra-medium-gray ps-35px pe-35px pt-25px pb-25px lg-ps-25px lg-pe-25px md-ps-35px md-pe-35px md-mb-50px sm-mb-30px">
                <div class="feature-box-content">
                    <p class="text-dark-gray mb-20 sm-mb-10 fw-500 w-90 fs-17 lh-28">Monthly engagement on our digital
                        solutions</p>
                    <h2 class="vertical-counter d-inline-flex text-dark-gray fw-700 ls-minus-2px mt-25 alt-font mb-0"
                        data-text="+" data-to="8500"><sup class="text-dark-gray top-0"><i
                                class="feather icon-feather-arrow-up icon-small"></i></sup></h2>
                </div>
            </div>
            <div
                class="col-lg-3 col-md-6 feature-box text-start hover-box border-start sm-border border-color-extra-medium-gray md-border-end ps-35px pe-35px pt-25px pb-25px lg-ps-25px lg-pe-25px md-mb-50px sm-mb-30px">
                <div class="feature-box-content">
                    <p class="text-dark-gray mb-20 sm-mb-10 fw-500 w-90 fs-17 lh-28">Revenue growth driven by our
                        strategies </p>
                    <h2 class="vertical-counter d-inline-flex text-dark-gray fw-700 ls-minus-2px mt-25 alt-font mb-0"
                        data-text="%" data-to="87"><sup class="text-dark-gray top-0"><i
                                class="feather icon-feather-arrow-up icon-small"></i></sup></h2>
                </div>
            </div>
            <div
                class="col-lg-3 col-md-6 feature-box text-start hover-box border-start sm-border border-color-extra-medium-gray ps-35px pe-35px pt-25px pb-25px lg-ps-25px lg-pe-25px sm-mb-30px">
                <div class="feature-box-content">
                    <p class="text-dark-gray mb-20 sm-mb-10 fw-500 w-90 fs-17 lh-28">Brands transformed through our
                        expertise.</p>
                    <h2 class="vertical-counter d-inline-flex text-dark-gray fw-700 ls-minus-2px mt-25 alt-font mb-0"
                        data-text="+" data-to="6834"><sup class="text-dark-gray top-0"><i
                                class="feather icon-feather-arrow-up icon-small"></i></sup></h2>
                </div>
            </div>
            <div
                class="col-lg-3 col-md-6 feature-box text-start hover-box border-start sm-border border-color-extra-medium-gray md-border-end ps-35px pe-35px pt-25px pb-25px lg-ps-25px lg-pe-25px">
                <div class="feature-box-content">
                    <p class="text-dark-gray mb-20 sm-mb-10 fw-500 w-90 fs-17 lh-28">Global reach achieved for our
                        clients</p>
                    <h2 class="vertical-counter d-inline-flex text-dark-gray fw-700 ls-minus-2px mt-25 alt-font mb-0"
                        data-text="%" data-to="92"><sup class="text-dark-gray top-0"><i
                                class="feather icon-feather-arrow-up icon-small"></i></sup></h2>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="pt-0 pb-0">
    <div class="container">
        <div class="row mb-5 sm-mb-30px">
            <div class="col-lg-6 position-relative">
                <div class="row align-items-center position-relative md-mb-15"
                    data-anime="{ &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;:0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    <div class="col-md-5 sm-mb-30px" data-bottom-top="transform: translateY(50px)"
                        data-top-bottom="transform: translateY(-50px)">
                        <img class="w-100" src="/static/web/images/main/a1.png" alt />
                    </div>
                    <div class="col-lg-7 col-md-7 sm-mb-30px text-end"
                        data-bottom-top="transform: translateY(-30px)"
                        data-top-bottom="transform: translateY(30px)">
                        <img src="/static/web/images/main/a3.png" alt
                            class="box-shadow-quadruple-large md-w-100" />
                    </div>
                    <div class="w-50 sm-w-100 overflow-hidden position-absolute sm-position-relative left-140px bottom-minus-200px sm-bottom-0px sm-left-0px p-0 sm-ps-15px sm-pe-15px"
                        data-shadow-animation="true" data-animation-delay="100"
                        data-bottom-top="transform: translateY(20px)"
                        data-top-bottom="transform: translateY(-20px)">
                        <img src="/static/web/images/main/a2.png" alt
                            class="box-shadow-quadruple-large w-100" />
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 offset-xl-1 md-mt-20 sm-mt-0"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;:0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <div class="mb-10px">
                    <span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
                    <span
                        class="text-gradient-base-color fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">Administration
                        Philosophy</span>
                </div>
                <h4 class="text-dark-gray alt-font fw-600 ls-minus-2px mb-20px">
                    Fair, Transparent, and Ethical Leadership
                </h4>
                <p class="w-90 md-w-100 mb-35px sm-mb-20px">
                    Propello Corporate Holdings is a dynamic organization built on a foundation of
                    entrepreneurial spirit and a relentless pursuit of growth. We nurture a culture of
                    innovation and empower our businesses to thrive in a competitive and ever-changing
                    landscape. Our diverse portfolio reflects our commitment to identifying and capitalizing
                    on emerging opportunities across a range of sectors, while always maintaining a focus on
                    long-term sustainability and responsible business practices

                </p>
                <a href="{% url 'web:about_us' %}"
                    class="btn btn-large btn-dark-gray btn-switch-text btn-box-shadow border-1 left-icon me-10px sm-mb-15px sm-mt-15px">
                    <span>
                        <span class="btn-double-text" data-text="Know More">Know More</span>
                    </span>
                </a>
                <a href="{% url 'web:about_story' %}"
                    class="btn btn-large btn-transparent-light-gray border-1 btn-switch-text left-icon sm-mb-15px sm-mt-15px">
                    <span>
                        <span><i class="feather icon-feather-briefcase"></i></span>
                        <span class="btn-double-text" data-text="Our Story">Our Story</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>


<section class="pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-50px md-mb-45px sm-mb-30px"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [15, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <h3 class="text-dark-gray fw-600 ls-minus-2px alt-font">We work with brands and businesses to ensure
                    they shine.</h3>
            </div>
            <div class="col-lg-12"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [15, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <div class="row">
                    <div class="col-md-4">
                        <div class="fs-19 fw-600 text-dark-gray w-90 xl-w-100 sm-mb-10px">Guiding Principles for
                            Integrity and Excellence</div>
                    </div>
                    <div class="col-md-8 last-paragraph-no-margin">
                        <p>The Prospello Global Code of Conduct outlines the ethical standards and behaviors expected
                            from every member of our organization. It serves as a foundation for maintaining trust,
                            respect, and accountability in all our interactions, ensuring we operate with integrity and
                            responsibility across the globe.

                        </p>
                    </div>
                </div>
                <div class="separator-line-1px border-bottom border-color-extra-medium-gray mt-35px mb-35px"></div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="fs-19 fw-600 text-dark-gray w-90 xl-w-100 sm-mb-10px">Driving Growth with
                            Responsibility and Innovation</div>
                    </div>
                    <div class="col-md-8 last-paragraph-no-margin">
                        <p>Our Business Development Regulations provide a structured framework for pursuing growth
                            opportunities while adhering to ethical practices and compliance standards. These guidelines
                            ensure that every initiative aligns with our core values and contributes to sustainable,
                            long-term success.

                        </p>
                    </div>
                </div>
                <div class="separator-line-1px border-bottom border-color-extra-medium-gray mt-35px mb-35px"></div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="fs-19 fw-600 text-dark-gray w-90 xl-w-100 sm-mb-10px">Building Trust Through
                            Transparency and Respect</div>
                    </div>
                    <div class="col-md-8 last-paragraph-no-margin">
                        <p>The Employee and Customer Relation Terms define the principles that govern our relationships
                            with both internal teams and external stakeholders. By fostering open communication,
                            fairness, and mutual respect, we create a positive and productive environment for everyone
                            connected to Prospello.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% if teams %}
<section class="pb-0">
    <div class="container">
        <div class="col-lg-12 mb-50px md-mb-45px sm-mb-30px"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [15, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <h3 class="text-dark-gray fw-600 ls-minus-2px alt-font">Leadership Team</h3>
            </div>
        <div class="row row-cols-1 row-cols-lg-5 row-cols-sm-2 appear anime-child anime-complete" data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;rotateX&quot;:[30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;:0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
            {% for team in teams %}
            <div class="col team-style-10 mb-30px md-mb-30px">
                <figure class="mb-0 position-relative overflow-hidden">
                    <img src="{{team.image.url}}" alt="" data-no-retina="" style="height: 100%;object-fit: cover;">
                    <img src="{{team.image.url}}" class="hover-switch-image" alt="" data-no-retina="" style="height: 100%;object-fit: cover;">
                    <figcaption class="w-100 h-100 d-flex flex-wrap">
                        <div class="social-icon d-flex flex-column flex-shrink-1 mb-auto p-30px ms-auto">
                            <a href="https://www.twitter.com/" target="_blank" class="text-white bg-dark-gray"><i class="fa-brands fa-linkedin icon-small"></i></a>
                        </div>
                        <div class="team-member-strip w-100 mt-auto d-flex align-items-center pt-15px pb-15px ps-30px pe-30px bg-white">
                            <span class="w-100 team-member-name fw-600 alt-font text-dark-gray fs-18 ls-minus-05px">{{team.name}}</span>
                            <span class="w-100 member-designation fs-15 lh-20 ms-auto alt-font">{{team.designation}}</span>
                        </div> 
                    </figcaption>
                </figure>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="row">
                    <div class="col-md-4 md-mb-30px">
                        <figure class="mb-0 position-relative overflow-hidden">
                            <img src="/static/web/images/main/who-we-are-text.jpg" alt />
                        </figure>
                    </div>
                    <div class="col-md-8">
                        <div class="content_item">
                            <div
                                class="fs-24 text-black fw-600 text-dark-gray w-90 xl-w-100 mb-20px sm-mb-20px alt-font">
                                Prospello Charitable Foundation
                            </div>
                            <p class="text-black">
                                Prospello Charitable Foundation is a non-profit community founded by Prospello global
                                group of companies by collaborating with different institutions in providing social
                                service and aids to the needy. It has a comprehensive development approach, Its prime
                                objective is to create and support meaningful activities through innovative institutions
                                to address some of the society’s most pressing developmental challenges The Foundation
                                lays significant emphasis on leveraging technology for developmental solutions.
                                Following its model of direct engagement, and support the Foundation directly reaches
                                out to the affected people through trained volunteers and representatives.
                            </p>
                            <a href="{% url 'web:society_industry' %}" class="read_more alt-font">Read More ...
                                <span class="icon">
                                    <svg fill="#ffffff" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-201.3 -201.3 732.60 732.60"
                                        xml:space="preserve" stroke="#ffffff" stroke-width="7.590000000000001"
                                        transform="rotate(0)">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0">
                                            <path transform="translate(-201.3, -201.3), scale(22.89375)"
                                                d="M16,31.275838276992243C20.220933178967165,30.975225125617566,22.294992238867042,26.42767693747922,24.79078740189603,23.010419020334773C27.07980447152857,19.876282926334454,30.1396370584565,16.751810970420184,29.388552939798977,12.944150159963828C28.62105345881945,9.053270798814836,24.875242777059302,6.70714129498644,21.255325069391397,5.087205047465767C17.789541205632464,3.5362446775427947,14.0076917061179,3.1510484190155594,10.446145373870417,4.467302035389663C6.34979320329992,5.98120578827243,2.049958628438043,8.337403713998157,0.9944652514678225,12.575084613912889C-0.07649487730091264,16.87486269047541,2.7119123897732664,20.929274520238916,5.4850871658735,24.38536317163394C8.2442753162295,27.82402089190895,11.60234240683032,31.589037669566615,16,31.275838276992243"
                                                fill="#000000" strokewidth="0" class="blacked"></path>
                                        </g>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                        </g>
                                        <g id="SVGRepo_iconCarrier">
                                            <path id="XMLID_222_"
                                                d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001 c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213 C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606 C255,161.018,253.42,157.202,250.606,154.389z">
                                            </path>
                                        </g>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center"
                data-anime="{ &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <i class="bi bi-envelope text-dark-gray d-inline-block align-middle icon-extra-medium me-5px"></i>
                <div class="fs-18 text-dark-gray d-inline-block align-middle fw-500">Save your precious time and
                    effort spent for finding a solution. <a href="{% url 'web:contact' %}"
                        class="text-dark-gray text-decoration-line-bottom fw-600">Contact us now</a></div>
            </div>
        </div>
    </div>
</section>

{% endblock %}