<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Primary Meta Tags -->
    <title>Prospello Corporate Holdings | Empowering Innovation, Transforming Futures</title>
    <meta name="title" content="Prospello Corporate Holdings | Empowering Innovation, Transforming Futures" />
    <meta name="description"
        content="Driving innovation with cutting-edge digital software solutions and expert consultancy services. Empowering businesses, advancing communities, and delivering impactful growth through technology and strategy." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.get_host }}{{ request.path }}" />
    <meta property="og:title" content="Prospello Corporate Holdings | Empowering Innovation, Transforming Futures" />
    <meta property="og:description"
        content="Driving innovation with cutting-edge digital software solutions and expert consultancy services. Empowering businesses, advancing communities, and delivering impactful growth through technology and strategy." />
    <meta property="og:image" content="https://prospello.in/static/web/images/preview.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{ request.get_host }}{{ request.path }}" />
    <meta property="twitter:title"
        content="Prospello Corporate Holdings | Empowering Innovation, Transforming Futures" />
    <meta property="twitter:description"
        content="Driving innovation with cutting-edge digital software solutions and expert consultancy services. Empowering businesses, advancing communities, and delivering impactful growth through technology and strategy." />
    <meta property="twitter:image" content="https://prospello.in/static/web/images/preview.png" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'web/images/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'web/images/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'web/images/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'web/images/favicons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'web/images/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'web/images/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'web/images/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'web/images/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'web/images/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"
        href="{% static 'web/images/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'web/images/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'web/images/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'web/images/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'web/images/favicons/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'web/images/favicons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'web/css/vendors.min.css' %}" />
    <link rel="stylesheet" href="{% static 'web/css/icon.min.css' %}" />
    <link rel="stylesheet" href="{% static 'web/css/style.min.css' %}" />
    <link rel="stylesheet" href="{% static 'web/css/responsive.min.css' %}" />
    <link rel="stylesheet" href="{% static 'web/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'web/css/custom.css' %}" />
</head>

<body data-mobile-nav-trigger-alignment="right" data-mobile-nav-style="modern" data-mobile-nav-bg-color="#1d1d1d">

    {% include 'web/partials/header.html' %}

    <section class="p-0 full-screen ipad-top-space-margin position-relative overflow-hidden md-h-auto">
        <div class="container-fluid p-0 h-100 position-relative">
            <div class="row h-100 g-0">
                <!-- Left Column -->
                <div
                    class="col-xl-6 col-lg-6 d-flex justify-content-center flex-column ps-10 xxl-ps-5 xl-ps-2 md-ps-0 position-relative order-2 order-lg-1">
                    <!-- Title -->
                    <div
                        class="vertical-title-center align-items-center w-75px justify-content-center position-absolute h-auto d-none d-md-flex">
                        <div class="title fs-16 alt-font text-dark-gray fw-700 text-uppercase ls-05px" data-fancy-text='{
                                "opacity": [0, 1],
                                "translateY": [50, 0],
                                "filter": ["blur(20px)", "blur(0px)"],
                                "string": ["Building Brighter Tomorrows"],
                                "duration": 400,
                                "delay": 0,
                                "speed": 50,
                                "easing": "easeOutQuad"
                            }'>
                            Building Brighter Tomorrows
                        </div>
                    </div>

                    <!-- Text Content -->
                    <div class="border-start border-color-extra-medium-gray ps-60px ms-100px lg-ps-30px lg-ms-70px position-relative z-index-9 sm-ps-30px sm-pe-30px sm-ms-0 border-0"
                        data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0, 1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <h1
                            class="h3 text-dark-gray fw-600 alt-font outside-box-right-10 xl-outside-box-right-15 ls-minus-4px sm-ls-minus-2px md-me-0">
                            Empowering Innovation <br> Transforming Futures
                        </h1>
                        <p class="w-85 mb-35px lg-w-90 sm-w-100">
                            At Prospello Foundation, we are committed to creating a positive impact by uplifting lives
                            and empowering communities. Guided by a mission to drive meaningful change, our nonprofit
                            initiatives focus on education, healthcare, environmental sustainability, and social
                            well-being.
                        </p>
                        <a href="{% url 'web:society_industry' %}"
                            class="btn btn-extra-large btn-gradient-green fw-400">View Impact</a>
                    </div>
                </div>

                <!-- Right Column with Swiper -->
                <div
                    class="col-xl-6 col-lg-6 position-relative swiper-number-pagination-progress md-h-500px order-1 order-lg-2 md-mb-50px">
                    <div class="swiper h-100 banner-slider magic-cursor drag-cursor"
                        data-slider-options='{ "slidesPerView": 1, "loop": true, "pagination": { "el": ".swiper-number-line-pagination", "clickable": true }, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "autoplay": { "delay": 4000, "stopOnLastSlide": true, "disableOnInteraction": false },"keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "fade" }'
                        data-swiper-number-pagination-progress="true">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="position-absolute left-0 top-0 w-100 h-100 cover-background background-position-center-top"
                                    style="background-image: url('/static/web/images/main/slider1.png');">
                                    <img src="/static/web/images/main/slider1.png" alt="Slider Image 1" class="sr-only">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="position-absolute left-0 top-0 w-100 h-100 cover-background background-position-center-top"
                                    style="background-image: url('/static/web/images/main/slider2.png');">
                                    <img src="/static/web/images/main/slider2.png" alt="Slider Image 1" class="sr-only">
                                </div>
                            </div>
                            <!-- Add more slides as needed -->
                        </div>
                        <div
                            class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets d-block d-sm-none">
                        </div>

                    </div>
                    <div
                        class="swiper-pagination-wrapper d-none d-lg-flex align-items-center justify-content-center position-absolute bottom-40px md-bottom-30px sm-bottom-20px left-minus-45 md-left-30px sm-left-20px z-index-9">
                        <div class="number-prev fs-14 fw-600 text-dark-gray"></div>
                        <div class="swiper-pagination-progress bg-extra-medium-gray">
                            <span class="swiper-progress"></span>
                        </div>
                        <div class="number-next fs-14 fw-600 text-dark-gray"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="pt-">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 position-relative">
                    <div class="row align-items-center position-relative md-mb-15"
                        data-anime="{ &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;:0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                        <div class="col-md-5 sm-mb-30px" data-bottom-top="transform: translateY(50px)"
                            data-top-bottom="transform: translateY(-50px)">
                            <img class="w-100" src="/static/web/images/main/a1.png" alt />
                        </div>
                        <div class="col-lg-7 col-md-7 sm-mb-30px text-end"
                            data-bottom-top="transform: translateY(-30px)"
                            data-top-bottom="transform: translateY(30px)">
                            <img src="/static/web/images/main/a3.png" alt
                                class="box-shadow-quadruple-large md-w-100" />
                        </div>
                        <div class="w-50 sm-w-100 overflow-hidden position-absolute sm-position-relative left-140px bottom-minus-200px sm-bottom-0px sm-left-0px p-0 sm-ps-15px sm-pe-15px"
                            data-shadow-animation="true" data-animation-delay="100"
                            data-bottom-top="transform: translateY(20px)"
                            data-top-bottom="transform: translateY(-20px)">
                            <img src="/static/web/images/main/a2.png" alt
                                class="box-shadow-quadruple-large w-100" />
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 offset-xl-1 md-mt-20 sm-mt-0"
                    data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;:0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    <div class="mb-10px">
                        <span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
                        <span
                            class="text-gradient-base-color fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">
                            Innovative Ideas. Exceptional Results
                        </span>
                    </div>
                    <h4 class="text-dark-gray alt-font fw-600 ls-minus-2px mb-20px">Building a Legacy of Success Across Diverse Sectors</h4>
                    <p class="w-90 md-w-100 mb-35px sm-mb-20px">
                        Propello Corporate Holdings is a dynamic organization built on a foundation of
                        entrepreneurial spirit and a relentless pursuit of growth. We nurture a culture of
                        innovation and empower our businesses to thrive in a competitive and ever-changing
                        landscape. Our diverse portfolio reflects our commitment to identifying and capitalizing
                        on emerging opportunities across a range of sectors, while always maintaining a focus on
                        long-term sustainability and responsible business practices
                    </p>
                    <a href="{% url 'web:about_us' %}"
                        class="btn btn-large btn-dark-gray btn-switch-text btn-box-shadow border-1 left-icon me-10px sm-mb-15px sm-mt-15px">
                        <span>
                            <span class="btn-double-text" data-text="Know More">Know More</span>
                        </span>
                    </a>
                    <a href="{% url 'web:about_story' %}"
                        class="btn btn-large btn-transparent-light-gray border-1 btn-switch-text left-icon sm-mb-15px sm-mt-15px">
                        <span>
                            <span><i class="feather icon-feather-briefcase"></i></span>
                            <span class="btn-double-text" data-text="Our Story">Our Story</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <section class="pt-0 border-top border-color-extra-medium-gray mt-6 md-mt-0 sm-border-top-0">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 g-0"
                data-anime='{ "el": "childs", "translateX": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>

                <div class="col process-step-style-06 last-paragraph-no-margin hover-box sm-mb-50px">
                    <div class="process-step-icon-box position-relative top-minus-14px">
                        <span class="progress-step-separator bg-light-gray w-100 separator-line-1px opacity-1"></span>
                        <div
                            class="step-box d-flex align-items-center justify-content-center bg-white border-radius-100 w-25px h-25px position-relative border border-color-extra-medium-gray box-shadow-large">
                            <span class="w-7px h-7px bg-dark-gray border-radius-100"></span>
                        </div>
                    </div>
                    <span
                        class="d-block alt-font text-dark-gray fw-600 mb-10px mt-15px fs-22 lh-28 ls-minus-05px w-80 lg-w-75 md-w-100">Over
                        950+ innovative projects delivered globally.</span>
                </div>


                <div class="col process-step-style-06 last-paragraph-no-margin hover-box sm-mb-50px">
                    <div class="process-step-icon-box position-relative top-minus-14px">
                        <span class="progress-step-separator bg-light-gray w-100 separator-line-1px opacity-1"></span>
                        <div
                            class="step-box d-flex align-items-center justify-content-center bg-white border-radius-100 w-25px h-25px position-relative border border-color-extra-medium-gray box-shadow-large">
                            <span class="w-7px h-7px bg-dark-gray border-radius-100"></span>
                        </div>
                    </div>
                    <span
                        class="d-block alt-font text-dark-gray fw-600 mb-10px mt-15px fs-22 lh-28 ls-minus-05px w-80 lg-w-75 md-w-100">Over
                        500+ satisfied clients and growing.</span>
                </div>


                <div class="col process-step-style-06 last-paragraph-no-margin hover-box">
                    <div class="process-step-icon-box position-relative top-minus-14px">
                        <span class="progress-step-separator bg-light-gray w-100 separator-line-1px opacity-1"></span>
                        <div
                            class="step-box d-flex align-items-center justify-content-center bg-white border-radius-100 w-25px h-25px position-relative border border-color-extra-medium-gray box-shadow-large">
                            <span class="w-7px h-7px bg-dark-gray border-radius-100"></span>
                        </div>
                    </div>
                    <span
                        class="d-block alt-font text-dark-gray fw-600 mb-10px mt-15px fs-22 lh-28 ls-minus-05px w-80 lg-w-75 md-w-100">Our
                        reach spans across 15+ countries worldwide.</span>
                </div>

            </div>
        </div>
    </section>


    <section class="stack-box py-0 z-index-99">
        <div class="stack-box-contain">
            {% for frame in frames %}
            <div class="stack-item stack-item-0{{forloop.counter}} bg-white md-pb-0">
                <div class="stack-item-wrapper">
                    <div class="container-fluid">
                        <div class="row align-items-center full-screen md-h-auto">
                            <div class="col-lg-6 cover-background overflow-visible h-100 md-h-500px" style="background-image: url({{frame.image.url}})">
                                <div class="position-absolute right-minus-130px top-60px md-top-auto md-bottom-minus-50px fs-170 lg-fs-120 lg-right-minus-80px md-right-0px md-left-0px text-center text-lg-start alt-font z-index-9 fw-600 text-dark-gray opacity-3">
                                    0{{forloop.counter}}
                                </div>
                                <div class="position-absolute right-0px bottom-minus-1px">
                                    <div class="vertical-title-center">
                                        <div class="title fw-700 fs-15 alt-font text-uppercase text-dark-gray bg-white pt-30px pb-30px ps-10px pe-10px">
                                            <span class="d-inline-block">Latest projects</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 ps-12 pe-14 xxl-ps-10 xxl-pe-10 xl-pe-8 lg-ps-6 lg-pe-4 md-p-50px sm-ps-30px sm-pe-30px position-relative align-self-center text-md-start text-center">
                                <div class="mb-15px">
                                    <span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
                                    <span class="text-gradient-base-color fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">{{frame.subtitle}}</span>
                                </div>
                                <h3 class="text-dark-gray alt-font fw-600 ls-minus-4px mb-25px">{{frame.title}}</h3>
                                <p class="w-95 md-w-100 mb-35px">
                                    {{frame.description}}
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>


    <section class="">
        <div class="container">
            <div class="row mb-40px">
                <div class="col-12">
                    <div class="mb-15px">
                        <span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
                        <span
                            class="text-gradient-base-color fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">Our Group of Companies
                        </span>
                    </div>
                    <h3 class="text-dark-gray alt-font fw-600 ls-minus-4px mb-25px">Exploring the Diverse Businesses That Drive Our Success</h3>
                </div>
            </div>
            <div class="row">
                {% for platform in platforms %}
                <div class="col-lg-6">
                    <a href="{{platform.get_absolute_url}}" class="platform_item">
                        <span class="loop_counter">0{{forloop.counter}}</span>
                        <div class="platform_content">
                            <div class="fs-19 text-black xl-w-100 sm-mb-10px mb-10px">{{platform.name}}</div>
                            <p class="fs-15">{{platform.tagline}}</p>
                        </div>
                        <span class="arrow">
                            <svg fill="#009688" height="20px" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330.002 330.002"
                                xml:space="preserve">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path id="XMLID_226_"
                                        d="M233.252,155.997L120.752,6.001c-4.972-6.628-14.372-7.97-21-3c-6.628,4.971-7.971,14.373-3,21 l105.75,140.997L96.752,306.001c-4.971,6.627-3.627,16.03,3,21c2.698,2.024,5.856,3.001,8.988,3.001 c4.561,0,9.065-2.072,12.012-6.001l112.5-150.004C237.252,168.664,237.252,161.33,233.252,155.997z">
                                    </path>
                                </g>
                            </svg>
                        </span>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <section class="" style="background-color: #00000007;">
        <div class="container">
            <div class="row mb-40px">
                <div class="col-12">
                    <h4 class="text-dark-gray alt-font fw-600 ls-minus-2px mb-15px">Spotlight on Prospello</h4>
                </div>
            </div>
            <div class="row">
                {% for spotlight in spotlights %}
                <div class="col-lg-4 col-md-6 col-12">
                    <a href="{{spotlight.get_absolute_url}}" class="spotlight_item"
                        style="background-image: url('{{spotlight.image.url}}')">
                        <div class="spotlight_content">
                            <span class="spotlight_category">{{spotlight.category}}</span>
                            <div class="spotlight_bottom">
                                <span class="">{{spotlight.title}}</span>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <section class="pb-0">
        <div class="container">
            <div class="row mb-6">
                <div class="col-xl-5 col-md-6"
                    data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;:0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    <div class="mb-10px">
                        <span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
                        <span
                            class="text-gradient-base-color fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">The
                            Vision
                        </span>
                    </div>
                    <p class="text-dark-gray w-90">
                        To unlock the full potential of our people and our businesses, creating a thriving
                        ecosystem where innovation flourishes, talent is nurtured, and dreams are realized. We
                        will foster a culture of collaboration, empowerment, and ethical conduct, while striving to
                        make a positive and lasting impact on the communities we serve
                    </p>
                </div>
                <div class="offset-xl-1 col-xl-5 col-md-6">
                    <div class="accordion accordion-style-02" id="accordion-style-02"
                        data-active-icon="icon-feather-minus" data-inactive-icon="icon-feather-plus"
                        data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;:0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">

                        <div class="accordion-item active-accordion">
                            <div class="accordion-header border-bottom border-color-dark-gray">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-01"
                                    aria-expanded="true" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray">
                                        <i class="feather icon-feather-minus"></i><span
                                            class="fw-600 alt-font fs-18">Unity</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-01" class="accordion-collapse collapse show"
                                data-bs-parent="#accordion-style-02">
                                <div
                                    class="accordion-body last-paragraph-no-margin border-bottom border-color-dark-gray">
                                    <p>We believe in the power of collective eﬀort and strive to foster a collaborative
                                        environment where all members of our team work together towards shared goals. We
                                        value diverse perspectives and encourage open communication and mutual support.
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="accordion-item">
                            <div class="accordion-header border-bottom border-color-dark-gray">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-02"
                                    aria-expanded="false" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray">
                                        <i class="feather icon-feather-plus"></i><span
                                            class="fw-600 alt-font fs-18">Integrity</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-02" class="accordion-collapse collapse"
                                data-bs-parent="#accordion-style-02">
                                <div
                                    class="accordion-body last-paragraph-no-margin border-bottom border-color-dark-gray">
                                    <p>We conduct all our business dealings with the highest ethical standards.
                                        Honesty, transparency, and fairness are paramount in all our interactions with clients,
                                        partners, employees, and the communities we serve. We uphold the highest levels of
                                        professional and personal integrity in all our endeavors.
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="accordion-item">
                            <div class="accordion-header border-bottom border-color-transparent">
                                <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-03"
                                    aria-expanded="false" data-bs-parent="#accordion-style-02">
                                    <div class="accordion-title mb-0 position-relative text-dark-gray">
                                        <i class="feather icon-feather-plus"></i><span
                                            class="fw-600 alt-font fs-18">Responsibility</span>
                                    </div>
                                </a>
                            </div>
                            <div id="accordion-style-02-03" class="accordion-collapse collapse"
                                data-bs-parent="#accordion-style-02">
                                <div
                                    class="accordion-body last-paragraph-no-margin border-bottom border-color-transparent">
                                    <p>We are committed to acting responsibly towards our employees, our
                                        stakeholders, and the environment. We strive to create a positive and sustainable impact
                                        on the communities where we operate, and we are committed to conducting our
                                        business in a socially and environmentally responsible manner.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="pt-3 big-section position-relative">
        <div class="background-position-center-top background-no-repeat position-absolute h-100 w-100 left-0px top-0px"
            style="background-image: url('/static/web/images/demo-branding-agency-bg-01.png')"></div>
        <div class="container position-relative">
            <div class="row mb-4 lg-mb-8px"
                data-anime="{ &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;:0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <div class="col-xl-12 col-md-12">
                    <h2 class="alt-font text-dark-gray mb-0 fw-600 ls-minus-3px fs-45">A Snapshot of Our Diverse <br> Business Ventures<i
                            class="bi bi-heart-fill d-inline-block align-top ms-10px animation-zoom icon-very-medium text-red"></i>
                    </h2>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-lg-5 row-cols-md-3 row-cols-sm-2 clients-style-06 justify-content-center"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;skewX&quot;:[20, 0], &quot;duration&quot;: 300, &quot;delay&quot;:0, &quot;staggervalue&quot;: 200, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                {% for partner in partners %}
                <div class="col client-box text-center md-mb-20px">
                    <a href="javascript:void(0);"><img src="{{partner.logo.url}}" class="h-85px" alt="{{partner.name}}"></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>


    {% include 'web/partials/footer.html' %}

    
    <div class="scroll-progress d-none d-xxl-block">
        <a href="#" class="scroll-top" aria-label="scroll">
            <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
        </a>
    </div>


    <script type="text/javascript" src="/static/web/js/jquery.js"></script>
    <script type="text/javascript" src="/static/web/js/vendors.min.js"></script>
    <script type="text/javascript" src="/static/web/js/main.js"></script>
</body>

</html>