{% extends 'web/base.html' %}
{% load static %}


{% block content %}

<section class="pb-0 top-space-margin position-relative overflow-hidden">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;:0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <h1 class="text-dark-gray fw-600 alt-font ls-minus-3px sm-ls-minus-4px"
                    data-fancy-text="{ &quot;opacity&quot;: [0, 1], &quot;translateY&quot;: [50, 0], &quot;filter&quot;: [&quot;blur(20px)&quot;, &quot;blur(0px)&quot;], &quot;string&quot;: [&quot;Worked with global brands & agencies at the intersection of flat design and dynamic digital technology.&quot;], &quot;duration&quot;: 400, &quot;delay&quot;: 0, &quot;speed&quot;: 20, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                </h1>
            </div>
        </div>
    </div>
</section>


<section class="pt-3 pb-0 lg-pb-50px">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-6 text-md-end text-center sm-mb-30px">
                <div class="position-relative"
                    data-anime="{&quot;translateX&quot;: [50, 0], &quot;scale&quot;: [0.7, 1], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 800, &quot;delay&quot;: 200, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    <img src="/static/web/images/demo-photography-about-round-text.png"
                        class="animation-rotation position-relative z-index-2" alt>
                    <div class="absolute-middle-center w-100 z-index-1"><img
                            src="/static/web/images/demo-photography-about-round-logo.png" alt></div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 last-paragraph-no-margin text-md-start text-center">
                <p class="text-dark-gray w-85 lg-w-100 sm-w-90 sm-mx-auto">Creating products with a strong identity.
                    We provide brilliant ideas and adding the world called success brand. We are excited for our
                    work.</p>
            </div>
        </div>
    </div>
</section>


<section class="position-relative pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-5 filter-content">
                <ul
                    class="portfolio-simple portfolio-wrapper grid-loading grid grid-4col xxl-grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large text-center">
                    <li class="grid-sizer"></li>

                    <li class="grid-item grid-item-single transition-inner-all">
                        <div class="portfolio-box" data-bottom-top="transform: translate3d(0px, 50px, 0px);"
                            data-top-bottom="transform: translate3d(0px, -50px, 0px);">
                            <div class="portfolio-image bg-extra-medium-gray">
                                <a href="#">
                                    <img src="/static/web/images/demo-scattered-portfolio-01.jpg" alt />
                                </a>
                            </div>
                            <div class="portfolio-caption pt-35px pb-35px sm-pt-20px sm-pb-0">
                                <a href="#"
                                    class="text-dark-gray ls-minus-05px ls-minus-05px fw-600 fs-22 alt-font">Tailoring</a>
                                <span
                                    class="d-inline-block align-middle w-10px separator-line-1px bg-light-gray ms-5px me-5px"></span>
                                <div class="d-inline-block">Branding</div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="col-xl-7 col-md-7 filter-content offset-xl-1">
                <ul
                    class="portfolio-simple portfolio-wrapper grid-loading grid grid-4col xxl-grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large text-center">
                    <li class="grid-sizer"></li>

                    <li class="grid-item grid-item-single transition-inner-all">
                        <div class="portfolio-box" data-bottom-top="transform: translate3d(0px, 100px, 0px)"
                            data-top-bottom="transform: translate3d(0px, 180px, 0px);">
                            <div class="portfolio-image bg-extra-medium-gray">
                                <a href="#">
                                    <img src="/static/web/images/demo-scattered-portfolio-02.jpg" alt />
                                </a>
                            </div>
                            <div class="portfolio-caption pt-35px pb-35px sm-pt-20px sm-pb-0">
                                <a href="#" class="text-dark-gray ls-minus-05px fw-600 fs-22 alt-font">Designblast</a>
                                <span
                                    class="d-inline-block align-middle w-10px separator-line-1px bg-light-gray ms-5px me-5px"></span>
                                <div class="d-inline-block">Photography</div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="col-12 filter-content mt-20 lg-mt-0 mb-3 lg-mb-0">
                <ul
                    class="portfolio-simple portfolio-wrapper grid-loading grid grid-4col xxl-grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large text-center">
                    <li class="grid-sizer"></li>

                    <li class="grid-item grid-item-single transition-inner-all">
                        <div class="portfolio-box" data-bottom-top="transform: translate3d(0px, -80px, 0px);"
                            data-top-bottom="transform: translate3d(0px, 80px, 0px);">
                            <div class="portfolio-image bg-extra-medium-gray">
                                <a href="#">
                                    <img src="/static/web/images/demo-scattered-portfolio-03.jpg" alt />
                                </a>
                            </div>
                            <div class="portfolio-caption pt-35px pb-35px sm-pt-20px sm-pb-0">
                                <a href="#" class="text-dark-gray ls-minus-05px fw-600 fs-22 alt-font">Outward</a>
                                <span
                                    class="d-inline-block align-middle w-10px separator-line-1px bg-light-gray ms-5px me-5px"></span>
                                <div class="d-inline-block">Identity</div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="col-xl-7 col-md-7 filter-content mt-5 lg-mt-0">
                <ul
                    class="portfolio-simple portfolio-wrapper grid-loading grid grid-4col xxl-grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large text-center">
                    <li class="grid-sizer"></li>

                    <li class="grid-item grid-item-single transition-inner-all">
                        <div class="portfolio-box" data-bottom-top="transform: translate3d(0px, 50px, 0px);"
                            data-top-bottom="transform: translate3d(0px, -50px, 0px);">
                            <div class="portfolio-image bg-extra-medium-gray">
                                <a href="#">
                                    <img src="/static/web/images/demo-scattered-portfolio-04.jpg" alt />
                                </a>
                            </div>
                            <div class="portfolio-caption pt-35px pb-35px sm-pt-20px sm-pb-0">
                                <a href="#" class="text-dark-gray ls-minus-05px fw-600 fs-22 alt-font">Violator</a>
                                <span
                                    class="d-inline-block align-middle w-10px separator-line-1px bg-light-gray ms-5px me-5px"></span>
                                <div class="d-inline-block">Marketing</div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="col-xl-4 col-md-5 filter-content offset-xl-1 mt-3 lg-mt-0">
                <ul
                    class="portfolio-simple portfolio-wrapper grid-loading grid grid-4col xxl-grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large text-center">
                    <li class="grid-sizer"></li>

                    <li class="grid-item grid-item-single transition-inner-all">
                        <div class="portfolio-box" data-bottom-top="transform: translate3d(0px, -50px, 0px);"
                            data-top-bottom="transform: translate3d(0px, 50px, 0px);">
                            <div class="portfolio-image bg-extra-medium-gray">
                                <a href="#">
                                    <img src="/static/web/images/demo-scattered-portfolio-05.jpg" alt />
                                </a>
                            </div>
                            <div class="portfolio-caption pt-35px pb-35px sm-pt-20px sm-pb-0">
                                <a href="#" class="text-dark-gray ls-minus-05px fw-600 fs-22 alt-font">Potato</a>
                                <span
                                    class="d-inline-block align-middle w-10px separator-line-1px bg-light-gray ms-5px me-5px"></span>
                                <div class="d-inline-block">Branding</div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="col-12 mt-5 lg-mt-0 filter-content">
                <ul
                    class="portfolio-simple portfolio-wrapper grid-loading grid grid-4col xxl-grid-4col xl-grid-4col lg-grid-4col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large text-center">
                    <li class="grid-sizer"></li>

                    <li class="grid-item grid-item-single transition-inner-all">
                        <div class="portfolio-box" data-bottom-top="transform: translate3d(0px, -80px, 0px);"
                            data-top-bottom="transform: translate3d(0px, 80px, 0px);">
                            <div class="portfolio-image bg-extra-medium-gray">
                                <a href="#">
                                    <img src="/static/web/images/demo-scattered-portfolio-06.jpg" alt />
                                </a>
                            </div>
                            <div class="portfolio-caption pt-35px pb-35px sm-pt-20px lg-pb-0">
                                <a href="#" class="text-dark-gray ls-minus-05px fw-600 fs-22 alt-font">Treato</a>
                                <span
                                    class="d-inline-block align-middle w-10px separator-line-1px bg-light-gray ms-5px me-5px"></span>
                                <div class="d-inline-block">Web</div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}