{% extends 'web/base.html' %}
{% load static %}


{% block content %}

<section class="p-0 top-space-margin position-relative overflow-hidden">
    <div class="container-fluid p-0 position-relative">
        <div class="row g-0">
            <div class="col-xl-4 col-lg-5 d-flex justify-content-center align-items-center ps-10 xxl-ps-6 xl-ps-4 md-ps-4 sm-ps-0 position-relative order-2 order-lg-1"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;:0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <div
                    class="vertical-title-center align-items-center justify-content-center flex-shrink-0 w-75px sm-w-50px">
                    <h1 class="title fs-15 alt-font text-dark-gray fw-700 text-uppercase ls-1px text-uppercase d-flex w-auto align-items-center m-0"
                        data-fancy-text="{ &quot;opacity&quot;: [0, 1], &quot;translateY&quot;: [50, 0], &quot;filter&quot;: [&quot;blur(20px)&quot;, &quot;blur(0px)&quot;], &quot;string&quot;: [&quot;Our Story&quot;], &quot;duration&quot;: 400, &quot;delay&quot;: 0, &quot;speed&quot;: 50, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    </h1>
                </div>
                <div class="border-start border-color-extra-medium-gray ps-40px sm-ps-20px position-relative z-index-9">
                    <h2
                        class="text-dark-gray fw-600 alt-font outside-box-right-10 xl-outside-box-right-15 lg-outside-box-right-20 md-me-0 sm-mb-0 ls-minus-3px">
                        From Classroom to Global Impact</h2>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7 position-relative one-half-screen order-1 order-lg-2 md-mb-50px">
                <div class="overflow-hidden position-relative">
                    <div class="w-100"
                        data-anime="{ &quot;effect&quot;: &quot;slide&quot;, &quot;direction&quot;: &quot;lr&quot;, &quot;color&quot;: &quot;#f7f7f7&quot;, &quot;duration&quot;: 1000, &quot;delay&quot;: 0 }">
                        <img src="/static/web/images/main/story.png" alt class="w-100 liquid-parallax"
                            data-parallax-liquid="true" data-parallax-position="top" data-parallax-scale="1.05">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class=" pb-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 md-mt-20 sm-mt-0"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;:0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <div class="mb-10px">
                    <span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
                    <span
                        class="text-gradient-base-color fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">Our
                        Story</span>
                </div>
                <h4 class="text-dark-gray alt-font fw-600 ls-minus-2px mb-20px">
                    From Classroom to Global Impact
                </h4>
                <p class="w-90 md-w-100 mb-15px sm-mb-10px">
                    Propello's story is one of defying expectations. It began in a high school classroom,
                    where a group of friends, fueled by youthful ambition and a shared dream, embarked on
                    their first entrepreneurial venture. Those early endeavors, while filled with youthful
                    exuberance and inevitable missteps, instilled invaluable lessons – the importance of
                    resilience, the power of adaptation, and the unwavering pursuit of excellence.
                </p>
                <p class="w-90 md-w-100 mb-35px sm-mb-20px">
                    Undeterred by early challenges, we embarked on a journey of continuous learning and
                    relentless growth. What began as a single venture has evolved into a diversified group of
                    companies, each a testament to our entrepreneurial spirit and unwavering commitment
                    to innovation.
                </p>
            </div>
            <div class="col-12">
                <p class="w-90 md-w-100 mb-15px sm-mb-10px">
                    Today, Propello is a global entity, with a presence across multiple continents and oﬃces
                    spanning major cities. We operate in diverse sectors, from technology and healthcare to
                    finance and consumer goods, constantly seeking new opportunities and pushing the
                    boundaries of what's possible. Our journey is a testament to the power of human
                    ingenuity, the importance of embracing change, and the unwavering belief that with
                    passion, perseverance, and a collaborative spirit, even the most ambitious dreams can
                    become a reality.
                </p>
            </div>
        </div>
    </div>
</section>



<section class="pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-50px md-mb-45px sm-mb-30px"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [15, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <h3 class="text-dark-gray fw-600 ls-minus-2px alt-font">Propello's Administrative Philosophy</h3>
                <p>
                    At Propello, we believe that eﬀective administration is more than just managing
                    operations; it's about fostering a culture of excellence, innovation, and sustainable. growth across
                    our diverse portfolio of companies. Our administrative philosophy is
                    grounded in the following principles:
                </p>
            </div>
            <div class="col-lg-12"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [15, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <div class="row">
                    <div class="col-md-3">
                        <div class="fs-19 fw-600 text-dark-gray w-90 xl-w-100 sm-mb-10px">Entrepreneurial Spirit</div>
                    </div>
                    <div class="col-md-9 last-paragraph-no-margin">
                        <p>We cultivate an environment that encourages entrepreneurial
                            thinking and empowers our teams to take calculated risks, embrace innovation, and
                            pursue ambitious goals.

                        </p>
                    </div>
                </div>
                <div class="separator-line-1px border-bottom border-color-extra-medium-gray mt-35px mb-35px"></div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="fs-19 fw-600 text-dark-gray w-90 xl-w-100 sm-mb-10px">Collaborative Partnerships
                        </div>
                    </div>
                    <div class="col-md-9 last-paragraph-no-margin">
                        <p>We foster strong, collaborative relationships with our
                            portfolio companies, providing them with the necessary support, resources, and
                            guidance to achieve their full potential.

                        </p>
                    </div>
                </div>
                <div class="separator-line-1px border-bottom border-color-extra-medium-gray mt-35px mb-35px"></div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="fs-19 fw-600 text-dark-gray w-90 xl-w-100 sm-mb-10px">Data-Driven Decision Making
                        </div>
                    </div>
                    <div class="col-md-9 last-paragraph-no-margin">
                        <p>We leverage data and insights to inform our strategic
                            decisions, ensuring that our administrative practices are eﬃcient, eﬀective, and aligned
                            with our long-term objectives.

                        </p>
                    </div>
                </div>
                <div class="separator-line-1px border-bottom border-color-extra-medium-gray mt-35px mb-35px"></div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="fs-19 fw-600 text-dark-gray w-90 xl-w-100 sm-mb-10px">Ethical Conduct</div>
                    </div>
                    <div class="col-md-9 last-paragraph-no-margin">
                        <p>We operate with the highest ethical standards, prioritizing transparency,
                            integrity, and social responsibility in all our endeavors.
                        </p>
                    </div>
                </div>
                <div class="separator-line-1px border-bottom border-color-extra-medium-gray mt-35px mb-35px"></div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="fs-19 fw-600 text-dark-gray w-90 xl-w-100 sm-mb-10px">Continuous Improvement</div>
                    </div>
                    <div class="col-md-9 last-paragraph-no-margin">
                        <p>We embrace a culture of continuous learning and
                            improvement, constantly seeking new and better ways to optimize our administrative
                            processes and enhance our service delivery.
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">

            <div class="col-md-12 mx-auto">
                <div class="row">
                    <div class="col-md-4 md-mb-30px">
                        <figure class="mb-0 position-relative overflow-hidden">
                            <img src="/static/web/images/main/who-we-are-text.jpg" alt />
                        </figure>
                    </div>
                    <div class="col-md-8">
                        <div class="content_item">
                            <div
                                class="fs-24 text-black fw-600 text-dark-gray w-90 xl-w-100 mb-20px sm-mb-20px alt-font">
                                Prospello Charitable Foundation
                            </div>
                            <p class="text-black">
                                Prospello Charitable Foundation is a non-profit community founded by Prospello global
                                group of companies by collaborating with different institutions in providing social
                                service and aids to the needy. It has a comprehensive development approach, Its prime
                                objective is to create and support meaningful activities through innovative institutions
                                to address some of the society’s most pressing developmental challenges The Foundation
                                lays significant emphasis on leveraging technology for developmental solutions.
                                Following its model of direct engagement, and support the Foundation directly reaches
                                out to the affected people through trained volunteers and representatives.
                            </p>
                            <a href="{% url 'web:society_industry' %}" class="read_more alt-font">Read More ...
                                <span class="icon">
                                    <svg fill="#ffffff" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-201.3 -201.3 732.60 732.60"
                                        xml:space="preserve" stroke="#ffffff" stroke-width="7.590000000000001"
                                        transform="rotate(0)">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0">
                                            <path transform="translate(-201.3, -201.3), scale(22.89375)"
                                                d="M16,31.275838276992243C20.220933178967165,30.975225125617566,22.294992238867042,26.42767693747922,24.79078740189603,23.010419020334773C27.07980447152857,19.876282926334454,30.1396370584565,16.751810970420184,29.388552939798977,12.944150159963828C28.62105345881945,9.053270798814836,24.875242777059302,6.70714129498644,21.255325069391397,5.087205047465767C17.789541205632464,3.5362446775427947,14.0076917061179,3.1510484190155594,10.446145373870417,4.467302035389663C6.34979320329992,5.98120578827243,2.049958628438043,8.337403713998157,0.9944652514678225,12.575084613912889C-0.07649487730091264,16.87486269047541,2.7119123897732664,20.929274520238916,5.4850871658735,24.38536317163394C8.2442753162295,27.82402089190895,11.60234240683032,31.589037669566615,16,31.275838276992243"
                                                fill="#000000" strokewidth="0" class="blacked"></path>
                                        </g>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round">
                                        </g>
                                        <g id="SVGRepo_iconCarrier">
                                            <path id="XMLID_222_"
                                                d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001 c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213 C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606 C255,161.018,253.42,157.202,250.606,154.389z">
                                            </path>
                                        </g>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center"
                data-anime="{ &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <i class="bi bi-envelope text-dark-gray d-inline-block align-middle icon-extra-medium me-5px"></i>
                <div class="fs-18 text-dark-gray d-inline-block align-middle fw-500">Save your precious time and
                    effort spent for finding a solution. <a href="{% url 'web:contact' %}"
                        class="text-dark-gray text-decoration-line-bottom fw-600">Contact us now</a></div>
            </div>
        </div>
    </div>
</section>

{% endblock %}