@import "reset.css";
@import "mobile-menu.css";
@import "header.css";
@import "hero.css";
@import "about.css";
@import "category.css";
@import "features.css";
@import "course.css";
@import "why-choose.css";
@import "funfact.css";
@import "partner.css";
@import "testimonial.css";
@import "blog.css";
@import "call-action.css";
@import "video.css";
@import "team.css";
@import "faq.css";
@import "breadcrumbs.css";
@import "apply.css";
@import "event.css";
@import "contact.css";
@import "product.css";
@import "error.css";
@import "checkout.css";
@import "sidebars.css";
@import "auth-pages.css";
@import "footer.css";
