{% extends 'web/base.html' %}
{% load static %}

{% block content %}

<div class="modern-slider-area-start">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- project-area start large -->
                <div class="project-style-two-title-main-wrapper">
                    <div class="pagination-left-banner-one">
                        <div class="activeslide">01</div>
                        <div class="swiper-paginations"></div>
                        <div class="totalslide">03</div>
                        <!-- </div> -->
                    </div>
                </div>
                <!-- project-area start large end -->
            </div>
        </div>
        <div class="row mt--70">
            <div class="col-lg-12">
                <!-- .main-product wrapper -->
                <div class="main-product-wrapper-two">
                    <div class="swiper mySwiper-product-two-showcase">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="single-product-wrapper-two">
                                    <a href="product-details-1.html" class="thumbnail">
                                        <img src="/static/web/images/product/05.jpg" alt="product">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-product-wrapper-two">
                                    <a href="product-details-1.html" class="thumbnail">
                                        <img src="/static/web/images/product/15.jpg" alt="product">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="single-product-wrapper-two">
                                    <a href="product-details-1.html" class="thumbnail">
                                        <img src="/static/web/images/product/16.jpg" alt="product">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- outer-text product area -->
                    <div class="portfolio-outer-text-swiper-wrapper">
                        <div class="swiper mySwiper-product-OuterText-2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <!-- single outer text -->
                                    <div class="outer-product-text">
                                        <a href="product-details-1.html">
                                            <h2 class="title-change-one">living room <span>interior</span></h2>
                                        </a>
                                    </div>
                                    <!-- single outer text end -->
                                </div>
                                <div class="swiper-slide">
                                    <!-- single outer text -->
                                    <div class="outer-product-text">
                                        <a href="product-details-1.html">
                                            <h2 class="title-change-one">Kitchen room <span>interior</span></h2>
                                        </a>
                                    </div>
                                    <!-- single outer text end -->
                                </div>
                                <div class="swiper-slide">
                                    <!-- single outer text -->
                                    <div class="outer-product-text">
                                        <a href="product-details-1.html">
                                            <h2 class="title-change-one">Bathroom room <span>interior</span></h2>
                                        </a>
                                    </div>
                                    <!-- single outer text end -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- outer-text product area end -->

                </div>
                <!-- .main-product wrapper end-->
            </div>
        </div>
    </div>
</div>

{% endblock %}