{% extends 'web/base.html' %}

{% block content %}

<div class="breadcrumb-area breadcrumb-padding-1 add_bg">
    <div class="container">
        <div class="breadcrumb-content">
            <h2 data-aos="fade-up" data-aos-delay="200">Blog Sidebar</h2>
        </div>
    </div>
</div>

<div class="blog-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="blog-wrap mb-50" data-aos="fade-up" data-aos-delay="200">
                            <div class="blog-img-date-wrap mb-25">
                                <div class="blog-img">
                                    <a href="blog-details.html"><img src="/static/web/images/blog/blog-1.png"
                                            alt=""></a>
                                </div>
                                <div class="blog-date">
                                    <h5>05 <span>May</span></h5>
                                </div>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#">Furniture</a>,</li>
                                        <li>By:<a href="#"> Admin</a></li>
                                    </ul>
                                </div>
                                <h3><a href="blog-details.html">Lorem ipsum dolor consectet.</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipi elit, sed do eiusmod tempor incididunt
                                    ut labo et dolore magna aliqua.</p>
                                <div class="blog-btn-2 btn-hover">
                                    <a class="btn hover-border-radius theme-color" href="blog-details.html">Read
                                        More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-wrap mb-50" data-aos="fade-up" data-aos-delay="400">
                            <div class="blog-img-date-wrap mb-25">
                                <div class="blog-img">
                                    <a href="blog-details.html"><img src="/static/web/images/blog/blog-2.png"
                                            alt=""></a>
                                </div>
                                <div class="blog-date">
                                    <h5>03 <span>Jun.</span></h5>
                                </div>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#">Furniture</a>,</li>
                                        <li>By:<a href="#"> Admin</a></li>
                                    </ul>
                                </div>
                                <h3><a href="blog-details.html">Duis et volutpat pellentesque.</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipi elit, sed do eiusmod tempor incididunt
                                    ut labo et dolore magna aliqua.</p>
                                <div class="blog-btn-2 btn-hover">
                                    <a class="btn hover-border-radius theme-color" href="blog-details.html">Read
                                        More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-wrap mb-50" data-aos="fade-up" data-aos-delay="200">
                            <div class="blog-img-date-wrap mb-25">
                                <div class="blog-img">
                                    <a href="blog-details.html"><img src="/static/web/images/blog/blog-3.png"
                                            alt=""></a>
                                </div>
                                <div class="blog-date">
                                    <h5>07 <span>Feb.</span></h5>
                                </div>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#">Furniture</a>,</li>
                                        <li>By:<a href="#"> Admin</a></li>
                                    </ul>
                                </div>
                                <h3><a href="blog-details.html">Vivamus vitae dolor convallis.</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipi elit, sed do eiusmod tempor incididunt
                                    ut labo et dolore magna aliqua.</p>
                                <div class="blog-btn-2 btn-hover">
                                    <a class="btn hover-border-radius theme-color" href="blog-details.html">Read
                                        More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-wrap mb-50" data-aos="fade-up" data-aos-delay="400">
                            <div class="blog-img-date-wrap mb-25">
                                <div class="blog-img">
                                    <a href="blog-details.html"><img src="/static/web/images/blog/blog-1.png"
                                            alt=""></a>
                                </div>
                                <div class="blog-date">
                                    <h5>08 <span>Dec.</span></h5>
                                </div>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#">Furniture</a>,</li>
                                        <li>By:<a href="#"> Admin</a></li>
                                    </ul>
                                </div>
                                <h3><a href="blog-details.html">Vivamus amet tristique orci.</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipi elit, sed do eiusmod tempor incididunt
                                    ut labo et dolore magna aliqua.</p>
                                <div class="blog-btn-2 btn-hover">
                                    <a class="btn hover-border-radius theme-color" href="blog-details.html">Read
                                        More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-wrap mb-50" data-aos="fade-up" data-aos-delay="200">
                            <div class="blog-img-date-wrap mb-25">
                                <div class="blog-img">
                                    <a href="blog-details.html"><img src="/static/web/images/blog/blog-2.png"
                                            alt=""></a>
                                </div>
                                <div class="blog-date">
                                    <h5>02 <span>Nov.</span></h5>
                                </div>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#">Furniture</a>,</li>
                                        <li>By:<a href="#"> Admin</a></li>
                                    </ul>
                                </div>
                                <h3><a href="blog-details.html">Pellentesque pretium place.</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipi elit, sed do eiusmod tempor incididunt
                                    ut labo et dolore magna aliqua.</p>
                                <div class="blog-btn-2 btn-hover">
                                    <a class="btn hover-border-radius theme-color" href="blog-details.html">Read
                                        More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-wrap mb-50" data-aos="fade-up" data-aos-delay="400">
                            <div class="blog-img-date-wrap mb-25">
                                <div class="blog-img">
                                    <a href="blog-details.html"><img src="/static/web/images/blog/blog-3.png"
                                            alt=""></a>
                                </div>
                                <div class="blog-date">
                                    <h5>09 <span>Oct.</span></h5>
                                </div>
                            </div>
                            <div class="blog-content">
                                <div class="blog-meta">
                                    <ul>
                                        <li><a href="#">Furniture</a>,</li>
                                        <li>By:<a href="#"> Admin</a></li>
                                    </ul>
                                </div>
                                <h3><a href="blog-details.html">Sed euismod tristique dolor.</a></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipi elit, sed do eiusmod tempor incididunt
                                    ut labo et dolore magna aliqua.</p>
                                <div class="blog-btn-2 btn-hover">
                                    <a class="btn hover-border-radius theme-color" href="blog-details.html">Read
                                        More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination-style-1" data-aos="fade-up" data-aos-delay="200">
                    <ul>
                        <li><a class="active" href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a class="next" href="#"><i class=" ti-angle-double-right "></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar-wrapper">
                    <div class="sidebar-widget mb-50" data-aos="fade-up" data-aos-delay="200">
                        <div class="search-wrap-3">
                            <form class="search-3-form" action="#">
                                <input placeholder="Search*" type="text">
                                <button class="button-search"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-50" data-aos="fade-up" data-aos-delay="200">
                        <div class="blog-author-content text-center">
                            <a href="#"><img src="/static/web/images/blog/blog-author.png" alt=""></a>
                            <h2>Writer Name</h2>
                            <h4>Blog Writer</h4>
                            <div class="social-icon-style-1">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-glide-g"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-40" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title-2 mb-25">
                            <h3>Categories</h3>
                        </div>
                        <div class="sidebar-list-style-2">
                            <ul>
                                <li><a href="#">Blog Grid View (09)</a></li>
                                <li><a href="#">Latest blog (02)</a></li>
                                <li><a href="#">Our Blog (12)</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-40" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title-2 mb-30">
                            <h3>Latest Post</h3>
                        </div>
                        <div class="latest-post-wrap">
                            <div class="single-latest-post">
                                <div class="latest-post-img">
                                    <a href="#"><img src="/static/web/images/blog/latest-post-1.png" alt=""></a>
                                </div>
                                <div class="latest-post-content">
                                    <span>01 May 2022</span>
                                    <h4><a href="#">Lorem ipsum dolor sit am conse ctetur adipis</a></h4>
                                    <div class="latest-post-btn">
                                        <a href="#">Continue Reading...</a>
                                    </div>
                                </div>
                            </div>
                            <div class="single-latest-post">
                                <div class="latest-post-img">
                                    <a href="#"><img src="/static/web/images/blog/latest-post-2.png" alt=""></a>
                                </div>
                                <div class="latest-post-content">
                                    <span>08 Dec 2022</span>
                                    <h4><a href="#">Phasellus vehicula sit amet nibh vitae posuere</a></h4>
                                    <div class="latest-post-btn">
                                        <a href="#">Continue Reading...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-35" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title-2 mb-30">
                            <h3>Tags</h3>
                        </div>
                        <div class="sidebar-widget-tag-2">
                            <a href="#">Furniture</a>
                            <a href="#">Electronic</a>
                            <a href="#">Home Decore</a>
                            <a href="#">Design Home</a>
                            <a href="#">Furniture</a>
                        </div>
                    </div>
                    <div class="sidebar-widget" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-banner">
                            <a href="#"><img src="/static/web/images/banner/banner-29.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mobile Menu start -->
{% endblock %}
