{% extends 'web/base.html' %}

{% block content %}

<div class="breadcrumb-area breadcrumb-padding-1 add_bg">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Compare </h2>
        </div>
    </div>

</div>
<div class="compare-page-wrapper pb-100 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Compare Page Content Start -->
                <div class="compare-page-content-wrap">
                    <div class="compare-table table-responsive">
                        <table class="table table-bordered mb-0">
                            <tbody>
                                <tr>
                                    <td class="first-column">Product</td>
                                    <td class="product-image-title">
                                        <a href="product-details.html" class="image">
                                            <img class="img-fluid" src="/static/web/images/product/product-9.png"
                                                alt="Compare Product">
                                        </a>
                                        <a href="#" class="category">Chair</a>
                                        <a href="product-details.html" class="title">Modern Lounge Chairs</a>
                                    </td>
                                    <td class="product-image-title">
                                        <a href="product-details.html" class="image">
                                            <img class="img-fluid" src="/static/web/images/product/product-2.png"
                                                alt="Compare Product">
                                        </a>
                                        <a href="#" class="category">Chair </a>
                                        <a href="product-details.html" class="title">New Modern Sofa Set</a>
                                    </td>
                                    <td class="product-image-title">
                                        <a href="product-details.html" class="image">
                                            <img class="img-fluid" src="/static/web/images/product/product-8.png"
                                                alt="Compare Product">
                                        </a>
                                        <a href="#" class="category">Chair</a>
                                        <a href="product-details.html" class="title">Modern Swivel Chair</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="first-column">Description</td>
                                    <td class="pro-desc">
                                        <p>Samsome Note Book Pro 5 is an the best Laptop on this budgeted. You can
                                            satisfied
                                            after usign this laptop. </p>
                                    </td>
                                    <td class="pro-desc">
                                        <p>Samsome Note Book Pro 5 is an the best Laptop on this budgeted. You can
                                            satisfied
                                            after usign this laptop. </p>
                                    </td>
                                    <td class="pro-desc">
                                        <p>Samsome Note Book Pro 5 is an the best Laptop on this budgeted. You can
                                            satisfied
                                            after usign this laptop. </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="first-column">Price</td>
                                    <td class="pro-price">$295</td>
                                    <td class="pro-price">$275</td>
                                    <td class="pro-price">$395</td>
                                </tr>
                                <tr>
                                    <td class="first-column">Color</td>
                                    <td class="pro-color">Black</td>
                                    <td class="pro-color">Red</td>
                                    <td class="pro-color">Blue</td>
                                </tr>
                                <tr>
                                    <td class="first-column">Stock</td>
                                    <td class="pro-stock">In Stock</td>
                                    <td class="pro-stock">Stock Out</td>
                                    <td class="pro-stock">In Stock</td>
                                </tr>
                                <tr>
                                    <td class="first-column">Add to cart</td>
                                    <td><a href="cart.html" class="check-btn">Add to cart</a></td>
                                    <td><a href="cart.html" class="check-btn disabled">Add to cart</a></td>
                                    <td><a href="cart.html" class="check-btn">Add to cart</a></td>
                                </tr>
                                <tr>
                                    <td class="first-column">Rating</td>
                                    <td class="pro-ratting">
                                        <i class="ti-star"></i>
                                        <i class="ti-star"></i>
                                        <i class="ti-star"></i>
                                        <i class="ti-star"></i>
                                        <i class="ti-star"></i>
                                    </td>
                                    <td class="pro-ratting">
                                        <i class="ti-star"></i>
                                        <i class="ti-star"></i>
                                        <i class="ti-star"></i>
                                        <i class="ti-star"></i>
                                        <i class="ti-star"></i>
                                    </td>
                                    <td class="pro-ratting">
                                        <i class="ti-star"></i>
                                        <i class="ti-star"></i>
                                        <i class="ti-star"></i>
                                        <i class="ti-star"></i>
                                        <i class="ti-star"></i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="first-column">Remove</td>
                                    <td class="pro-remove">
                                        <button><i class=" ti-trash "></i></button>
                                    </td>
                                    <td class="pro-remove">
                                        <button><i class=" ti-trash "></i></button>
                                    </td>
                                    <td class="pro-remove">
                                        <button><i class=" ti-trash "></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Compare Page Content End -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
