{% extends 'web/base.html' %}

{% block content %}
<div class="slider-banner-area">
    <div class="container">
        <div class="header-border-top-1 padding-10-row-col pt-15">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="slider-active swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="intro-section slider-height-5 bg-img"
                                    style="background-image:url(/static/web/images/slider/slider-bg-6.jpg)">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="intro-section slider-height-5 bg-img"
                                    style="background-image:url(/static/web/images/slider/slider-bg-6-2.jpg)">
                                </div>
                            </div>
                            <div class="home-slider-prev3 main-slider-nav3"><i class="pe-7s-angle-left"></i></div>
                            <div class="home-slider-next3 main-slider-nav3"><i class="pe-7s-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="banner-wrap banner-responsive-mt">
                        <a href="product-details.html"><img src="/static/web/images/banner/banner-28.png" alt=""></a>
                        <div class="banner-content-10-position top-inc-2">
                            <div class="banner-content-10">
                                <h3>Exceptional</h3>
                                <h4>Officr Chair</h4>
                            </div>
                        </div>
                        <div class="btn-style-4 btn-style-4-modify">
                            <a class="btn" href="product-details.html">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner-area padding-10-row-col pt-30 pb-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="banner-wrap mb-10" data-aos="fade-up" data-aos-delay="200">
                    <a href="product-details.html"><img src="/static/web/images/banner/banner-26.png" alt=""></a>
                    <div class="banner-content-12 banner-content-12-width">
                        <h2>Modern Sofa</h2>
                        <div class="btn-style-7">
                            <a href="product-details.html">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="banner-wrap mb-10" data-aos="fade-up" data-aos-delay="400">
                    <a href="product-details.html"><img src="/static/web/images/banner/banner-27.png" alt=""></a>
                    <div class="banner-content-12">
                        <h2>Exceptional Furniture Set</h2>
                        <div class="btn-style-7">
                            <a href="product-details.html">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="category-area padding-10-row-col">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="single-category-wrap-3 mb-30" data-aos="fade-up" data-aos-delay="200">
                    <a href="shop.html"><img src="/static/web/images/category/category-12.png" alt=""></a>
                    <div class="category-content-3">
                        <h3><a href="shop.html">Editing Chair</a></h3>
                        <span>10 Products</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-category-wrap-3 mb-30" data-aos="fade-up" data-aos-delay="400">
                    <a href="shop.html"><img src="/static/web/images/category/category-13.png" alt=""></a>
                    <div class="category-content-3">
                        <h3><a href="shop.html">Editing Chair</a></h3>
                        <span>18 Products</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single-category-wrap-3 mb-30" data-aos="fade-up" data-aos-delay="600">
                    <a href="shop.html"><img src="/static/web/images/category/category-14.png" alt=""></a>
                    <div class="category-content-3">
                        <h3><a href="shop.html">Editing Chair</a></h3>
                        <span>15 Products</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-area padding-10-row-col pb-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="service-wrap service-padding service-bg-color-1 mb-10" data-aos="fade-up"
                    data-aos-delay="200">
                    <div class="service-img-3">
                        <img src="/static/web/images/icon-img/car.png" alt="">
                    </div>
                    <div class="service-content">
                        <h3>Free Shipping</h3>
                        <p>Free shipping on order</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="service-wrap service-padding service-bg-color-2 mb-10" data-aos="fade-up"
                    data-aos-delay="400">
                    <div class="service-img-3">
                        <img src="/static/web/images/icon-img/time.png" alt="">
                    </div>
                    <div class="service-content">
                        <h3>Support 24/7</h3>
                        <p>Support 24 hours a day</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="service-wrap service-padding service-bg-color-3 mb-10" data-aos="fade-up"
                    data-aos-delay="600">
                    <div class="service-img-3">
                        <img src="/static/web/images/icon-img/dollar.png" alt="">
                    </div>
                    <div class="service-content">
                        <h3>Money Return</h3>
                        <p>Back Guarantee Under </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="service-wrap service-padding service-bg-color-4 mb-10" data-aos="fade-up"
                    data-aos-delay="800">
                    <div class="service-img-3">
                        <img src="/static/web/images/icon-img/discount.png" alt="">
                    </div>
                    <div class="service-content">
                        <h3>Order Discount</h3>
                        <p>Onevery order over $150</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-area padding-10-row-col pb-20">
    <div class="container">
        <div class="row grid">
            <div class="grid-sizer"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 grid-item">
                <div class="product-wrap product-overly mb-10" data-aos="fade-up" data-aos-delay="200">
                    <div class="product-img img-zoom">
                        <a href="product-details.html">
                            <img src="/static/web/images/product/product-10.png" alt="">
                        </a>
                        <div class="product-badge-2">
                            <span>-10%</span>
                        </div>
                        <div class="product-action-3-wrap">
                            <a href="#">Add To Cart</a>
                        </div>
                        <div class="product-content product-content-position">
                            <h3><a href="product-details.html">Easy Modern Chair</a></h3>
                            <div class="product-price">
                                <span class="old-price">$45.00 </span>
                                <span class="new-price">$40.00 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 grid-item">
                <div class="product-wrap product-overly mb-10" data-aos="fade-up" data-aos-delay="300">
                    <div class="product-img img-zoom">
                        <a href="product-details.html">
                            <img src="/static/web/images/product/product-11.png" alt="">
                        </a>
                        <div class="product-badge-2">
                            <span>-10%</span>
                        </div>
                        <div class="product-action-3-wrap">
                            <a href="#">Add To Cart</a>
                        </div>
                        <div class="product-content product-content-position">
                            <h3><a href="product-details.html">New Modern Chair</a></h3>
                            <div class="product-price">
                                <span class="old-price">$45.00 </span>
                                <span class="new-price">$40.00 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 grid-item">
                <div class="product-wrap product-overly mb-10" data-aos="fade-up" data-aos-delay="400">
                    <div class="product-img img-zoom">
                        <a href="product-details.html">
                            <img src="/static/web/images/product/product-12.png" alt="">
                        </a>
                        <div class="product-badge-2">
                            <span>-10%</span>
                        </div>
                        <div class="product-action-3-wrap">
                            <a href="#">Add To Cart</a>
                        </div>
                        <div class="product-content product-content-position">
                            <h3><a href="product-details.html">Awesome Light</a></h3>
                            <div class="product-price">
                                <span class="old-price">$45.00 </span>
                                <span class="new-price">$40.00 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 grid-item">
                <div class="product-wrap product-overly mb-10" data-aos="fade-up" data-aos-delay="500">
                    <div class="product-img img-zoom">
                        <a href="product-details.html">
                            <img src="/static/web/images/product/product-13.png" alt="">
                        </a>
                        <div class="product-badge-2">
                            <span>-10%</span>
                        </div>
                        <div class="product-action-3-wrap">
                            <a href="#">Add To Cart</a>
                        </div>
                        <div class="product-content product-content-position">
                            <h3><a href="product-details.html">Modern Sofa Set</a></h3>
                            <div class="product-price">
                                <span class="old-price">$45.00 </span>
                                <span class="new-price">$40.00 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 grid-item">
                <div class="product-wrap product-overly mb-10" data-aos="fade-up" data-aos-delay="600">
                    <div class="product-img img-zoom">
                        <a href="product-details.html">
                            <img src="/static/web/images/product/product-14.png" alt="">
                        </a>
                        <div class="product-badge-2">
                            <span>-10%</span>
                        </div>
                        <div class="product-action-3-wrap">
                            <a href="#">Add To Cart</a>
                        </div>
                        <div class="product-content product-content-position">
                            <h3><a href="product-details.html">New Modern Chair</a></h3>
                            <div class="product-price">
                                <span class="old-price">$45.00 </span>
                                <span class="new-price">$40.00 </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer-area">
    <div class="bg-light-yellow">
        <div class="container">
            <div class="footer-top pt-80 pb-35">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-about mb-40">
                            <div class="footer-logo">
                                <a href="/"><img src="/static/web/images/logo/logo.svg" alt="logo"
                                        style="height:58px"></a>
                            </div>
                            <p>Lorem ipsum dolor sit amet, cons adipi elit, sed do eiusmod tempor incididunt ut aliqua.
                            </p>
                            <div class="payment-img">
                                <a href="#"><img src="/static/web/images/icon-img/payment.png" alt="logo"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-widget-margin-1 footer-list mb-40">
                            <h3 class="footer-title">Information</h3>
                            <ul>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="#">Delivery Information</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Customer Service</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-list mb-40">
                            <h3 class="footer-title">My Accound</h3>
                            <ul>
                                <li><a href="my-account.html">My Account</a></li>
                                <li><a href="#">Order History</a></li>
                                <li><a href="wishlist.html">Wish List</a></li>
                                <li><a href="#">Newsletter</a></li>
                                <li><a href="#">Order History</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="footer-widget footer-widget-margin-2 footer-address mb-40">
                            <h3 class="footer-title">Get in touch</h3>
                            <ul>
                                <li><span>Address: </span>Your address goes here </li>
                                <li><span>Telephone Enquiry:</span> (012) 345 6789</li>
                                <li><span>Email: </span>demo@example.com</li>
                            </ul>
                            <div class="open-time">
                                <p>Open : <span>8:00 AM</span> - Close : <span>18:00 PM</span></p>
                                <p>Saturday - Sunday : Close</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark-yellow">
        <div class="container">
            <div class="footer-bottom copyright text-center">
                <p>Copyright ©2022 All rights reserved | Made with <i class="fa fa-heart"></i> by <a
                        href="https://hasthemes.com/"> HasThemes</a>.</p>
            </div>
        </div>
    </div>
</footer>

{% endblock %}