{% extends 'web/base.html' %}

{% block content %}

<div class="breadcrumb-area breadcrumb-padding-1 add_bg">
    <div class="container">
        <div class="breadcrumb-content">
            <h2 data-aos="fade-up" data-aos-delay="200">Shop Location</h2>
        </div>
    </div>

</div>
<div class="shop-location pt-95 pb-45">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-store mb-50" data-aos="fade-up" data-aos-delay="200">
                    <h3>Urdan Australia</h3>
                    <ul>
                        <li>You address will be here.</li>
                        <li>01234 567 890 / 01234 567 891</li>
                        <li>info@example.com / www.example.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-store mb-50" data-aos="fade-up" data-aos-delay="400">
                    <h3>Urdan England</h3>
                    <ul>
                        <li>You address will be here.</li>
                        <li>01234 567 890 / 01234 567 891</li>
                        <li>info@example.com / www.example.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-store mb-50" data-aos="fade-up" data-aos-delay="600">
                    <h3>Urdan Germany</h3>
                    <ul>
                        <li>You address will be here.</li>
                        <li>01234 567 890 / 01234 567 891</li>
                        <li>info@example.com / www.example.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-store mb-50" data-aos="fade-up" data-aos-delay="200">
                    <h3>Urdan France</h3>
                    <ul>
                        <li>You address will be here.</li>
                        <li>01234 567 890 / 01234 567 891</li>
                        <li>info@example.com / www.example.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-store mb-50" data-aos="fade-up" data-aos-delay="400">
                    <h3>Urdan Canada</h3>
                    <ul>
                        <li>You address will be here.</li>
                        <li>01234 567 890 / 01234 567 891</li>
                        <li>info@example.com / www.example.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-store mb-50" data-aos="fade-up" data-aos-delay="600">
                    <h3>Urdan Denmark</h3>
                    <ul>
                        <li>You address will be here.</li>
                        <li>01234 567 890 / 01234 567 891</li>
                        <li>info@example.com / www.example.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
