<!doctype html>
<html class="no-js" lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <title>Bfolio - Personal Portfolio HTML Template</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- Place favicon.ico in the root directory -->
   <link rel="shortcut icon" type="image/x-icon" href="/static/web/img/logo/favicon.png">

   <!-- CSS here -->
   <link rel="stylesheet" href="/static/web/css/bootstrap.css">
   <link rel="stylesheet" href="/static/web/css/swiper-bundle.css">
   <link rel="stylesheet" href="/static/web/css/swiper-gl.css">
   <link rel="stylesheet" href="/static/web/css/magnific-popup.css">
   <link rel="stylesheet" href="/static/web/css/font-awesome-pro.css">
   <link rel="stylesheet" href="/static/web/css/spacing.css">
   <link rel="stylesheet" href="/static/web/css/main.css">
</head>

<body class="tp-magic-cursor">
   <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->

   <!-- Preloader -->
   <div class="preloader">
      <div class="spinner-wrap">
         <div class="preloader-logo">
            <img data-width="140" src="/static/web/img/logo/logo-2.png" alt="" class="img-fluid">
         </div>
         <div class="spinner"></div>
      </div>
   </div>
   <!-- Preloader End -->

   <!-- Begin magic cursor -->
   <div id="magic-cursor" class="cursor-white-bg">
      <div id="ball"></div>
   </div>
   <!-- End magic cursor -->

   <!-- back to top start -->
   <div class="back-to-top-wrapper">
      <button id="back_to_top" type="button" class="back-to-top-btn">
         <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11 6L6 1L1 6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
               stroke-linejoin="round" />
         </svg>
      </button>
   </div>
   <!-- back to top end -->

   <!--search-form-start -->
   <div class="tp-search-body-overlay"></div>
   <div class="tp-search-form-toggle">
      <div class="container">
         <div class="row mb-70">
            <div class="col-lg-12">
               <div class="tp-search-top d-flex justify-content-between align-items-center">
                  <div class="tp-header-logo">
                     <a class="logo-dark d-none" href="index.html"><img data-width="138" src="/static/web/img/logo/logo-2.png" alt=""></a>
                     <a class="logo-white" href="index.html"><img data-width="138" src="/static/web/img/logo/logo.png" alt=""></a>
                  </div>
                  <button class="tp-search-close">
                     <i class="fa-light fa-xmark"></i>
                  </button>
               </div>
            </div>
         </div>
         <div class="row justify-content-center">
            <div class="col-lg-12">
               <div class="tp-search-form">
                  <form action="#">
                     <div class="tp-search-form-input">
                        <input type="text" placeholder="What are you looking foor?" required>
                        <span class="tp-search-focus-border"></span>
                        <button class="tp-search-form-icon" type="submit">
                           <i class="fa-sharp fa-regular fa-magnifying-glass"></i>
                        </button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- search-form-end -->

   <!-- tp-offcanvus-area-start -->
   <div class="tp-offcanvas-area">
      <div class="tp-offcanvas">
         <div class="tp-offcanvas-top d-flex align-items-center justify-content-between">
            <div class="tp-header-logo">
               <a class="logo-dark d-none" href="index.html"><img data-width="138" src="/static/web/img/logo/logo-2.png" alt=""></a>
               <a class="logo-white" href="index.html"><img data-width="138" src="/static/web/img/logo/logo.png" alt=""></a>
            </div>
            <div class="tp-offcanvas-close-btn">
               <button class="close-btn">
                  <svg width="37" height="38" viewBox="0 0 37 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                     <path d="M9.19141 9.80762L27.5762 28.1924" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                     <path d="M9.19141 28.1924L27.5762 9.80761" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
               </button>
            </div>
         </div>
         <div class="tp-offcanvas-content d-none d-xl-block">
            <h3 class="tp-offcanvas-title">Hello There!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, </p>
         </div>
         <div class="tp-offcanvas-menu d-xl-none">
            <nav></nav>
         </div>
         <div class="tp-offcanvas-gallery d-none d-xl-block">
            <div class="row gx-2">
               <div class="col-md-3 col-3">
                  <div class="tp-offcanvas-gallery-img fix">
                     <a class="popup-image" href="/static/web/img/offcanvas/offcanvas-1.jpg"><img src="/static/web/img/offcanvas/offcanvas-1.jpg" alt=""></a>
                  </div>
               </div>
               <div class="col-md-3 col-3">
                  <div class="tp-offcanvas-gallery-img fix">
                     <a class="popup-image" href="/static/web/img/offcanvas/offcanvas-2.jpg"><img src="/static/web/img/offcanvas/offcanvas-2.jpg" alt=""></a>
                  </div>
               </div>
               <div class="col-md-3 col-3">
                  <div class="tp-offcanvas-gallery-img fix">
                     <a class="popup-image" href="/static/web/img/offcanvas/offcanvas-3.jpg"><img src="/static/web/img/offcanvas/offcanvas-3.jpg" alt=""></a>
                  </div>
               </div>
               <div class="col-md-3 col-3">
                  <div class="tp-offcanvas-gallery-img fix">
                     <a class="popup-image" href="/static/web/img/offcanvas/offcanvas-4.jpg"><img src="/static/web/img/offcanvas/offcanvas-4.jpg" alt=""></a>
                  </div>
               </div>
            </div>
         </div>
         <div class="tp-offcanvas-contact">
            <h3 class="tp-offcanvas-title sm">Information</h3>
            <ul>
               <li><a href="tel:1245654">+ 4 20 7700 1007</a></li>
               <li><a href="mailto:hello@aleric.com">hello@aleric.com</a></li>
               <li><a href="#">Avenue de Roma 158b, Lisboa</a></li>
            </ul>
         </div>
         <div class="tp-offcanvas-social">
            <h3 class="tp-offcanvas-title sm">Follow Us</h3>
            <ul>
               <li>
                  <a href="#">
                     <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.25 1.5H4.75C2.95507 1.5 1.5 2.95507 1.5 4.75V11.25C1.5 13.0449 2.95507 14.5 4.75 14.5H11.25C13.0449 14.5 14.5 13.0449 14.5 11.25V4.75C14.5 2.95507 13.0449 1.5 11.25 1.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M10.6016 7.5907C10.6818 8.13166 10.5894 8.68414 10.3375 9.16955C10.0856 9.65497 9.68711 10.0486 9.19862 10.2945C8.71014 10.5404 8.15656 10.6259 7.61663 10.5391C7.0767 10.4522 6.57791 10.1972 6.19121 9.81055C5.80451 9.42385 5.54959 8.92506 5.46271 8.38513C5.37583 7.8452 5.46141 7.29163 5.70728 6.80314C5.95315 6.31465 6.34679 5.91613 6.83221 5.66425C7.31763 5.41238 7.87011 5.31998 8.41107 5.4002C8.96287 5.48202 9.47372 5.73915 9.86817 6.1336C10.2626 6.52804 10.5197 7.0389 10.6016 7.5907Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M11.5742 4.42578H11.5842" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                     </svg>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.50589 12.7494C4.57662 16.336 9.16278 17.5648 12.7494 15.4941C14.2113 14.65 15.2816 13.388 15.8962 11.9461C16.7895 9.85066 16.7208 7.37526 15.4941 5.25063C14.2674 3.12599 12.1581 1.82872 9.89669 1.55462C8.34063 1.366 6.71259 1.66183 5.25063 2.50589C1.66403 4.57662 0.435172 9.16278 2.50589 12.7494Z" stroke="currentColor" stroke-width="1.5" />
                        <path d="M12.7127 15.4292C12.7127 15.4292 12.0086 10.4867 10.5011 7.87559C8.99362 5.26451 5.28935 2.57155 5.28935 2.57155M5.68449 15.6124C6.79553 12.2606 12.34 8.54524 16.3975 9.43537M12.311 2.4082C11.1953 5.72344 5.75732 9.38453 1.71875 8.58915" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
                     </svg>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <svg width="18" height="11" viewBox="0 0 18 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 5.5715H6.33342C7.62867 5.5715 8.61917 6.56199 8.61917 7.85725C8.61917 9.15251 7.62867 10.143 6.33342 10.143H1.76192C1.30477 10.143 1 9.83823 1 9.38108V1.76192C1 1.30477 1.30477 1 1.76192 1H5.5715C6.86676 1 7.85725 1.99049 7.85725 3.28575C7.85725 4.58101 6.86676 5.5715 5.5715 5.5715H1Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"></path>
                        <path d="M10.9062 7.09454H17.0016C17.0016 5.41832 15.6301 4.04688 13.9539 4.04688C12.2777 4.04688 10.9062 5.41832 10.9062 7.09454ZM10.9062 7.09454C10.9062 8.77076 12.2777 10.1422 13.9539 10.1422H15.2492" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M16.1125 1.44434H11.668" stroke="currentColor" stroke-width="1.2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                     </svg>
                  </a>
               </li>
               <li>
                  <a href="#">
                     <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.75 13H5.25C3 13 1.5 11.5 1.5 9.25V4.75C1.5 2.5 3 1 5.25 1H12.75C15 1 16.5 2.5 16.5 4.75V9.25C16.5 11.5 15 13 12.75 13Z" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M8.70676 5.14837L10.8006 6.40465C11.5543 6.90716 11.5543 7.66093 10.8006 8.16344L8.70676 9.41972C7.86923 9.92224 7.19922 9.50348 7.19922 8.5822V6.06964C7.19922 4.98086 7.86923 4.64585 8.70676 5.14837Z" fill="currentColor" />
                     </svg>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="body-overlay"></div>
   <!-- tp-offcanvus-area-end -->

   <header>

      <!-- tp-header-area-start -->
      <div id="header-sticky" class="tp-header-area tp-header-2-spacing mt-20 tp-transparent tp-header-spacing">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                  <div class="tp-header-logo">
                     <a class="logo-dark d-none" href="index.html"><img data-width="138" src="/static/web/img/logo/logo-2.png" alt=""></a>
                     <a class="logo-white" href="index.html"><img data-width="138" src="/static/web/img/logo/logo.png" alt=""></a>
                  </div>
               </div>
               <div class="col-lg-6 d-none d-xl-block">
                  <div class="tp-main-menu tp-main-menu-2 text-end mr-85">
                     <nav class="tp-mobile-menu-active">
                        <ul>
                           <li class="has-dropdown position-static">
                              <a href="index.html">
                                 <span class="explore-text" data-text="Home">Home</span>
                             </a>
                              <div class="tp-submenu submenu tp-mega-menu">
                                 <div class="tp-menu-fullwidth">
                                    <div class="tp-homemenu-wrapper">
                                       <div class="row gx-25 row-cols-xl-6 row-cols-lg-2 row-cols-md-2 row-cols-1">
                                          <div class="col homemenu">
                                             <div class="homemenu-thumb-wrap mb-20">
                                                <div class="homemenu-thumb fix">
                                                   <a href="index.html"><img src="/static/web/img/update/menu/home-1.jpg" alt=""></a>
                                                </div>
                                                <div class="homemenu-btn">
                                                   <a href="index-dark.html" class="tp-btn mb-10 d-inline-flex align-items-center">
                                                      <span>
                                                         <span class="text-1">Home Dark</span>
                                                         <span class="text-2">Home Dark</span>
                                                      </span>
                                                   </a>
                                                   <a href="index.html" class="tp-btn bf-btn-white d-inline-flex align-items-center">
                                                      <span>
                                                         <span class="text-1">Home Light</span>
                                                         <span class="text-2">Home Light</span>
                                                      </span>
                                                   </a>
                                                </div>
                                             </div>
                                             <div class="homemenu-content text-center">
                                                <h4 class="homemenu-title">
                                                   <a href="index.html">Minimal Portfolio</a>
                                                </h4>
                                             </div>
                                          </div>
                                          <div class="col homemenu">
                                             <div class="homemenu-thumb-wrap mb-20">
                                                <span class="update">NEW</span>
                                                <div class="homemenu-thumb fix">
                                                   <a href="index-5-light.html"><img src="/static/web/img/update/menu/home-4.jpg" alt=""></a>
                                                </div>
                                                <div class="homemenu-btn">
                                                   <a href="index-5-dark.html" class="tp-btn mb-10 d-inline-flex align-items-center">
                                                      <span>
                                                         <span class="text-1">Home Dark</span>
                                                         <span class="text-2">Home Dark</span>
                                                      </span>
                                                   </a>
                                                   <a href="index-5-light.html" class="tp-btn bf-btn-white d-inline-flex align-items-center">
                                                      <span>
                                                         <span class="text-1">Home Light</span>
                                                         <span class="text-2">Home Light</span>
                                                      </span>
                                                   </a>
                                                </div>
                                             </div>
                                             <div class="homemenu-content text-center">
                                                <h4 class="homemenu-title">
                                                   <a href="index-5-light.html">VIDEO PRODUCTION</a>
                                                </h4>
                                             </div>
                                          </div>
                                          <div class="col homemenu">
                                             <div class="homemenu-thumb-wrap mb-20">
                                                <span class="update">NEW</span>
                                                <div class="homemenu-thumb fix">
                                                   <a href="index-4-light.html"><img src="/static/web/img/update/menu/home-2.jpg" alt=""></a>
                                                </div>
                                                <div class="homemenu-btn">
                                                   <a href="index-4-dark.html" class="tp-btn mb-10 d-inline-flex align-items-center">
                                                      <span>
                                                         <span class="text-1">Home Dark</span>
                                                         <span class="text-2">Home Dark</span>
                                                      </span>
                                                   </a>
                                                   <a href="index-4-light.html" class="tp-btn bf-btn-white d-inline-flex align-items-center">
                                                      <span>
                                                         <span class="text-1">Home Light</span>
                                                         <span class="text-2">Home Light</span>
                                                      </span>
                                                   </a>
                                                </div>
                                             </div>
                                             <div class="homemenu-content text-center">
                                                <h4 class="homemenu-title">
                                                   <a href="index-4-light.html">Digital STUDIO</a>
                                                </h4>
                                             </div>
                                          </div>
                                          <div class="col homemenu">
                                             <div class="homemenu-thumb-wrap mb-20">
                                                <span class="update">NEW</span>
                                                <div class="homemenu-thumb fix">
                                                   <a href="index-6-light.html"><img src="/static/web/img/update/menu/home-3.jpg" alt=""></a>
                                                </div>
                                                <div class="homemenu-btn">
                                                   <a href="index-6-dark.html" class="tp-btn mb-10 d-inline-flex align-items-center">
                                                      <span>
                                                         <span class="text-1">Home Dark</span>
                                                         <span class="text-2">Home Dark</span>
                                                      </span>
                                                   </a>
                                                   <a href="index-6-light.html" class="tp-btn bf-btn-white d-inline-flex align-items-center">
                                                      <span>
                                                         <span class="text-1">Home Light</span>
                                                         <span class="text-2">Home Light</span>
                                                      </span>
                                                   </a>
                                                </div>
                                             </div>
                                             <div class="homemenu-content text-center">
                                                <h4 class="homemenu-title">
                                                   <a href="index-6-light.html">Creative Agency</a>
                                                </h4>
                                             </div>
                                          </div>
                                          <div class="col homemenu">
                                             <div class="homemenu-thumb-wrap mb-20">
                                                <div class="homemenu-thumb fix">
                                                   <a href="index-2-light.html"><img src="/static/web/img/update/menu/home-5.jpg" alt=""></a>
                                                </div>
                                                <div class="homemenu-btn">
                                                   <a href="index-2-dark.html" class="tp-btn mb-10 d-inline-flex align-items-center">
                                                      <span>
                                                         <span class="text-1">Home Dark</span>
                                                         <span class="text-2">Home Dark</span>
                                                      </span>
                                                   </a>
                                                   <a href="index-2-light.html" class="tp-btn bf-btn-white d-inline-flex align-items-center">
                                                      <span>
                                                         <span class="text-1">Home Light</span>
                                                         <span class="text-2">Home Light</span>
                                                      </span>
                                                   </a>
                                                </div>
                                             </div>
                                             <div class="homemenu-content text-center">
                                                <h4 class="homemenu-title">
                                                   <a href="index-2-light.html">Creative Portfolio</a>
                                                </h4>
                                             </div>
                                          </div>
                                          <div class="col homemenu">
                                             <div class="homemenu-thumb-wrap mb-20">
                                                <div class="homemenu-thumb fix">
                                                   <a href="index-3-light.html"><img src="/static/web/img/update/menu/home-6.jpg" alt=""></a>
                                                </div>
                                                <div class="homemenu-btn">
                                                   <a href="index-3-dark.html" class="tp-btn mb-10 d-inline-flex align-items-center">
                                                      <span>
                                                         <span class="text-1">Home Dark</span>
                                                         <span class="text-2">Home Dark</span>
                                                      </span>
                                                   </a>
                                                   <a href="index-3-light.html" class="tp-btn bf-btn-white d-inline-flex align-items-center">
                                                      <span>
                                                         <span class="text-1">Home Light</span>
                                                         <span class="text-2">Home Light</span>
                                                      </span>
                                                   </a>
                                                </div>
                                             </div>
                                             <div class="homemenu-content text-center">
                                                <h4 class="homemenu-title">
                                                   <a href="index-3-light.html">Personal Portfolio</a>
                                                </h4>
                                             </div>
                                          </div>
                                          <div class="col homemenu">
                                             <div class="homemenu-thumb-wrap mb-20">
                                                <span class="update">NEW</span>
                                                <div class="homemenu-thumb fix">
                                                   <a href="portfolio-interactive-with-hover.html"><img src="/static/web/img/update/menu/home-7.jpg" alt=""></a>
                                                </div>
                                             </div>
                                             <div class="homemenu-content text-center">
                                                <h4 class="homemenu-title">
                                                   <a href="portfolio-interactive-with-hover.html">Interactive Hover</a>
                                                </h4>
                                             </div>
                                          </div>
                                          <div class="col homemenu">
                                             <div class="homemenu-thumb-wrap mb-20">
                                                <span class="update">NEW</span>
                                                <div class="homemenu-thumb fix">
                                                   <a href="portfolio-interactive-with-scrool.html"><img src="/static/web/img/update/menu/home-8.jpg" alt=""></a>
                                                </div>
                                             </div>
                                             <div class="homemenu-content text-center">
                                                <h4 class="homemenu-title">
                                                   <a href="portfolio-interactive-with-scrool.html">Interactive scrool</a>
                                                </h4>
                                             </div>
                                          </div>
                                          <div class="col homemenu">
                                             <div class="homemenu-thumb-wrap mb-20">
                                                <span class="update">NEW</span>
                                                <div class="homemenu-thumb fix">
                                                   <a href="portfolio-mix-slicer.html"><img src="/static/web/img/update/menu/home-9.jpg" alt=""></a>
                                                </div>
                                             </div>
                                             <div class="homemenu-content text-center">
                                                <h4 class="homemenu-title">
                                                   <a href="portfolio-mix-slicer.html">portfolio slicer</a>
                                                </h4>
                                             </div>
                                          </div>
                                          <div class="col homemenu">
                                             <div class="homemenu-thumb-wrap mb-20">
                                                <span class="update">NEW</span>
                                                <div class="homemenu-thumb fix">
                                                   <a href="portfolio-revealing-slider.html"><img src="/static/web/img/update/menu/home-10.jpg" alt=""></a>
                                                </div>
                                             </div>
                                             <div class="homemenu-content text-center">
                                                <h4 class="homemenu-title">
                                                   <a href="portfolio-revealing-slider.html">portfolio revealing</a>
                                                </h4>
                                             </div>
                                          </div>
                                          <div class="col homemenu">
                                             <div class="homemenu-thumb-wrap comeing-soon mb-20">
                                                <div class="homemenu-thumb fix">
                                                   <img src="/static/web/img/update/menu/comeing-soon.jpg" alt="">
                                                </div>
                                             </div>
                                             <div class="homemenu-content text-center">
                                                <h4 class="homemenu-title">Coming Soon</h4>
                                             </div>
                                          </div>
                                          <div class="col homemenu">
                                             <div class="homemenu-thumb-wrap comeing-soon mb-20">
                                                <div class="homemenu-thumb fix">
                                                   <img src="/static/web/img/update/menu/comeing-soon.jpg" alt="">
                                                </div>
                                             </div>
                                             <div class="homemenu-content text-center">
                                                <h4 class="homemenu-title">Coming Soon</h4>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </li>
                           <li>
                              <a href="about-me-light.html">
                                 <span class="explore-text" data-text="About">About</span>
                              </a>
                              <ul class="tp-submenu submenu">
                                 <li><a href="about-me-light.html">About Me Light</a></li>
                                 <li><a href="about-me-dark.html">About Me Dark</a></li>
                                 <li><a href="about-us-light.html">About Us Light</a></li>
                                 <li><a href="about-us-dark.html">About Us Dark</a></li>
                              </ul>
                           </li>
                           <li class="has-dropdown">
                              <a href="#">
                                 <span class="explore-text" data-text="Pages">Pages</span>
                             </a>
                              <ul class="tp-submenu submenu">
                                 <li><a href="service-light.html">Service</a></li>
                                 <li><a href="portfolio-light.html">Portfolio</a></li>
                                 <li><a href="portfolio-details-light.html">Portfolio Details</a></li>
                                 <li><a href="blog-light.html">Blog</a></li>
                                 <li><a href="blog-standard-light.html">Blog Standard</a></li>
                                 <li><a href="blog-details-light.html">Blog Details</a></li>
                                 <li><a href="blog-details-sidebar-light.html">Blog Details Sidebar</a></li>
                              </ul>
                           </li>
                           <li>
                              <a href="contact-light.html">
                                 <span class="explore-text" data-text="Contact">Contact</span>
                              </a>
                              <ul class="tp-submenu submenu">
                                 <li><a href="contact-light.html">Contact Light</a></li>
                                 <li><a href="contact-dark.html">Contact Dark</a></li>
                                 <li><a href="contact-us-light.html">Contact Us Light</a></li>
                                 <li><a href="contact-us-light.html">Contact Us Dark</a></li>
                              </ul>
                           </li>
                        </ul>
                     </nav>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-9 col-md-8 col-6">
                  <div class="tp-header-right d-flex justify-content-end">
                     <button class="tp-header-search tp-search-click">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M9.00004 17.0001C13.4183 17.0001 17.0001 13.4184 17.0001 9.00006C17.0001 4.58176 13.4183 1.00002 9.00004 1.00002C4.58174 1.00002 1 4.58176 1 9.00006C1 13.4184 4.58174 17.0001 9.00004 17.0001Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                           <path d="M19.0004 18.9999L14.6504 14.6499" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                     </button>
                     <a href="contact-light.html" class="tp-btn d-none d-md-inline-flex align-items-center ml-30">
                        <span>
                           <span class="text-1">Let’s Talk</span>
                           <span class="text-2">Let’s Talk</span>
                        </span>
                     </a>
                     <button class="tp-header-menu-btn tp-menu-bar ml-10">
                        <span></span>
                        <span></span>
                        <span></span>
                     </button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- tp-header-area-end -->

   </header>

   <div id="smooth-wrapper">
      <div id="smooth-content">
         <main>

            <!-- tp-blog-area-start -->
            <div class="tp-blog-area tp-blog-spacing pt-175 pb-160">
               <div class="container">
                  <div class="row">
                     <div class="col-12">
                        <h2 class="tp-project-tittle reveal-text text-center mb-80">Blog standard</h2>
                     </div>
                     <div class="col-lg-8">
                        <div class="tp-postbox-wrapper mr-55">
                           <article class="tp-postbox-item mb-60">
                              <div class="tp-postbox-thumb p-relative mb-35">
                                 <img class="w-100" src="/static/web/img/blog/postbox/thumb.jpg" alt="">
                                 <div class="tp-postbox-date text-center">
                                    <span>Jun</span>
                                    <h5>16</h5>
                                 </div>
                              </div>
                              <div class="tp-postbox-content-wrap">
                                 <div class="tp-postbox-meta mb-15 d-flex align-items-center">
                                    <a href="#">
                                       <img src="/static/web/img/blog/postbox/author.png.jpeg" alt="">
                                       Polina Viola
                                    </a>
                                    <div class="tp-postbox-border"></div>
                                    <span>Branding</span>
                                 </div>
                                 <div class="tp-postbox-content">
                                    <h3 class="tp-postbox-tittle mb-20"><a href="blog-details-light.html" class="common-underline">Complete guide for user follow Ux</a></h3>
                                    <p class="mb-30">faucibus enim. In aliquam tempus porta. Mauris vel finibus risus. Maecenas egestas mi
                                    sed neque finibus, nec faucibus ipsum aliquet. Duis scelerisque at odio</p>
                                    <a href="blog-details-light.html" class="tp-btn tp-btn-border tp-btn-xl d-inline-flex align-items-center">
                                       <span>
                                          <span class="text-1">Read More</span>
                                          <span class="text-2">Read More</span>
                                       </span>
                                    </a>
                                 </div>
                              </div>
                           </article>
                           <article class="tp-postbox-item mb-60">
                              <div class="tp-postbox-thumb p-relative mb-35">
                                 <div class="swiper-container postbox-thumb-slider-active">
                                    <div class="swiper-wrapper">
                                       <div class="swiper-slide">
                                          <a href="blog-details-light.html">
                                             <img class="w-100" src="/static/web/img/blog/postbox/thumb-2.jpg" alt="">
                                          </a>
                                       </div>
                                       <div class="swiper-slide">
                                          <a href="blog-details-light.html">
                                             <img class="w-100" src="/static/web/img/blog/postbox/thumb-3.jpg" alt="">
                                          </a>
                                       </div>
                                       <div class="swiper-slide">
                                          <a href="blog-details-light.html">
                                             <img class="w-100" src="/static/web/img/blog/postbox/thumb-4.jpg" alt="">
                                          </a>
                                       </div>
                                    </div>
                                    <div class="tp-postbox-slider-arrow-wrap d-none d-sm-block">
                                       <button class="tp-postbox-arrow-prev">
                                          <i class="fa-sharp fa-solid fa-arrow-right"></i>
                                       </button>
                                       <button class="tp-postbox-arrow-next">
                                          <i class="fa-sharp fa-solid fa-arrow-left"></i>
                                       </button>
                                    </div>
                                    <div class="tp-postbox-date text-center">
                                       <span>Jun</span>
                                       <h5>16</h5>
                                    </div>
                                 </div>
                              </div>
                              <div class="tp-postbox-content-wrap">
                                 <div class="tp-postbox-meta mb-15 d-flex align-items-center">
                                    <a href="#">
                                       <img src="/static/web/img/blog/postbox/author-4.png" alt="">
                                       Julliyana Dsuza
                                    </a>
                                    <div class="tp-postbox-border"></div>
                                    <span>Development</span>
                                 </div>
                                 <div class="tp-postbox-content">
                                    <h3 class="tp-postbox-tittle mb-20"><a href="blog-details-light.html" class="common-underline">Stay updated with the latest design</a></h3>
                                    <p class="mb-30">faucibus enim. In aliquam tempus porta. Mauris vel finibus risus. Maecenas egestas mi
                                    sed neque finibus, nec faucibus ipsum aliquet. Duis scelerisque at odio</p>
                                    <a href="blog-details-light.html" class="tp-btn tp-btn-border tp-btn-xl d-inline-flex align-items-center">
                                       <span>
                                          <span class="text-1">Read More</span>
                                          <span class="text-2">Read More</span>
                                       </span>
                                    </a>
                                 </div>
                              </div>
                           </article>
                           <article class="tp-postbox-item mb-60">
                              <div class="tp-postbox-thumb p-relative mb-35">
                                 <img class="w-100" src="/static/web/img/blog/postbox/thumb-3.jpg" alt="">
                                 <div class="tp-postbox-video-btn">
                                    <a class="tp-video-play popup-video" href="https://www.youtube.com/watch?v=go7QYaQR494">
                                       <i class="p-relative z-index-3 fa-regular fa-play"></i>
                                       <div class="tp-video-btn-anm">
                                          <div class="tp-video-waves tp-video-wave-1"></div>
                                          <div class="tp-video-waves tp-video-wave-2"></div>
                                          <div class="tp-video-waves tp-video-wave-3"></div>
                                       </div>
                                    </a>
                                 </div>
                                 <div class="tp-postbox-date text-center">
                                    <span>Jun</span>
                                    <h5>16</h5>
                                 </div>
                              </div>
                              <div class="tp-postbox-content-wrap">
                                 <div class="tp-postbox-meta mb-15 d-flex align-items-center">
                                    <a href="#">
                                       <img src="/static/web/img/blog/postbox/author-3.png" alt="">
                                       Paul Pitterson
                                    </a>
                                    <div class="tp-postbox-border"></div>
                                    <span>Graphics</span>
                                 </div>
                                 <div class="tp-postbox-content">
                                    <h3 class="tp-postbox-tittle mb-20"><a href="blog-details-light.html" class="common-underline">Detailed breakdowns of selected</a></h3>
                                    <p class="mb-30">faucibus enim. In aliquam tempus porta. Mauris vel finibus risus. Maecenas egestas mi
                                    sed neque finibus, nec faucibus ipsum aliquet. Duis scelerisque at odio</p>
                                    <a href="blog-details-light.html" class="tp-btn tp-btn-border tp-btn-xl d-inline-flex align-items-center">
                                       <span>
                                          <span class="text-1">Read More</span>
                                          <span class="text-2">Read More</span>
                                       </span>
                                    </a>
                                 </div>
                              </div>
                           </article>
                           <article class="tp-postbox-item mb-60">
                              <div class="tp-postbox-thumb p-relative mb-35">
                                 <img class="w-100" src="/static/web/img/blog/postbox/thumb-4.jpg" alt="">
                                 <div class="tp-postbox-date text-center">
                                    <span>Jun</span>
                                    <h5>16</h5>
                                 </div>
                              </div>
                              <div class="tp-postbox-content-wrap">
                                 <div class="tp-postbox-meta mb-15 d-flex align-items-center">
                                    <a href="#">
                                       <img src="/static/web/img/blog/postbox/author.png.jpeg" alt="">
                                       David Hussey
                                    </a>
                                    <div class="tp-postbox-border"></div>
                                    <span>Illustration</span>
                                 </div>
                                 <div class="tp-postbox-content">
                                    <h3 class="tp-postbox-tittle mb-20"><a href="blog-details-light.html" class="common-underline">Rental friendly practices for guests</a></h3>
                                    <p class="mb-30">faucibus enim. In aliquam tempus porta. Mauris vel finibus risus. Maecenas egestas mi
                                    sed neque finibus, nec faucibus ipsum aliquet. Duis scelerisque at odio</p>
                                    <a href="blog-details-light.html" class="tp-btn tp-btn-border tp-btn-xl d-inline-flex align-items-center">
                                       <span>
                                          <span class="text-1">Read More</span>
                                          <span class="text-2">Read More</span>
                                       </span>
                                    </a>
                                 </div>
                              </div>
                           </article>
                           <div class="tp-pagination-wrap pt-20">
                              <ul>
                                 <li>
                                    <a href="#">
                                       <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M6 11L1 6L6 1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                       </svg>
                                    </a>
                                 </li>
                                 <li>
                                    <a class="active" href="#">1</a>
                                 </li>
                                 <li>
                                    <a href="#">2</a>
                                 </li>
                                 <li>
                                    <a href="#">...</a>
                                 </li>
                                 <li>
                                    <a href="#">4</a>
                                 </li>
                                 <li>
                                    <a href="#">
                                       <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M1 11L6 6L1 1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                       </svg>
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-4">
                        <div class="tp-blog-sidebar">
                           <div class="tp-blog-sidebar-search mb-50">
                              <h3 class="tp-blog-sidebar-tittle mb-20">Search</h3>
                              <form action="#">
                                 <div class="tp-blog-sidebar-search-input">
                                    <input type="text" placeholder="Search...">
                                    <button type="submit">
                                       <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M18.9999 19L14.6499 14.65M17 9C17 13.4183 13.4183 17 9 17C4.58172 17 1 13.4183 1 9C1 4.58172 4.58172 1 9 1C13.4183 1 17 4.58172 17 9Z" stroke="currentcolor" stroke-opacity="0.8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                       </svg>
                                    </button>
                                 </div>
                              </form>
                           </div>
                           <div class="tp-blog-sidebar-cetagory mb-40">
                              <h3 class="tp-blog-sidebar-tittle mb-20">Category</h3>
                              <ul>
                                 <li>
                                    <a href="#">
                                       <span>Design</span>
                                       <span>[7]</span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#">
                                       <span>Experience</span>
                                       <span>[4]</span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#">
                                       <span>Uncategorized</span>
                                       <span>[0]</span>
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#">
                                       <span>Digital</span>
                                       <span>[3]</span>
                                    </a>
                                 </li>
                              </ul>
                           </div>
                           <div class="tp-blog-sidebar-post mb-50">
                              <h3 class="tp-blog-sidebar-tittle mb-30">Recent Posts</h3>
                              <div class="rc-post-wrap">
                                 <div class="rc-post d-flex mb-20 align-items-center">
                                    <div class="rc-post-thumb mr-20">
                                       <a href="blog-details-light.html">
                                          <img src="/static/web/img/blog/postbox/rc-post/thumb.jpg" alt="">
                                       </a>
                                    </div>
                                    <div class="rc-post-content">
                                       <h6 class="rc-post-title mb-5">
                                          <a class="common-underline" href="blog-details-light.html">Lazarev. got 3 <br> CSS Design Awards</a>
                                       </h6>
                                       <div class="rc-post-cetagory">
                                          <span><a href="#">Design</a></span>
                                          <span>July 15, 2023</span>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="rc-post d-flex align-items-center">
                                    <div class="rc-post-thumb mr-20">
                                       <a href="blog-details-light.html">
                                          <img src="/static/web/img/blog/postbox/rc-post/thumb-2.jpg" alt="">
                                       </a>
                                    </div>
                                    <div class="rc-post-content">
                                       <h6 class="rc-post-title mb-5">
                                          <a class="common-underline" href="blog-details-light.html">Lazarev. got 3 <br> CSS Design Awards</a>
                                       </h6>
                                       <div class="rc-post-cetagory">
                                          <span><a href="#">Strategy</a></span>
                                          <span>Oct 08, 2023</span>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="tp-blog-sidebar-tagcloud mb-50">
                              <h3 class="tp-blog-sidebar-tittle mb-20">Tags</h3>
                              <div class="tagcloud">
                                 <a href="#">Blog</a>
                                 <a href="#">Creative</a>
                                 <a href="#">Portfolio</a>
                                 <a href="#">Theme</a>
                                 <a href="#">WordPress</a>
                                 <a href="#">Design Trends</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- tp-blog-area-end -->

         </main>
      
         <footer>
      
            <!-- tp-footer-area-start -->
            <div class="tp-footer-area tp-footer-2-wrap grey-bg pt-155">
               <div class="container">
                  <div class="tp-footer-middle mb-30">
                     <div class="row">
                        <div class="col-xxl-5 col-xl-4 col-lg-6 col-md-6 col-sm-6">
                           <div class="tp-footer-widget mb-40">
                              <h5 class="tp-footer-tittle mb-15">Stay connected</h5>
                              <a class="tp-footer-email" href="mailto:help@gmail.com">help@gmail.com</a>
                           </div>
                        </div>
                        <div class="col-xxl-2 col-xl-3 col-lg-6 col-md-6 col-sm-6">
                           <div class="tp-footer-widget mb-40">
                              <h5 class="tp-footer-tittle mb-15">London</h5>
                              <a class="tp-footer-link" href="#">Germany 785 15h Street<br> Office 478 Berlin</a>
                           </div>
                        </div>
                        <div class="col-xxl-2 col-xl-2 col-lg-6 col-md-6 col-sm-6">
                           <div class="tp-footer-widget ml-40  p-relative mb-40">
                              <h5 class="tp-footer-tittle mb-15">Contact</h5>
                              <div>
                                 <a class="tp-footer-link" href="tel:+999236542654">+999 23654 2654</a>
                              </div>
                              <div>
                                 <a class="tp-footer-link" href="mailto:bfolio@help.com">bfolio@help.com</a>
                              </div>
                           </div>
                        </div>
                        <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6 col-sm-6">
                           <div class="tp-footer-widget ml-80 p-relative mb-40">
                              <h5 class="tp-footer-tittle mb-30">Social media</h5>
                              <div class="tp-footer-social mb-70 d-flex">
                                 <span><a href="#"><i class="fa-brands fa-instagram"></i></a></span>
                                 <span><a href="#"><i class="fa-brands fa-dribbble"></i></a></span>
                                 <span><a href="#"><i class="fa-brands fa-behance"></i></a></span>
                                 <span><a href="#"><i class="fa-brands fa-youtube"></i></a></span>
                              </div>
                           </div>
                        </div>
                        <div class="col-12">
                           <div class="tp-hero-bigtext pt-40">
                              <h2 class="d-flex">Bf <span class="p-relative shape-2">o
                                 <svg width="121" height="59" viewBox="0 0 121 59" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M73.7057 0.781014L120.09 58.3117L67.9817 23.5732L0.309197 28.2302L73.7057 0.781014Z" fill="currentColor" />
                                 </svg>
                              </span> lio <span class="shape">@</span></h2>
                           </div>
                           <div class="tp-footer-copyright pb-15 text-center">
                              <p>© 2025 <a href="#">Bfolio.</a> All rights reserved.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- tp-footer-area-end -->

         </footer>
      </div>
   </div>


   <!-- JS here -->
   <script src="/static/web/js/vendor/jquery.js"></script>
   <script src="/static/web/js/bootstrap-bundle.js"></script>
   <script src="/static/web/js/plugin.js"></script>
   <script src="/static/web/js/split-type.js"></script>
   <script src="/static/web/js/swiper-bundle.js"></script>
   <script src="/static/web/js/swiper-gl.js"></script>
   <script src="/static/web/js/magnific-popup.js"></script>
   <script src="/static/web/js/nice-select.js"></script>
   <script src="/static/web/js/purecounter.js"></script>
   <script src="/static/web/js/ajax-form.js"></script>
   <script src="/static/web/js/slider-init.js"></script>
   <script src="/static/web/js/main.js"></script>
   <script src="/static/web/js/tp-cursor.js"></script>
</body>

</html>