{% extends 'web/base.html' %}
{% load static %}
{% block body_class %}tp-magic-cursor bfolio-light{% endblock %}
{% block body_bg_attr %}data-bg-color="#f8f8f9"{% endblock %}

{% block offcanvas %}
{% include 'web/partials/offcanvas.html' %}
{% endblock offcanvas %}

{% block header %}
{% include 'web/partials/header_home.html' %}
{% endblock header %}

{% block main %}

{% include 'web/partials/hero_home.html' %}

{% include 'web/partials/about_home.html' %}

{% include 'web/partials/brands_home.html' %}

{% include 'web/partials/portfolio_home.html' %}

{% include 'web/partials/service_accordion.html' with service_bg_color='#000' %}

<!-- tp-text-slider-area-start -->
<div class="tp-text-slider-area bf-text-slider-style pt-150">
   {% include 'web/partials/text_slider_inner.html' %}
</div>
<!-- tp-text-slider-area-end -->

<!-- award area start -->
<div class="design-award-area pt-190 title-box pb-160" data-bg-color="#f3f3f3">
   <div class="container">
      {% include 'web/partials/awards_list_inner.html' %}
   </div>
</div>
<!-- award area end -->

{% include 'web/partials/blog_home.html' %}

{% endblock main %}

{% block footer_class %}{% endblock %}
{% block footer %}
   {% include 'web/partials/footer_home.html' %}
{% endblock footer %}

{% block extra_js %}
<script type="module" src="{% static 'web/js/distortion-img.js' %}"></script>
{% endblock extra_js %}