<div class="col-12 mb-5">
    <div id="progress">
        <div id="progress-bar"></div>
        <ul id="progress-num">
            <li><span class="step active">1</span><span>Select Plan</span></li>
            <li><span class="step">2</span><span>Select Meals</span></li>
            <li><span class="step">3</span><span>Create Profile</span></li>
            <li><span class="step">4</span><span>Add Address</span></li>
            <li><span class="step">5</span><span>Set Delivery Address</span></li>
            <li><span class="step">6</span>Finish</li>
          </ul>
    </div>
</div>