{% load static %}
<!-- start section -->
<section class="wow animate__fadeIn parallax" data-parallax-background-ratio="0.5" style="background-image: url('{% static 'web/images/parallax-bg29.jpg' %}')">
  <div class="opacity-medium bg-semi-black"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-7 col-lg-8 col-md-10">
        <div class="text-center border-radius-6px padding-7-rem-all sm-padding-5-rem-all xs-padding-4-rem-all">
          <span class="alt-font font-weight-500 text-fast-blue d-block text-uppercase margin-10px-bottom">Let's get started now</span>
          <h6 class="alt-font font-weight-500 d-inline-block text-extra-dark-gray letter-spacing-minus-1px w-90 lg-w-85 sm-w-55 xs-w-100 margin-3-half-rem-bottom">Don't miss this amazing latest news and opportunities!</h6>
          <!-- start contact form -->
          <form action="" method="post">
            <input class="medium-input border-radius-5px margin-25px-bottom" type="text" name="name" placeholder="Your name">
            <input class="medium-input border-radius-5px margin-25px-bottom required" type="email" name="email" placeholder="Your email address">
            <input type="hidden" name="redirect" value="">
            <button class="btn btn-large btn-dark-gray btn-round-edge w-100 no-margin-bottom submit" type="submit">subscribe to de-l!mra</button>
            <div class="form-results border-radius-5px d-none"></div>
          </form>
          <!-- end contact form -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->
