{% extends 'web/base.html' %}
{% load static %}

{% block content %}

    <!-- service details area start -->
    <div class="service-details-area-start rts-section-gap">
        <div class="container">
            <div class="row">
             
                <div class="col-lg-8 mt_md--50 mt_sm--50 mx-auto">
                    <!-- service -details right-content start -->
                    <div class="service-details-content-right">
                        <div class="large-image">
                            <img src="{{blog.image.url}}" alt="service">
                        </div>
                        <h3 class="title-main-s">
                            {{blog.title}}
                        </h3>
                        <p class="disc">
                            Our space planning service aims to create harmonious and well-organized interior environments that maximize the functionality and visual appeal of the space. We believe that thoughtful space planning is the foundation for creating a comfortable and efficient space that aligns with the client's lifestyle and objectives.
                        </p>
                        <p class="disc">
                            Our process begins by thoroughly evaluating the space, taking into account its dimensions, architectural features, and any existing structural limitations. We then engage in comprehensive discussions with the client to understand their specific requirements, preferences, and any special considerations. Using this information, our team of experienced designers develops a customized space plan that optimizes the layout and flow of the space. We carefully consider factors such as traffic patterns, spatial relationships, furniture placement, and functional requirements to create a design that best suits the intended purpose of the space.
                        </p>
                    </div>
                    <!-- service -details right-content end -->
                    
                    <h3 class="title-main-s">
                        careful consideration must be given to various
                    </h3>
                    <p class="disc">
                        Architecture spacing planning is a crucial step in the design process that involves determining the arrangement and allocation of spaces within a building or structure. This planning stage is essential for creating functional, safe, and aesthetically pleasing environments that meet the needs of the intended users.
                    </p>
                    <div class="service-details-list-check-bullet">
                        <div class="single">
                            <p>Collaboration and Feedback</p>
                        </div>
                        <div class="single">
                            <p>Evaluate Space Constraints</p>
                        </div>
                        <div class="single">
                            <p>Establish Functional Zones</p>
                        </div>
                        <div class="single">
                            <p>Safety and Building Codes</p>
                        </div>
                    </div>
                    <div class="row mt--30">
                        <div class="col-lg-12">
                            <p class="disc">
                                The primary objective of spacing planning is to ensure that each space within the building serves its intended purpose effectively. This involves identifying the different functions or activities that will take place and allocating appropriate areas for each. For instance, in an office space, considerations may include workstations, meeting rooms, reception areas, and collaborative spaces. In residential buildings, it may involve allocating spaces for bedrooms, living rooms, kitchens, and bathrooms.
                            </p>
                        </div>
                    </div>
               
                </div>
            </div>
        </div>
    </div>
    <!-- service details area end -->

    
<!-- rts footer area start -->
<div class="rts-footer-area social-jumpanimation">
    <div class="rts-copyright-area-two">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copy-right-area-inner-two">
                        <p class="disc">Copyright 2024. All Rights Reserved.</p>
                        <div class="right">
                            <ul>
                                <li><a href="#">Terms & conditions</a></li>
                                <li><a href="#">Privacy policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- rts footer area end -->


{% endblock %}