{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--Main Slider-->
<section class="main-slider">
  <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_two_wrapper" data-source="gallery">
    <div class="rev_slider fullwidthabanner" id="rev_slider_two" data-version="5.4.1">
      <ul>

        <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="" data-delay="5000" data-rotate="0"
          data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
          <!-- MAIN IMAGE -->

          <img src="{% static 'web/images/main-slider/4.jpg' %}" title="head" data-bg="p:center top;" data-parallax="off" class="rev-slidebg" data-no-retina>
          <!-- LAYERS -->

          <div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[15,15,15,15]" data-paddingright="[15,15,15,15]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none"
            data-width="['750','750','750','650']" data-whitespace="normal" data-hoffset="['0','0','0','0']" data-voffset="['-80','-80','-100','-100']" data-x="['left','left','center','center']" data-y="['middle','middle','middle','middle']"
            data-textalign="['top','top','top','top']"
            data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
            <h2>Recruitment </h2>
          </div>

          <div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[15,15,15,15]" data-paddingright="[15,15,15,15]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none"
            data-width="['520','520','600','455']" data-whitespace="normal" data-hoffset="['0','0','0','0']" data-voffset="['0','0','0','0']" data-x="['left','left','center','center']" data-y="['middle','middle','middle','middle']"
            data-textalign="['top','top','top','top']"
            data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
            <div class="text">We help you prepare for your desired university and the steps you have to take in order to join.</div>
          </div>

          <div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[15,15,15,15]" data-paddingright="[15,15,15,15]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-whitespace="normal"
            data-width="['650','650','650','250']" data-hoffset="['0','0','0','0']" data-voffset="['100','100','120','120']" data-x="['left','left','center','center']" data-y="['middle','middle','middle','middle']"
            data-textalign="['top','top','top','top']"
            data-frames='[{"delay":500,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
            <div class="btn-box">
              <a href="{% url 'web:about' %}" class="theme-btn btn-style-one bg_red"><span class="btn-title">Read More</span></a>
            </div>
          </div>
        </li>

        <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="" data-delay="5000" data-rotate="0"
          data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
          <!-- MAIN IMAGE -->

          <img src="{% static 'web/images/main-slider/5.jpg' %}" title="head" data-bg="p:center top;" data-parallax="off" class="rev-slidebg" data-no-retina>
          <!-- LAYERS -->

          <div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[15,15,15,15]" data-paddingright="[15,15,15,15]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none"
            data-width="['750','750','750','650']" data-whitespace="normal" data-hoffset="['0','0','0','0']" data-voffset="['-80','-80','-100','-100']" data-x="['left','left','center','center']" data-y="['middle','middle','middle','middle']"
            data-textalign="['top','top','top','top']"
            data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
            <h2>Best career</h2>
          </div>

          <div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[15,15,15,15]" data-paddingright="[15,15,15,15]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none"
            data-width="['520','520','600','455']" data-whitespace="normal" data-hoffset="['0','0','0','0']" data-voffset="['0','0','0','0']" data-x="['left','left','center','center']" data-y="['middle','middle','middle','middle']"
            data-textalign="['top','top','top','top']"
            data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
            <div class="text">Not only do we help you understand which university to join, we inform you about the courses with the best career scopes that match your skills and interests. </div>
          </div>

          <div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[15,15,15,15]" data-paddingright="[15,15,15,15]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-whitespace="normal"
            data-width="['650','650','650','250']" data-hoffset="['0','0','0','0']" data-voffset="['100','100','120','120']" data-x="['left','left','center','center']" data-y="['middle','middle','middle','middle']"
            data-textalign="['top','top','top','top']"
            data-frames='[{"delay":500,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
            <div class="btn-box">
              <a href="{% url 'web:about' %}" class="theme-btn btn-style-one bg_red"><span class="btn-title">Read More</span></a>
            </div>
          </div>
        </li>

        <li data-index="rs-3" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="" data-delay="5000" data-rotate="0"
          data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
          <!-- MAIN IMAGE -->

          <img src="{% static 'web/images/main-slider/6.jpg' %}" title="head" data-bg="p:center top;" data-parallax="off" class="rev-slidebg" data-no-retina>
          <!-- LAYERS -->

          <div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[15,15,15,15]" data-paddingright="[15,15,15,15]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none"
            data-width="['750','750','750','650']" data-whitespace="normal" data-hoffset="['0','0','0','0']" data-voffset="['-80','-80','-100','-100']" data-x="['left','left','center','center']" data-y="['middle','middle','middle','middle']"
            data-textalign="['top','top','top','top']"
            data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
            <h2>Best Universities</h2>
          </div>

          <div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[15,15,15,15]" data-paddingright="[15,15,15,15]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none"
            data-width="['520','520','600','455']" data-whitespace="normal" data-hoffset="['0','0','0','0']" data-voffset="['0','0','0','0']" data-x="['left','left','center','center']" data-y="['middle','middle','middle','middle']"
            data-textalign="['top','top','top','top']"
            data-frames='[{"delay":500,"speed":1500,"frame":"0","from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
            <div class="text">Join then best universities that will help you secure your future and career.</div>
          </div>

          <div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[15,15,15,15]" data-paddingright="[15,15,15,15]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-whitespace="normal"
            data-width="['650','650','650','250']" data-hoffset="['0','0','0','0']" data-voffset="['100','100','120','120']" data-x="['left','left','center','center']" data-y="['middle','middle','middle','middle']"
            data-textalign="['top','top','top','top']"
            data-frames='[{"delay":500,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'>
            <div class="btn-box">
              <a href="{% url 'web:about' %}" class="theme-btn btn-style-one bg_red"><span class="btn-title">Read More</span></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--End Main Slider-->

<!-- Top Features -->
<section class="top-features" style="background-image: url({% static 'web/images/background/5.jpg' %});">
  <div class="auto-container">
    <div class="row">
      <!-- Feature Block -->
      <div class="feature-block-two col-lg-3 col-md-6 col-sm-12">
        <div class="inner-box">
          <span class="icon flaticon-speech-bubble"></span>
          <h4>Best Counselling</h4>

        </div>
      </div>

      <!-- Feature Block -->
      <div class="feature-block-two col-lg-3 col-md-6 col-sm-12">
        <div class="inner-box">
          <span class="icon flaticon-online-shopping"></span>
          <h4>Scholarships</h4>

        </div>
      </div>

      <!-- Feature Block -->
      <div class="feature-block-two col-lg-3 col-md-6 col-sm-12">
        <div class="inner-box">
          <span class="icon flaticon-box"></span>
          <h4>Accomodation</h4>

        </div>
      </div>

      <!-- Feature Block -->
      <div class="feature-block-two col-lg-3 col-md-6 col-sm-12">
        <div class="inner-box">
          <span class="icon flaticon-wallet"></span>
          <h4>Visa Assistance</h4>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Top Features -->

<!-- Services Section Three -->
<section class="services-section">
  <div class="auto-container">
    <div class="row">
      <div class="text-column col-lg-5 col-md-12 col-sm-12">
        <div class="inner-column">
          <div class="sec-title">
            <span class="sub-title">About us</span>
            <h3>Welcome to Zone International</h3>
            <div class="text"><strong>ZONE International is an International Student Recruiter, situated in United Kingdom. We aim to provide exceptional services to students aspiring to pursue further quality education in the UK.</strong></div>
          </div>
          <p>Students are looking to pursue higher education at nations like the UK, as the international exposure would be an incredible advantage for their career prospects in the future. ZONE helps students understand what their best choices
            are and help them move where they wish to go.
            Using our expertise, experience and resources we can identify the most suitable university for each student. </p>
          <a href="{% url 'web:about' %}" class="theme-btn icon-btn-two bg_red"><span>Read More</span></a>
        </div>
      </div>

      <div class="column col-lg-7 col-md-12 col-sm-12">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <!-- Service Block -->
            <div class="service-block">
              <div class="inner-box">
                <div class="hover_layer" style="background-image: url({% static 'web/images/resource/service_bg_1.jpg' %});"></div>
                <span class="icon"><img src="{% static 'web/images/icons/service_icon_1.png' %}" alt=""></span>
                <h3>Career Counselling</h3>
                <div class="text">With the help of our advisors and counsellors you can figure out the best course for you.</div>
                <a href="{% url 'web:services' %}" class="overlay-link"></a>
              </div>
            </div>

            <!-- Service Block -->
            <div class="service-block">
              <div class="inner-box">
                <div class="hover_layer" style="background-image: url({% static 'web/images/resource/service_bg_3.jpg' %});"></div>
                <span class="icon"><img src="{% static 'web/images/icons/service_icon_3.png' %}" alt=""></span>
                <h3>Scholarship Assistance</h3>
                <div class="text">We can help you get scholarships so that you can go to the college of your long days of dreams.</div>
                <a href="{% url 'web:services' %}" class="overlay-link"></a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6">
            <!-- Service Block -->
            <div class="service-block margin-top-50">
              <div class="inner-box">
                <div class="hover_layer" style="background-image: url({% static 'web/images/resource/service_bg_2.jpg' %});"></div>
                <span class="icon"><img src="{% static 'web/images/icons/service_icon_2.png' %}" alt=""></span>
                <h3>Pick up & Accomodation</h3>
                <div class="text">International students will have their transport and accommodation arranged.</div>
                <a href="{% url 'web:services' %}" class="overlay-link"></a>
              </div>
            </div>

            <!-- Service Block -->
            <div class="service-block">
              <div class="inner-box">
                <div class="hover_layer" style="background-image: url({% static 'web/images/resource/service_bg_4.jpg' %});"></div>
                <span class="icon"><img src="{% static 'web/images/icons/service_icon_4.png' %}" alt=""></span>
                <h3>Visa Assistance</h3>
                <div class="text">We will help international students with the visa application process.</div>
                <a href="{% url 'web:services' %}" class="overlay-link"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Services Section -->

<!-- Consultation Section -->
<section class="consultation-section">
  <div class="upper-banner" style="background-image: url({% static 'web/images/background/3.jpg' %});">
    <div class="auto-container">
      <div class="sec-title-two light">
        <span class="icon flaticon-inspiration"></span>
        <h3>Register Now!</h3>
        <div class="text">
          We find the best possible options for the courses that you’re looking into. <br>
          We want to give you the opportunity to reach your maximum potential.
        </div>
      </div>
    </div>
  </div>

  <!-- Form Container -->
  <div class="form-container">
    <div class="auto-container">
      <form method="POST" class="form-style-one" action="">
        <div class="row">
          <div class="form-group col-lg-4 col-md-6 col-sm-12">
            <label>Full Name <sup>*</sup></label>
            <div class="input-group">
              <span class="icon fa fa-user"></span>
              <input type="text" name="name" placeholder="Enter Your name" required="">
            </div>
          </div>

          <div class="form-group col-lg-4 col-md-6 col-sm-12">
            <label>Address <sup>*</sup></label>
            <div class="input-group">
              <span class="icon fa fa-home"></span>
              <input type="text" name="address" placeholder="Enter Your Place" required="">
            </div>
          </div>

          <div class="form-group col-lg-4 col-md-6 col-sm-12">
            <label>Course <sup>*</sup></label>
            <div class="input-group">
              <span class="icon fa fa-graduation-cap"></span>
              <input type="text" name="course" placeholder="Enter your wished course " required="">
            </div>
          </div>

          <div class="form-group col-lg-4 col-md-6 col-sm-12">
            <label>Phone Number <sup>*</sup></label>
            <div class="input-group">
              <span class="icon fa fa-phone"></span>
              <input type="text" name="phone" placeholder="Enter your Phone number" required="">
            </div>
          </div>

          <div class="form-group col-lg-4 col-md-6 col-sm-12">
            <label>Email Address <sup>*</sup></label>
            <div class="input-group">
              <span class="icon fa fa-envelope"></span>
              <input type="email" name="email" placeholder="Enter your mail id" required="">
            </div>
          </div>

          <div class="form-group col-lg-4 col-md-6 col-sm-12">
            <label></label>
            <button class="theme-btn icon-btn-two bg_red" type="submit" name="submit-form">Register Now</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- End Consultation Section -->


<!-- Testimonials Section -->
<section class="testimonials-section">
  <div class="container-fluid">
    <div class="sec-title text-center">
      <span class="icon flaticon-satchel"></span>
      <h3>Testimonials</h3>
      <div class="text">Businesses today cross borders and regions, so you need a service<br> provider that goes where you are.</div>
    </div>

    <div class="column col-lg-12 col-md-12 col-sm-12 margin-bottom-30">
      <div class="carousel-outer">
        <div class="three-items-carousel owl-carousel owl-theme disable-arrow default-dots">
          <!-- Testimonials Block -->
          <div class="testimonials-block">
            <div class="inner-box">
              <figure class="image"><img src="{% static 'web/images/resource/testi-thumb-1.jpg' %}" alt=""></figure>
              <div class="content">
                <p>Like most people after their final year, I had no idea on what I wanted to do or what
                  I had to do. That’s when ZONE came in and really helped me out. They helped me understand
                  what I was good at and showed me all the options I had. Now, I’m at a college that will
                  really help me develop my skills in what I love.</p>
                <span class="author">Trevor D.</span>
              </div>
            </div>
          </div>

          <!-- Testimonials Block -->
          <div class="testimonials-block">
            <div class="inner-box">
              <figure class="image"><img src="{% static 'web/images/resource/testi-thumb-2.jpg' %}" alt=""></figure>
              <div class="content">
                <p>I had a plan about what I wanted to do after my schooling but unfortunately, I couldn’t get
                  the grades I needed to get me into the university that I wanted to go to. As I was getting
                  prepared for a gap year, ZONE had sent me an e-mail. I thought that I could give it a shot
                  as I had nothing to lose.</p>
                <span class="author">Eleanor O.</span>
              </div>
            </div>
          </div>


          <!-- Testimonials Block -->
          <div class="testimonials-block">
            <div class="inner-box">
              <figure class="image"><img src="{% static 'web/images/resource/testi-thumb-4.jpg' %}" alt=""></figure>
              <div class="content">
                <p>After school, I really had no idea what I wanted to do. I’d look into various colleges and
                  course but I couldn’t find anything that interested me and was very unsure of what career
                  to pursue. I heard about ZONE from my parents and I decided to give it a go. Talking to the counsellors <br><br></p>
                <span class="author">Damaris C.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Case Study Section -->

<!-- Clients Section -->
<section class="clients-section style-two">
  <div class="auto-container">

    <!-- Sponsors Outer -->
    <div class="sponsors-outer">
      <!--Sponsors Carousel-->
      <ul class="sponsors-carousel owl-carousel owl-theme">
        <li class="slide-item">
          <a href="#">
            <img src="{% static 'web/images/clients/1_hover_red.png' %}" alt="" class="hover_img">
            <img src="{% static 'web/images/clients/1.png' %}" alt="">
          </a>
        </li>
        <li class="slide-item">
          <a href="#">
            <img src="{% static 'web/images/clients/2_hover_red.png' %}" alt="" class="hover_img">
            <img src="{% static 'web/images/clients/2.png' %}" alt="">
          </a>
        </li>
        <li class="slide-item">
          <a href="#">
            <img src="{% static 'web/images/clients/3_hover_red.png' %}" alt="" class="hover_img">
            <img src="{% static 'web/images/clients/3.png' %}" alt="">
          </a>
        </li>
        <li class="slide-item">
          <a href="#">
            <img src="{% static 'web/images/clients/4_hover_red.png' %}" alt="" class="hover_img">
            <img src="{% static 'web/images/clients/4.png' %}" alt="">
          </a>
        </li>
        <li class="slide-item">
          <a href="#">
            <img src="{% static 'web/images/clients/5_hover_red.png' %}" alt="" class="hover_img">
            <img src="{% static 'web/images/clients/5.png' %}" alt="">
          </a>
        </li>
        <li class="slide-item">
          <a href="#">
            <img src="{% static 'web/images/clients/6_hover_red.png' %}" alt="" class="hover_img">
            <img src="{% static 'web/images/clients/6.png' %}" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--End Clients Section -->

{% endblock content %}
