<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                    {% if greeting_cards or addons or wrappers %}
                    <ul class="nav nav-pills mb-0" id="pills-tab" role="tablist">
                        {% if product.enable_greeting_card and greeting_cards %}
                        <li class="nav-item" role="presentation">
                            <button class="bradius btn p-2 me-3 active" id="pills-greetings-tab" data-bs-toggle="pill" data-bs-target="#pills-greetings" type="button" role="tab" aria-controls="pills-greetings" aria-selected="true">Greeting Cards</button>
                        </li>
                        {% endif %}
                        
                        {% if product.enable_gift_wrapping and wrappers %}
                        <li class="nav-item" role="presentation">
                            <button class="bradius btn p-2 me-3" id="pills-wrapping-tab" data-bs-toggle="pill" data-bs-target="#pills-wrapping" type="button" role="tab" aria-controls="pills-wrapping" aria-selected="false">Gift Wrapping</button>
                        </li>
                        {% endif %}

                        {% if product.enable_addons and addons %}
                        <li class="nav-item" role="presentation">
                            <button class="bradius btn p-2 me-3" id="pills-addons-tab" data-bs-toggle="pill" data-bs-target="#pills-addons" type="button" role="tab" aria-controls="pills-addons" aria-selected="false">Addons</button>
                        </li>
                        {% endif %}
                    </ul>
                    {% else %}
                    Addons
                    {% endif %}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                {% if greeting_cards or addons or wrappers %}
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-greetings" role="tabpanel"
                        aria-labelledby="pills-greetings-tab">
                        <div class="row">
                            {% for product in greeting_cards %}
                            <div class="col-md-4">

                                <div class="product-wrap mb-35" data-aos="fade-up" data-aos-delay="200">

                                    <div class="product-img img-zoom mb-10">
                                        <img src="{{product.image.url}}" alt=""
                                            style="width:100%;height: 200px;object-fit: cover;" class="border bradius">
                                        {% if product.has_offer %}
                                        <div class="product-badge badge-top badge-right badge-pink">
                                            <span>-{{product.get_offer.discount}}%</span>
                                        </div>
                                        {% endif %}
                                    </div>

                                    <div class="product-content">
                                        <h3 class="mb-1">{{product.name}}</h3>
                                    </div>

                                    <div class="single-product-cart m-0 w-100 mt-3">
                                        <textarea name="" id="" rows="2" class="form-control" placeholder="Type your message here"></textarea>
                                        <button class="cart-add-btn btn btn-outline-dark w-100 mt-2 reload" title="Add To Cart"
                                            data-product-id="{{product.pk}}" style="padding: 10px 20px;">
                                            Add to cart
                                            {% if product.has_offer %}
                                            <span class="old-price">(AED {{product.get_offer.offer_price}}) </span>
                                            {% endif %}
                                            <span class="new-price">(AED {{product.sale_price}}) </span>
                                        </button>
                                    </div>

                                </div>

                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    {% if product.enable_addons %}
                    <div class="tab-pane fade" id="pills-addons" role="tabpanel" aria-labelledby="pills-addons-tab">
                        {% for product in addons %}
                        <div class="col-md-4">

                            <div class="product-wrap mb-35" data-aos="fade-up" data-aos-delay="200">

                                <div class="product-img img-zoom mb-10">
                                    <img src="{{product.image.url}}" alt=""
                                        style="width:100%;height: 200px;object-fit: cover;" class="border bradius">
                                    {% if product.has_offer %}
                                    <div class="product-badge badge-top badge-right badge-pink">
                                        <span>-{{product.get_offer.discount}}%</span>
                                    </div>
                                    {% endif %}
                                </div>

                                <div class="product-content">
                                    <h3 class="mb-1">{{product.name}}</h3>
                                </div>

                                <div class="single-product-cart m-0 w-100 mt-3">
                                    <button class="cart-add-btn btn btn-outline-dark w-100 mt-2 reload" title="Add To Cart"
                                        data-product-id="{{product.pk}}" style="padding: 10px 20px;">
                                        Add to cart
                                        {% if product.has_offer %}
                                        <span class="old-price">(AED {{product.get_offer.offer_price}}) </span>
                                        {% endif %}
                                        <span class="new-price">(AED {{product.sale_price}}) </span>
                                    </button>
                                </div>

                            </div>

                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% if product.enable_gift_wrapping %}
                    <div class="tab-pane fade" id="pills-wrapping" role="tabpanel" aria-labelledby="pills-wrapping-tab">
                        {% for product in wrappers %}
                        <div class="col-md-4">

                            <div class="product-wrap mb-35" data-aos="fade-up" data-aos-delay="200">

                                <div class="product-img img-zoom mb-10">
                                    <img src="{{product.image.url}}" alt=""
                                        style="width:100%;height: 200px;object-fit: cover;" class="border bradius">
                                    {% if product.has_offer %}
                                    <div class="product-badge badge-top badge-right badge-pink">
                                        <span>-{{product.get_offer.discount}}%</span>
                                    </div>
                                    {% endif %}
                                </div>

                                <div class="product-content">
                                    <h3 class="mb-1">{{product.name}}</h3>
                                </div>

                                <div class="single-product-cart m-0 w-100 mt-3">
                                    <button class="cart-add-btn btn btn-outline-dark w-100 mt-2 reload" title="Add To Cart"
                                        data-product-id="{{product.pk}}" style="padding: 10px 20px;">
                                        Add to cart
                                        {% if product.has_offer %}
                                        <span class="old-price">(AED {{product.get_offer.offer_price}}) </span>
                                        {% endif %}
                                        <span class="new-price">(AED {{product.sale_price}}) </span>
                                    </button>
                                </div>

                            </div>

                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% else %}
                <div class="alert alert-warning" role="alert">
                    No addons available
                </div>
                {% endif %}
            </div>

        </div>
    </div>
</div>