{% load static %}
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <div class="footer-info">
                    <div class="footer-logo">
                        <img src="{% static 'web/images/logo.svg' %}" alt="" class="img-fluid" style="height:60px">
                    </div>
                    <p class="fs-13">
                        Skydays is a premier travel agency dedicated to helping you discover the world's most amazing
                        destinations. With our personalized service and support, you can embark on the adventure of a
                        lifetime, whether you're seeking relaxation, exploration, or cultural immersion.
                    </p>
                    <div class="footer-social-icons">
                        <ul>
                            <li>
                                <a target="_blank" class="social_icon" href="https://www.instagram.com/skydaystours/">
                                    <img src="static/web/images/icons/Instagram.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" class="social_icon" href="https://www.youtube.com/@skydaystours">
                                    <img src="static/web/images/icons/Youtube.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" class="social_icon" href="https://www.facebook.com/skydaysindia/">
                                    <img src="static/web/images/icons/Facebook.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" class="social_icon" href="https://www.linkedin.com/in/skydays-travels-a4a9a0290/">
                                    <img src="static/web/images/icons/LinkedIN.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" class="social_icon" href="https://www.quora.com/profile/Skydays-Travels">
                                    <img src="static/web/images/icons/Quora.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" class="social_icon" href="https://in.pinterest.com/Skydaystravels/">
                                    <img src="static/web/images/icons/Pinterest.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" class="social_icon" href="https://twitter.com/Skydaystravels">
                                    <img src="static/web/images/icons/Twitter.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-12">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="footer-links">
                            <h5 class="widget-title">Pages</h5>
                            <div class="category-list">
                                <ul>
                                    <li><a href="{% url 'web:index' %}">Home</a>
                                    <li><a href="{% url 'web:contact' %}"> Contact us</a>
                                    <li><a href="{% url 'web:about' %}"> About us</a>
                                    <li><a href="{% url 'web:gallery' %}"> Gallery</a>
                                    <li><a href="{% url 'web:blogs' %}"> Blogs</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                        <div class="footer-links">
                            <h5 class="widget-title">Quick Links</h5>
                            <div class="category-list">
                                <ul>
                                    <li><a href="{% url 'web:fixed_departures' %}"> Fixed Departures</a>
                                    <li><a href="{% url 'web:packages' %}"> Tour Packages</a>
                                    <li><a href="{% url 'web:customize' %}"> Customize Package</a>
                                    <li><a href="{% url 'web:privacy_policy' %}"> Privacy Policy</a>
                                    <li><a href="{% url 'web:terms_and_conditions' %}"> Terms and Conditions</a>
                                        <li><a href="{% url 'web:shipping_policy' %}"> Shipping Policy</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 d-sm-block d-none">
                        <div class="footer-links payment-links">
                            <h5 class="widget-title">Our Presence</h5>
                            <div class="category-list">
                                <ul>
                                    <li><a href="https://www.facebook.com/skydaysindia/">Facebook</a></li>
                                    <li><a href="https://www.instagram.com/skydaystours/">Instagram</a></li>
                                    <li><a href="https://www.youtube.com/@skydaystours">Youtube</a></li>
                                    <li><a href="https://www.linkedin.com/in/skydays-travels-a4a9a0290/">Linkedin</a></li>
                                    <li><a href="https://www.quora.com/profile/Skydays-Travels">Quora</a></li>
                                    <li><a href="https://in.pinterest.com/Skydaystravels/">Pinterest</a></li>
                                    <li><a href="https://twitter.com/Skydaystravels">Twitter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="footer-links payment-links">
                            <h5 class="widget-title">Get in Touch</h5>
                            <div class="category-list">
                                <form action="" class="subscribe_form">
                                    <input type="text" placeholder="Your Email" class="form-control">
                                    <button type="submit" class="btn btn-primary w-100 mt-2">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="copyrigth-area fs-12">
                    <p>Copyright 2023 <a href="#">Skydays</a> | All rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</div>