<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Alot Gifts & Hampers | Gift Boxes Online in UAE - Unique Gift Hampers, Gift Company - Alot
        Gifts{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add site Favicon -->
    <link rel="icon" href="{% static 'web/images/favicon/cropped-favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" href="{% static 'web/images/favicon/cropped-favicon-192x192.png' %}" sizes="192x192" />
    <link rel="apple-touch-icon" href="{% static 'web/images/favicon/cropped-favicon-180x180.png' %}" />
    <meta name="msapplication-TileImage" content="{% static 'web/images/favicon/cropped-favicon-270x270.png' %}" />

    <!-- All CSS is here
	============================================ -->
    <link rel="stylesheet" href="{% static 'web/css/vendor/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'web/css/vendor/pe-icon-7-stroke.css' %}" />
    <link rel="stylesheet" href="{% static 'web/css/vendor/themify-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'web/css/vendor/font-awesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'web/css/plugins/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'web/css/plugins/aos.css' %}" />
    <link rel="stylesheet" href="{% static 'web/css/plugins/magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'web/css/plugins/swiper.min.css' %}" />
    <link rel="stylesheet" href="{% static 'web/css/plugins/jquery-ui.css' %}" />
    <link rel="stylesheet" href="{% static 'web/css/plugins/nice-select.css' %}" />
    <link rel="stylesheet" href="{% static 'web/css/plugins/select2.min.css' %}" />
    <link rel="stylesheet" href="{% static 'web/css/plugins/easyzoom.css' %}" />
    <link rel="stylesheet" href="{% static 'web/css/plugins/slinky.css' %}" />
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}?v=1.0" />
    <link rel="stylesheet" href="{% static 'web/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/dark.css' %}">
</head>

<body>
    <div class="main-wrapper main-wrapper-2 dark">
        {% include 'web/partials/header.html' %}
        {% include 'web/partials/sidebar-cart.html' %}

        <div class="login-register-area pb-60 pt-40" style="background-image: url('/static/web/images/main/gift_bg.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-md-12 mx-auto">
                        <div class="login-register-wrapper">
                            <div class="login-form-container bg-white">
                                <div class="login-register-form">
                                    {% block content %}

                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'web/partials/footer.html' %}
        {% include 'web/partials/mobilemenu.html' %}

    </div>
    <!-- All JS is here -->
    <script src="{% static 'web/js/vendor/modernizr-3.11.7.min.js' %}"></script>
    <script src="{% static 'web/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'web/js/vendor/jquery-migrate-3.3.2.min.js' %}"></script>
    <script src="{% static 'web/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'web/js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'web/js/plugins/wow.js' %}"></script>
    <script src="{% static 'web/js/plugins/scrollup.js' %}"></script>
    <script src="{% static 'web/js/plugins/aos.js' %}"></script>
    <script src="{% static 'web/js/plugins/magnific-popup.js' %}"></script>
    <script src="{% static 'web/js/plugins/jquery.syotimer.min.js' %}"></script>
    <script src="{% static 'web/js/plugins/swiper.min.js' %}"></script>
    <script src="{% static 'web/js/plugins/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'web/js/plugins/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'web/js/plugins/jquery-ui.js' %}"></script>
    <script src="{% static 'web/js/plugins/jquery-ui-touch-punch.js' %}"></script>
    <script src="{% static 'web/js/plugins/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'web/js/plugins/waypoints.min.js' %}"></script>
    <script src="{% static 'web/js/plugins/jquery.counterup.js' %}"></script>
    <script src="{% static 'web/js/plugins/select2.min.js' %}"></script>
    <script src="{% static 'web/js/plugins/easyzoom.js' %}"></script>
    <script src="{% static 'web/js/plugins/slinky.min.js' %}"></script>
    <script src="{% static 'web/js/plugins/ajax-mail.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'web/js/main.js' %}?v=1.0"></script>
</body>

</html>