{% extends 'web/base.html' %} {% block content %}

<main>
    <section class="ed-course__details pb-0">
        <div class="container ed-container" style="margin-top: 70px;">
            <h3>About Us</h3>
        </div>
    </section>
    
     <!-- Start Why Choose Area -->
     <section class="ed-why-choose ed-why-choose--style2 section-gap position-relative">
        <div class="container ed-container position-relative">
            <div class="ed-w-choose__content">
                <div class="row g-0">
                    <div class="col-lg-6 col-12">
                        <div class="ed-section-head">
                            <h3 class="ed-section-head__title ed-split-text right">
                                Achieve practical skills that elevate your career trajectory.
                            </h3>
                            <p class="ed-section-head__text">
                                Be part of a dynamic team revolutionizing education through cutting-edge programs, mentorship, and technology. Collaborate with visionary leaders, take ownership of meaningful projects, and drive
                                real-world change. At PIAS, your career growth is as important as the success stories we create.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="ed-w-choose__info">
                    <!-- Single Info  -->
                    <div class="ed-w-choose__info-single ed-w-choose__info-single--style2 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                        <div class="ed-w-choose__info-head">
                            <h5>Fast-Track Your Career Growth</h5>
                        </div>
                        <div class="ed-w-choose__info-bottom">
                            <p>
                                Step into transformative roles like Program Manager, Content Strategist, Startup Growth Specialist, B2B Partnerships Lead, or Product Manager. These positions are crafted to accelerate your career
                                trajectory, offering hands-on experience and strategic responsibilities from day one.
                            </p>
                        </div>
                    </div>

                    <!-- Single Info  -->
                    <div class="ed-w-choose__info-single ed-w-choose__info-single--style2 wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                        <div class="ed-w-choose__info-head">
                            <h5>Work Closely with Visionary Leaders</h5>
                        </div>
                        <div class="ed-w-choose__info-bottom">
                            <p>
                                Collaborate directly with founders, senior executives, and industry mentors. Build meaningful relationships with influential leaders in the startup space while gaining deep insights into strategy and
                                execution. Leave a lasting mark and set the foundation for extraordinary career growth.
                            </p>
                        </div>
                    </div>

                    <!-- Single Info  -->
                    <div class="ed-w-choose__info-single ed-w-choose__info-single--style2 wow fadeInUp" data-wow-delay=".7s" data-wow-duration="1s">
                        <div class="ed-w-choose__info-head">
                            <h5>Immerse Yourself in a Dynamic Startup Culture</h5>
                        </div>
                        <div class="ed-w-choose__info-bottom">
                            <p>
                                At PIAS, high ownership and agility define our approach. Join a team where your ideas matter, and your decisions shape the future of advanced education. Be at the forefront of innovation, driving impact
                                in real-time as a key player in our mission to transform lives through learning.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ed-w-choose__images ed-w-choose__images--style2">
                <!-- Why Choose Image  -->
                <div class="ed-w-choose__main-img">
                    <img src="/static/web/images/main/why-choose-img.jpg" alt="why-choose-img" />
                </div>
            </div>
        </div>
    </section>
    <!-- End Why Choose Area -->
</main>

{% endblock %}
