/*================================================
Footer Area CSS
=================================================*/
.footer-area {
  background: #EDEFEB;
  padding-top: 120px;
}
.footer-area .container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

.single-footer-widget {
  margin-bottom: 25px;
}
.single-footer-widget .widget-logo a {
  font-size: 32px;
  color: var(--blackColor);
  font-weight: bold;
}
.single-footer-widget .info {
  margin-top: 140px;
  max-width: 310px;
}
.single-footer-widget .info h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 25px;
  line-height: 1.3;
}
.single-footer-widget .info .app-store-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: 1px solid var(--primaryColor);
  font-weight: 500;
  padding: 12px 30px 12px 30px;
  justify-content: center;
}
.single-footer-widget .info .app-store-btn i {
  font-size: 18px;
  margin-right: 5px;
}
.single-footer-widget h3 {
  font-size: 15px;
  margin-bottom: 25px;
}
.single-footer-widget .quick-link {
  padding-left: 0;
  margin-bottom: 0;
}
.single-footer-widget .quick-link li {
  list-style-type: none;
  margin-bottom: 15px;
  font-size: 15px;
}
.single-footer-widget .quick-link li a {
  text-decoration-line: underline;
  color: var(--paragraphColor);
}
.single-footer-widget .quick-link li a:hover {
  color: var(--primaryColor);
}
.single-footer-widget .quick-link li:last-child {
  margin-bottom: 0;
}
.single-footer-widget .widget-social {
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
}
.single-footer-widget .widget-social li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}
.single-footer-widget .widget-social li:last-child {
  margin-right: 0;
}
.single-footer-widget .widget-social li a {
  color: var(--paragraphColor);
}
.single-footer-widget .widget-social li a i {
  font-size: 25px;
}
.single-footer-widget .widget-social li a:hover {
  color: var(--primaryColor);
}

.footer-inner {
  max-width: 975px;
  margin-left: auto;
}

/*================================================
Copyright Area CSS
=================================================*/
.copyright-area {
  margin-top: 55px;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  padding-top: 30px;
  padding-bottom: 30px;
}
.copyright-area p {
  color: var(--blackColor);
  margin-bottom: 0;
}
.copyright-area p span {
  color: var(--primaryColor);
  font-weight: 600;
}
.copyright-area p a {
  color: var(--primaryColor);
  font-weight: 600;
}
.copyright-area .copyright-list {
  padding-left: 0;
  margin-bottom: 0;
}
.copyright-area .copyright-list li {
  list-style-type: none;
  font-size: 15px;
}
.copyright-area .copyright-list li a {
  text-decoration-line: underline;
  color: var(--paragraphColor);
  display: block;
  margin-bottom: 10px;
}
.copyright-area .copyright-list li a:hover {
  color: var(--primaryColor);
}
.copyright-area .copyright-list li a:last-child {
  margin-bottom: 0;
}

/*================================================
Back to Top CSS
=================================================*/
#back-to-top {
  opacity: 0;
  right: 20px;
  z-index: 99;
  bottom: 20px;
  height: 45px;
  width: 45px;
  line-height: 45px;
  font-size: 25px;
  transition: 0.5s;
  background: var(--paragraphColor);
  color: var(--whiteColor);
  border-radius: 50%;
  position: relative;
  z-index: 1;
}
#back-to-top::before {
  position: absolute;
  content: "";
  height: 45px;
  width: 45px;
  line-height: 45px;
  border-radius: 50%;
  left: 0;
  right: 0;
  top: 0;
  background: var(--primaryColor);
  transition: var(--transition);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}
#back-to-top:hover {
  color: var(--whiteColor);
}
#back-to-top:hover::before {
  opacity: 1;
  visibility: visible;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .footer-area {
    padding-top: 50px;
  }
  .single-footer-widget .info {
    margin-top: 30px;
  }
  .single-footer-widget .info h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .single-footer-widget.ps-5 {
    padding-left: 0 !important;
  }
  .single-footer-widget.ps-3 {
    padding-left: 0 !important;
  }
  .copyright-area {
    margin-top: 25px;
    padding-bottom: 50px;
  }
  .copyright-area p {
    margin-bottom: 20px;
  }
  .copyright-area .copyright-list.d-flex {
    display: block !important;
  }
  .copyright-area .copyright-list li {
    margin-bottom: 20px;
  }
  .copyright-area .copyright-list li:last-child {
    margin-bottom: 0;
  }
  #back-to-top {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 20px;
  }
  #back-to-top::before {
    height: 30px;
    width: 30px;
    line-height: 30px;
  }
}
/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .copyright-area .copyright-list {
    text-align: end;
  }
}
/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-area {
    padding-top: 50px;
  }
  .single-footer-widget .info {
    margin-top: 30px;
  }
  .single-footer-widget .info h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .single-footer-widget.ps-5 {
    padding-left: 0 !important;
  }
  .single-footer-widget.ps-3 {
    padding-left: 0 !important;
  }
  .copyright-area {
    margin-top: 25px;
    padding-bottom: 50px;
  }
}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single-footer-widget .info {
    margin-top: 30px;
  }
  .single-footer-widget .info h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .single-footer-widget .info .app-store-btn {
    padding: 12px 20px 12px 20px;
  }
  .single-footer-widget.ps-5 {
    padding-left: 0 !important;
  }
  .single-footer-widget.ps-3 {
    padding-left: 0 !important;
  }
  .single-footer-widget .widget-social li {
    margin-right: 10px;
  }
  .single-footer-widget .widget-social li a i {
    font-size: 18px;
  }
  .copyright-area .copyright-list li {
    font-size: 12px;
  }
}
/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .single-footer-widget .info {
    margin-top: 30px;
  }
  .single-footer-widget .info h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .single-footer-widget .info .app-store-btn {
    padding: 12px 20px 12px 20px;
  }
  .single-footer-widget.ps-5 {
    padding-left: 0 !important;
  }
  .single-footer-widget.ps-3 {
    padding-left: 0 !important;
  }
  .single-footer-widget .widget-social li {
    margin-right: 10px;
  }
  .copyright-area .copyright-list li {
    font-size: 15px;
  }
}
/* Min width 1600px */
@media only screen and (min-width: 1600px) {
  .footer-area .container-fluid {
    padding-left: 150px;
    padding-right: 150px;
    max-width: 1920px;
  }
}
