{% load static %}
<div id="ltn_utilize-mobile-menu" class="ltn_utilize ltn_utilize-mobile-menu">
    <div class="ltn_utilize-menu-inner ltn_scrollbar">
        <div class="ltn_utilize-menu-head">
            <div class="site-logo">
                <a href="/"><img src="{% static 'web/img/logo.png' %}" alt="Logo" style="height:50px;object-fit: contain;object-position: left;"></a>
            </div>
            <button class="ltn_utilize-close">×</button>
        </div>
        <div class="ltn_utilize-menu-search-form">
            <form action="#">
                <input type="text" placeholder="Search...">
                <button><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="ltn_utilize-menu">
            <ul>
                <li><a href="{% url 'web:index' %}">Home</a></li>
                <li><a href="{% url 'web:about' %}">About</a></li>
                <li><a href="{% url 'web:blogs' %}">Blogs</a></li>
                <li><a href="{% url 'web:faq' %}">FAQ</a></li>
                <li><a href="{% url 'web:properties' %}">Properties</a></li>
                <li><a href="{% url 'web:realtors' %}">Realtors</a></li>
                <li><a href="{% url 'web:contact' %}">Contact</a></li>
            </ul>
        </div>

        <div class="ltn_social-media-2">
            <ul>
                <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#" title="Instagram"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</div>
