<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="facebook-domain-verification" content="mf8ghf1mqn37ll1oqv2zf13jtp1ebd" />
    <link href="https://skydays.travel" rel="canonical" />

    <!-- Primary Meta Tags -->
    <title>{% block title %}Skydays - Best Travel Agency in Kerala for Your Tour Packages{% endblock %}</title>
    <meta name="title" content="Best Travel Agency in Kerala for Your Tour Packages">
    <meta name="description" content="Discover the best travel agency in Kerala for your tour packages. Enjoy tailored itineraries, expert guidance, and unforgettable experiences.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://skydays.travel/">
    <meta property="og:title" content="Best Travel Agency in Kerala for Your Tour Packages">
    <meta property="og:description" content="Discover the best travel agency in Kerala for your tour packages. Enjoy tailored itineraries, expert guidance, and unforgettable experiences.">
    <meta property="og:image" content="http://skydays.travel/static/web/images/preview.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://skydays.travel/">
    <meta property="twitter:title" content="Best Travel Agency in Kerala for Your Tour Packages">
    <meta property="twitter:description" content="Discover the best travel agency in Kerala for your tour packages. Enjoy tailored itineraries, expert guidance, and unforgettable experiences.">
    <meta property="twitter:image" content="http://skydays.travel/static/web/images/preview.png">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'web/images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'web/images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'web/images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'web/images/favicon/site.webmanifest' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'web/css/animate.css' %}?v=1.8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/bootstrap.min.css' %}?v=1.8">
    <link rel="stylesheet" type="text/css" href="{% static 'web/font/flaticon.css' %}?v=1.8">
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/fontello.css' %}?v=1.8">
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/owl.carousel.min.css' %}?v=1.8">
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/column-sorter.css' %}?v=1.8">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.10.0/dist/css/bootstrap-datepicker3.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'web/css/style.css' %}?v=1.8">
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/responsive.css' %}?v=1.8">
    <script src="{% static 'web/js/jquery-3.6.0.min.js' %}?v=1.8"></script>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5GRNXWWK');
    </script>
    <!-- End Google Tag Manager -->

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TR86DCWGNW"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-TR86DCWGNW');
    </script>
    <!-- Google tag (gtag.js) event -->
    <script>
    gtag('event', 'conversion_event_submit_lead_form_1', {
      // <event_parameters>
    });
    </script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "TravelAgency",
            "name": "SkyDays Tours & Travels Pvt Ltd",
            "image": "https://lh3.googleusercontent.com/p/AF1QipMSNnvUVHboNJxivkexmQEvpueBwNHIzS1RARu7=s2048-w2048-h1282-rw",
            "@id": "https://www.skydays.travel/",
            "url": "https://www.skydays.travel/",
            "telephone": "9072073333",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "Door NO.63/3338, Maniyattukudi ASFA Building, Mavoor Rd, Arayidathupalam, Kozhikode, Kerala 673004",
                "addressLocality": "Kozhikode",
                "postalCode": "673004",
                "addressCountry": "IN"
            },
            "geo": {
                "@type": "GeoCoordinates",
                "latitude": 11.200795046440033,
                "longitude": 75.7565021950967
            },
            "openingHoursSpecification": {
                "@type": "OpeningHoursSpecification",
                "dayOfWeek": ["Monday", "Saturday"],
                "opens": "10:00",
                "closes": "18:00"
            },
            "sameAs": [
                "https://www.facebook.com/skydaysindia",
                "https://x.com/Skydaystravels",
                "https://www.instagram.com/skydaystours/",
                "https://www.youtube.com/@skydaystours",
                "https://www.linkedin.com/in/skydays-tours-and-travels/",
                "https://in.pinterest.com/skydaystravels/",
                "https://www.skydays.travel/"
            ]
        }        
    </script>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5GRNXWWK" height="0" width="0"
            style="display:none;visibility:hidden">
        </iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- Meta Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '432786242464349');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=432786242464349&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Meta Pixel Code -->

    {% include 'web/partials/header.html' %}

    {% block content %}{% endblock %}

    {% include 'web/partials/footer.html' %}
    {% include 'web/partials/messages.html' %}
    {% include 'web/partials/social.html' %}


    <script src="{% static 'web/js/owl.carousel.min.js' %}?v=1.8"></script>
    <script src="{% static 'web/js/bootstrap.min.js' %}?v=1.8"></script>
    <script src="{% static 'web/js/jquery-ui.min.js' %}?v=1.8"></script>
    <script src="{% static 'web/js/popper.min.js' %}?v=1.8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.10.0/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="{% static 'web/js/wow.min.js' %}?v=1.8"></script>
    <script src="{% static 'web/js/typed.js' %}?v=1.8"></script>
    <script src="{% static 'web/js/column-sorter.js' %}?v=1.8"></script>
    <script src="{% static 'web/js/main.js' %}?v=1.8"></script>
    {% block scripts %}{% endblock %}

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/66bb35a80cca4f8a7a75577b/1i55kj6rp';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
</body>

</html>