{% extends 'web/base.html' %}

{% load static extras %}

{% block content %}


<div class="blog-details-wrapper section_padding_md">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-details">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="section-head pb-30">
                                <h1 class="fs-30 fw-700">Privacy <span class="text-orange">Policy</span></h1>
                            </div>
                        </div>
                    </div>

                    <div class="blog-texts mt-30 fs-14 text-black">


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}