{% extends 'web/base.html' %} {% load static extras %} {% block content %}

<div class="newsletter-area section_padding_md pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-head pb-30">
                    <h1 class="mb-3 fs-30 fw-700">Payment<span class="text-orange"> Successful</span></h1>
                    <p>Thank you for your payment. Your transaction has been completed, and a receipt for your purchase
                        has been emailed to you. </p>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}