<!-- Start Footer Area -->
<footer class="footer-area">
    <div class="container-fluid">
        <div class="row justify-content-center" data-cues="slideInUp">
            <div class="col-lg-4 col-md-12">
                <div class="single-footer-widget">
                    <div class="widget-logo">
                        <a href="/" class="mb-3 d-block">
                            <img src="/static/web/images/logo/logocolor.svg" alt=""
                                style="width: 100%;height: 60px;object-fit: contain;object-position: left;">
                        </a>
                        <p>
                            We help marketers develop a 360° mindset through expert-led
                            learning, giving them clear strategies and practical skills to build
                            brands that connect with real people in meaningful ways.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="footer-inner">
                    <div class="row justify-content-center" data-cues="slideInUp">
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-footer-widget">
                                <h3>Essential Links</h3>
                                <ul class="quick-link">
                                    <li><a href="{% url 'web:about' %}">Mission & Vision</a></li>
                                    <li><a href="{% url 'web:courses' %}">Programs</a></li>
                                    <li><a href="{% url 'web:webinars' %}">Events & Workshops</a></li>
                                    <li><a href="{% url 'web:communities' %}">Alumni Network</a></li>
                                    <li><a href="{% url 'web:contact' %}">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-footer-widget ps-5">
                                <h3>Support & Help</h3>
                                <ul class="quick-link">
                                    <li><a href="{% url 'web:faq' %}">FAQs</a></li>
                                    <li><a href="{% url 'web:refer' %}">Student Support</a></li>
                                    <li><a href="{% url 'web:centers' %}">Career Services</a></li>
                                    <li><a href="{% url 'web:communities' %}">Alumni Network</a></li>
                                    <li><a href="{% url 'web:contact' %}">Technical Help</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-footer-widget ps-3">
                                <h3>Brand Personality</h3>
                                <ul class="quick-link">
                                    <li><a href="{% url 'web:blog' %}">Join Our Newsletter</a></li>
                                    <li><a href="{% url 'web:mentors' %}">Become a Mentor</a></li>
                                    <li><a href="{% url 'web:refer' %}">Partner With Us</a></li>
                                    <li><a href="#">Success Stories</a></li>
                                    <li><a href="{% url 'web:contact' %}">Feedback & Suggestions</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="single-footer-widget ps-3">
                                <h3>Follow Us</h3>
                                <ul class="quick-link">
                                    <li><a href="https://www.facebook.com/profile.php?id=61578140442299">Facebook</a></li>
                                    <li><a href="https://www.linkedin.com/company/360-marketing-school">LinkedIn</a></li>
                                    <li><a href="https://www.youtube.com/@360marketingschool">YouTube</a></li>
                                    <li><a href="https://www.instagram.com/360_marketing_school">Instagram</a></li>
                                    <li><a href="https://x.com/360MarketingScl">X (Twitter)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-sm-4">
                    <p>
                        Copyright <span>360 Marketing</span> All Rights Reserved
                    </p>
                </div>
                <div class="col-lg-5 col-sm-8">
                    <ul class="copyright-list d-flex justify-content-between gap-2">
                        <li><a href="{% url 'web:terms_and_conditions' %}">Terms & Conditions</a></li>
                        <li><a href="{% url 'web:privacy_policy' %}">Privacy Policy</a></li>
                        <li><a href="{% url 'web:refund_policy' %}">Refund Policy</a></li>
                        <li><a href="{% url 'web:cookie_policy' %}">Cookie Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->