<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Link of CSS Files -->
        <link rel="stylesheet" href="/static/web/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/web/css/animate.min.css">
        <link rel="stylesheet" href="/static/web/css/scrollCue.css">
        <link rel="stylesheet" href="/static/web/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="/static/web/css/remixicon.css">
        <link rel="stylesheet" href="/static/web/css/style.css">
        <link rel="stylesheet" href="/static/web/css/navbar.css">
        <link rel="stylesheet" href="/static/web/css/blog-details.css">
        <link rel="stylesheet" href="/static/web/css/footer.css">
        <link rel="stylesheet" href="/static/web/css/dark.css">
        <link rel="stylesheet" href="/static/web/css/responsive.css">

        <title>Torado - Online Banking & Money Transfer</title>

        <link rel="icon" type="image/png" href="/static/web/images/favicon.svg">
    </head>

    <body>
        
        

        <!-- Start Dark/Light Switch Button -->
        <div class="dark-light-switch-btn">
            <button class="switch-toggle" id="switch-toggle">
                <i class="ri-moon-fill"></i>
            </button>
        </div>
        <!-- End Dark/Light Switch Button -->
        
        <!-- Start Navbar Area -->
        <nav class="navbar navbar-expand-xl navbar-style-two" id="navbar">
            <div class="container-fluid">
                <div class="navbar-brand d-flex align-items-center">
                    <a class="logo-title" href="index.html">Torado.</a>
                    <ul class="list">
                        <li>
                            <a href="help-center.html">Personal</a>
                        </li>
                        <li>|</li>
                        <li>
                            <a href="help-center.html">Business</a>
                        </li>
                    </ul>
                </div>
                <button class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas">
                    <span class="burger-menu">
                        <span class="top-bar"></span>
                        <span class="middle-bar"></span>
                        <span class="bottom-bar"></span>
                    </span>
                </button>
                <div class="collapse navbar-collapse justify-content-between">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                                Home
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="index.html" class="nav-link">Home Demo - 1</a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-2.html" class="nav-link">Home Demo - 2</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="dropdown-toggle nav-link active">
                                Pages
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="about.html" class="nav-link">About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                                        Services
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="services.html" class="nav-link">Services</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="services-details.html" class="nav-link">Services Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                                        Blog
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="blog-grid.html" class="nav-link">Blog Grid</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="blog-right-sidebar.html" class="nav-link">Blog Right Sidebar</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="blog-left-sidebar.html" class="nav-link">Blog Left Sidebar</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="author.html" class="nav-link">Author</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="categories.html" class="nav-link">Categories</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="tags.html" class="nav-link">Tags</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="search-result.html" class="nav-link">Search Result</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="blog-details.html" class="nav-link">Blog Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="team-member.html" class="nav-link">Team Member</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pricing.html" class="nav-link">Pricing</a>
                                </li>
                                <li class="nav-item">
                                    <a href="testimonial.html" class="nav-link">Testimonial</a>
                                </li>
                                <li class="nav-item">
                                    <a href="faq.html" class="nav-link">FAQ</a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                                        My Account
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="login.html" class="nav-link">Login</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="register.html" class="nav-link">Register</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="terms-conditions.html" class="nav-link">Terms & Conditions</a>
                                </li>
                                <li class="nav-item">
                                    <a href="privacy-policy.html" class="nav-link">Privacy Policy</a>
                                </li>
                                <li class="nav-item">
                                    <a href="not-found.html" class="nav-link active">404 Error</a>
                                </li>
                                <li class="nav-item">
                                    <a href="contact.html" class="nav-link">Contact Us</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="dropdown-toggle nav-link">
                                Features
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="saving-goals.html" class="nav-link">Saving Goals</a>
                                </li>
                                <li class="nav-item">
                                    <a href="cash-back-offers.html" class="nav-link">Cash Back Offers</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="pricing.html" class="nav-link">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a href="help-center.html" class="nav-link">Help</a>
                        </li>
                    </ul>
                    <div class="others-option d-flex align-items-center">
                        <div class="option-item">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="/static/web/images/gb.svg" alt="globe">EN</button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Eng</a></li>
                                    <li><a class="dropdown-item" href="#">Arabic</a></li>
                                    <li><a class="dropdown-item" href="#">Dutch</a></li>
                                    <li><a class="dropdown-item" href="#">German</a></li>
                                    <li><a class="dropdown-item" href="#">Japanese</a></li>
                                    <li><a class="dropdown-item" href="#">Portuguese</a></li>
                                    <li><a class="dropdown-item" href="#">Spanish</a></li>
                                    <li><a class="dropdown-item" href="#">Chinese</a></li>
                                    <li><a class="dropdown-item" href="#">French</a></li>
                                    <li><a class="dropdown-item" href="#">Italian</a></li>
                                    <li><a class="dropdown-item" href="#">Polish</a></li>
                                    <li><a class="dropdown-item" href="#">Russian</a></li>
                                    <li><a class="dropdown-item" href="#">Turkish</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="option-item">
                            <a href="login.html" class="login-btn">Log in</a>
                        </div>
                        <div class="option-item">
                            <a href="register.html" class="register-btn">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End Navbar Area -->

        <!-- Start Responsive Navbar Area -->
        <div class="responsive-navbar offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvas">
            <div class="offcanvas-header">
                <a href="index.html" class="logo d-inline-block">
                    <img src="/static/web/images/logo.png" alt="logo">
                </a>
                <button type="button" class="close-btn" data-bs-dismiss="offcanvas" aria-label="Close">
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <div class="offcanvas-body">
                <div class="accordion" id="navbarAccordion1">
                    <div class="accordion-item">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Home
                        </button>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#navbarAccordion2">
                            <div class="accordion-body">
                                <div class="accordion" id="navbarAccordion3">
                                    <div class="accordion-item">
                                        <a class="accordion-link" href="index.html">
                                            Home Demo - 1
                                        </a>
                                    </div>
                                    <div class="accordion-item">
                                        <a class="accordion-link" href="index-2.html">
                                            Home Demo - 2
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button collapsed active" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Pages
                        </button>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#navbarAccordion4">
                            <div class="accordion-body">
                                <div class="accordion" id="navbarAccordion5">
                                    <div class="accordion-item">
                                        <a class="accordion-button without-icon" href="about.html">About Us</a>
                                    </div>
                                    <div class="accordion-item">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Services
                                        </button>
                                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#navbarAccordion6">
                                            <div class="accordion-body">
                                                <div class="accordion" id="navbarAccordion7">
                                                    <div class="accordion-item">
                                                        <a href="services.html" class="accordion-link">
                                                            Services
                                                        </a>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <a href="services-details.html" class="accordion-link">
                                                            Services Details
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            Blog
                                        </button>
                                        <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#navbarAccordion8">
                                            <div class="accordion-body">
                                                <div class="accordion" id="navbarAccordion9">
                                                    <div class="accordion-item">
                                                        <a href="blog-grid.html" class="accordion-link">
                                                            Blog Grid
                                                        </a>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <a href="blog-right-sidebar.html" class="accordion-link">
                                                            Blog Right Sidebar
                                                        </a>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <a href="blog-left-sidebar.html" class="accordion-link">
                                                            Blog Left Sidebar
                                                        </a>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <a href="author.html" class="accordion-link">
                                                            Author
                                                        </a>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <a href="categories.html" class="accordion-link">
                                                            Categories
                                                        </a>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <a href="tags.html" class="accordion-link">
                                                            Tags
                                                        </a>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <a href="search-result.html" class="accordion-link">
                                                            Search Result
                                                        </a>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <a href="blog-details.html" class="accordion-link">
                                                            Blog Details
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <a href="team-member.html" class="accordion-link">Team Member</a>
                                    </div>
                                    <div class="accordion-item">
                                        <a href="pricing.html" class="accordion-link">
                                            Pricing
                                        </a>
                                    </div>
                                    <div class="accordion-item">
                                        <a href="testimonial.html" class="accordion-link">
                                            Testimonial
                                        </a>
                                    </div>
                                    <div class="accordion-item">
                                        <a href="faq.html" class="accordion-link">
                                            FAQ
                                        </a>
                                    </div>
                                    <div class="accordion-item">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            My Account
                                        </button>
                                        <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#navbarAccordion10">
                                            <div class="accordion-body">
                                                <div class="accordion" id="navbarAccordion11">
                                                    <div class="accordion-item">
                                                        <a class="accordion-link" href="login.html">
                                                            Login
                                                        </a>
                                                    </div>
                                                    <div class="accordion-item">
                                                        <a class="accordion-link" href="register.html">
                                                            Register
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <a href="terms-conditions.html" class="accordion-link">
                                            Terms & Conditions
                                        </a>
                                    </div>
                                    <div class="accordion-item">
                                        <a href="privacy-policy.html" class="accordion-link">
                                            Privacy Policy
                                        </a>
                                    </div>
                                    <div class="accordion-item">
                                        <a href="not-found.html" class="accordion-link active">
                                            404 Error
                                        </a>
                                    </div>
                                    <div class="accordion-item">
                                        <a href="contact.html" class="accordion-link">
                                            Contact Us
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Features
                        </button>
                        <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#navbarAccordion12">
                            <div class="accordion-body">
                                <div class="accordion" id="navbarAccordion13">
                                    <div class="accordion-item">
                                        <a href="saving-goals.html" class="accordion-link">
                                            Saving Goals
                                        </a>
                                    </div>
                                    <div class="accordion-item">
                                        <a href="cash-back-offers.html" class="accordion-link">
                                            Cash Back Offers
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <a href="pricing.html" class="accordion-link">
                            Pricing
                        </a>
                    </div>
                    <div class="accordion-item">
                        <a href="help-center.html" class="accordion-link">
                            Help
                        </a>
                    </div>
                </div>

                <div class="others-option d-flex align-items-center">
                    <div class="option-item">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="/static/web/images/gb.svg" alt="globe">EN</button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Eng</a></li>
                                <li><a class="dropdown-item" href="#">Arabic</a></li>
                                <li><a class="dropdown-item" href="#">Dutch</a></li>
                                <li><a class="dropdown-item" href="#">German</a></li>
                                <li><a class="dropdown-item" href="#">Japanese</a></li>
                                <li><a class="dropdown-item" href="#">Portuguese</a></li>
                                <li><a class="dropdown-item" href="#">Spanish</a></li>
                                <li><a class="dropdown-item" href="#">Chinese</a></li>
                                <li><a class="dropdown-item" href="#">French</a></li>
                                <li><a class="dropdown-item" href="#">Italian</a></li>
                                <li><a class="dropdown-item" href="#">Polish</a></li>
                                <li><a class="dropdown-item" href="#">Russian</a></li>
                                <li><a class="dropdown-item" href="#">Turkish</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="option-item">
                        <a href="login.html" class="login-btn">Log in</a>
                    </div>
                    <div class="option-item">
                        <a href="register.html" class="register-btn">Register</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Responsive Navbar Area -->

        <!-- Start Page Banner Area -->
        <div class="page-banner-area style-ten">
            <div class="container-fluid">
                <div class="row justify-content-center" data-cue="fadeIn">
                    <div class="col-lg-6 col-md-12">
                        <div class="page-banner-content">
                            <h2>404 Error</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="page-banner-image">
                            <img src="/static/web/images/page-banner/page-banner9.jpg" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner Area -->
        
        <!-- Start Not Found Area -->
        <div class="not-found-area ptb-150">
            <div class="container">
                <div class="not-found-content text-center">
                    <img src="/static/web/images/error.png" alt="error-image">
                    <h3>Oops! That page can't be found</h3>
                    <a href="index.html" class="default-btn">Back to Home</a>
                </div>
            </div>
        </div>
        <!-- End Not Found Area -->

        <!-- Start Subscribe Area -->
        <div class="subscribe-area ptb-150">
            <div class="container">
                <div class="subscribe-content">
                    <h2>Take control of your personal finances today</h2>

                    <form class="newsletter-form">
                        <input type="email" class="input-newsletter" placeholder="Enter your email">
                        <button type="submit" class="default-btn">Subscribe now</button>
                    </form>
                </div>
            </div>

            <div class="subscribe-shape1">
                <img src="/static/web/images/subscribe/shape1.png" alt="image">
            </div>
            <div class="subscribe-shape2">
                <img src="/static/web/images/subscribe/shape2.png" alt="image">
            </div>
        </div>
        <!-- End Subscribe Area -->

        <!-- Start Footer Area -->
        <footer class="footer-area">
            <div class="container-fluid">
                <div class="row justify-content-center" data-cues="slideInUp">
                    <div class="col-lg-4 col-md-12">
                        <div class="single-footer-widget">
                            <div class="widget-logo">
                                <a href="index.html">Torado.</a>
                            </div>
                            <div class="info">
                                <h3>The Bank Account For Your Side Hustle.</h3>
                                <a href="index.html" class="app-store-btn"><i class="ri-apple-line"></i> Download On The App Store</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <div class="footer-inner">
                            <div class="row justify-content-center" data-cues="slideInUp">
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single-footer-widget">
                                        <h3>Company And Team</h3>
            
                                        <ul class="quick-link">
                                            <li>
                                                <a href="services-details.html">Security</a>
                                            </li>
                                            <li>
                                                <a href="blog-grid.html">Blog</a>
                                            </li>
                                            <li>
                                                <a href="about.html">Careers</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="single-footer-widget ps-5">
                                        <h3>Torado Products</h3>
            
                                        <ul class="quick-link">
                                            <li>
                                                <a href="#">Business Checking</a>
                                            </li>
                                            <li>
                                                <a href="#">Personal Checking</a>
                                            </li>
                                            <li>
                                                <a href="#">Entrepreneurs</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single-footer-widget ps-3">
                                        <h3>Get Help</h3>
                                        
                                        <ul class="quick-link">
                                            <li>
                                                <a href="faq.html">FAQ</a>
                                            </li>
                                            <li>
                                                <a href="help-center.html">Help Center</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-6">
                                    <div class="single-footer-widget ps-3">
                                        <h3>Follow Us</h3>

                                        <ul class="widget-social">
                                            <li>
                                                <a href="https://www.facebook.com/" target="_blank">
                                                    <i class="ri-facebook-circle-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com/" target="_blank">
                                                    <i class="ri-twitter-fill"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.linkedin.com/feed/" target="_blank">
                                                    <i class="ri-instagram-line"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright-area">
                    <div class="row justify-content-center">
                        <div class="col-lg-7 col-sm-4">
                            <p>
                                Copyright <span>Torado</span> All Rights Reserved Developed By
                                <a href="https://envytheme.com/" target="_blank">EnvyTheme</a>
                            </p>
                        </div>
                        <div class="col-lg-5 col-sm-8">
                            <ul class="copyright-list d-flex justify-content-between">
                                <li>
                                    <a href="services-details.html">Legal</a>
                                    <a href="index.html">Country Site Map</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Privacy Policy</a>
                                    <a href="services-details.html">Modern Slavery Statement</a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">Cookie Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->

        <!-- Back to Top -->
        <button type="button" id="back-to-top" class="position-fixed text-center border-0 p-0">
            <i class="ri-arrow-up-s-line"></i>
        </button>
        <!-- End Back to Top -->

        <!-- Link of JS Files -->
        <script src="/static/web/js/bootstrap.bundle.min.js"></script>
        <script src="/static/web/js/swiper-bundle.min.js"></script>
        <script src="/static/web/js/scrollCue.min.js"></script>
        <script src="/static/web/js/main.js"></script>
    <script>(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'971746a3ce8f3b73',t:'MTc1NTU4MTYwNA=='};var a=document.createElement('script');a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();</script></body>
</html>