{% extends 'app/base.html' %}
{% load static i18n crispy_forms_tags django_tables2 humanize extras %}
{% block title %}Home: {{app_settings.site_title}}{% endblock %}

{% block content %}

<div class="side-app main-container">

    <div class="page-header d-xl-flex d-block">
        <div class="page-leftheader">
            <div class="page-title">Pricing Plans 📂</div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12 mb-6">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th><span class="fs-15 text-center">Weekly Plans</span></th>
                            <th class="fs-15 text-center">5 Days</th>
                            <th class="fs-15 text-center">6 Days</th>
                            <th class="fs-15 text-center">7 Days</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for plan in plans %}
                        <tr>
                            <td><strong>{{plan.name}}</strong></td>
                            <td>
                                <div class="dxc">
                                    {% if request.user.has_zero_subscription %}
                                        <del> AED {% get_price plan 5 "regular_price" %}</del> AED {% get_price plan 5 "first_order_price" %}
                                    {% else %}
                                        AED {% get_price plan 5 "regular_price" %}
                                    {% endif %}
                                    <span class="spacerbw"></span> <a href="{% get_plan_link plan 5  %}" class="btn btn-primary btn-sm">Subscribe</a>
                                </div>
                            </td>
                            <td>
                                <div class="dxc">
                                    {% if request.user.has_zero_subscription %}
                                        <del> AED {% get_price plan 6 "regular_price" %}</del> AED {% get_price plan 6 "first_order_price" %}
                                    {% else %}
                                        AED {% get_price plan 5 "regular_price" %}
                                    {% endif %}
                                    <span class="spacerbw"></span> <a href="{% get_plan_link plan 6  %}" class="btn btn-primary btn-sm">Subscribe</a>
                                </div>
                            </td>
                            <td>
                                <div class="dxc">
                                    {% if request.user.has_zero_subscription %}
                                        <del> AED {% get_price plan 7 "regular_price" %}</del> AED {% get_price plan 7 "first_order_price" %}
                                    {% else %}
                                        AED {% get_price plan 5 "regular_price" %}
                                    {% endif %}
                                    <span class="spacerbw"></span> <a href="{% get_plan_link plan 7  %}" class="btn btn-primary btn-sm">Subscribe</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-12 mb-6">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th><span class="fs-15 text-center">Monthly Plans</span></th>
                            <th class="fs-15 text-center">22 Days</th>
                            <th class="fs-15 text-center">26 Days</th>
                            <th class="fs-15 text-center">30 Days</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for plan in plans %}
                        <tr>
                            <td><strong>{{plan.name}}</strong></td>
                            <td><div class="dxc"><del>AED {% get_price plan 22 "regular_price" %}</del> AED {% get_price plan 22 %} <span class="spacerbw"></span> <a href="{% get_plan_link plan 22  %}" class="btn btn-primary btn-sm">Subscribe</a></div></td>
                            <td><div class="dxc"><del>AED {% get_price plan 26 "regular_price" %}</del> AED {% get_price plan 26 %} <span class="spacerbw"></span> <a href="{% get_plan_link plan 26  %}" class="btn btn-primary btn-sm">Subscribe</a></div></td>
                            <td><div class="dxc"><del>AED {% get_price plan 30 "regular_price" %}</del> AED {% get_price plan 30 %} <span class="spacerbw"></span> <a href="{% get_plan_link plan 30  %}" class="btn btn-primary btn-sm">Subscribe</a></div></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="col-md-12 mb-6">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th><span class="fs-15 text-center">Bi-Monthly Plans</span></th>
                            <th class="fs-15 text-center">44 Days</th>
                            <th class="fs-15 text-center">52 Days</th>
                            <th class="fs-15 text-center">60 Days</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for plan in plans %}
                        <tr>
                            <td><strong>{{plan.name}}</strong></td>
                            <td><div class="dxc"><del>AED {% get_price plan 44 "regular_price" %}</del> AED {% get_price plan 44 %} <span class="spacerbw"></span> <a href="{% get_plan_link plan 44  %}" class="btn btn-primary btn-sm">Subscribe</a></div></td>
                            <td><div class="dxc"><del>AED {% get_price plan 52 "regular_price" %}</del> AED {% get_price plan 52 %} <span class="spacerbw"></span> <a href="{% get_plan_link plan 52  %}" class="btn btn-primary btn-sm">Subscribe</a></div></td>
                            <td><div class="dxc"><del>AED {% get_price plan 60 "regular_price" %}</del> AED {% get_price plan 60 %} <span class="spacerbw"></span> <a href="{% get_plan_link plan 60  %}" class="btn btn-primary btn-sm">Subscribe</a></div></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

{% endblock content %}
