{% extends 'web/base.html' %}

{% block content %}

<div class="contact-form-area pt-100 pb-100">
    <div class="container">
        <div class="row" style="flex-direction:row">
            <div class="col-lg-5 col-md-6">
                <div class="home-single-product-img aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                   <img src="/media/section/alot_web.png" alt="" style="height: 380px;object-fit: contain;">
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="home-single-product-content">
                    <h2 data-aos="fade-up" data-aos-delay="200" class="aos-init aos-animate mb-4">
                        Embrace the union with gifts that sparkle as bright as their love
                    </h2>
                    <p data-aos="fade-up" data-aos-delay="600" class="aos-init aos-animate">
                        Discovering the ideal gift for your loved ones just got easier with our meticulously curated collections. Whether you're searching for a special occasion or simply aiming to show your appreciation, our thoughtfully assembled selections offer something for everyone. From luxurious indulgences to practical essentials, each item is handpicked to delight and inspire. Explore our range of gifts tailored to various tastes, interests, and passions, ensuring that you'll find the perfect present to make any moment memorable. Let our curated collections guide you on a journey of thoughtful gifting, where every choice reflects your affection and thoughtfulness.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
