{% extends 'web/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="contact-form-area pt-60 pb-100">
    <div class="container">
        <div class="section-title-4 text-center mb-55">
            <h2>Customize your Gift</h2>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <form action="" method="post" class="">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">{{form.first_name|as_crispy_field}}</div>
                            <div class="col-lg-6">{{form.last_name|as_crispy_field}}</div>
                            <div class="col-lg-6">{{form.address_line_1|as_crispy_field}}</div>
                            <div class="col-lg-6">{{form.address_line_2|as_crispy_field}}</div>
                            <div class="col-lg-6">{{form.city|as_crispy_field}}</div>
                            <div class="col-lg-6">{{form.mobile|as_crispy_field}}</div>
                            <div class="col-lg-6">{{form.alternate_mobile|as_crispy_field}}</div>
                            <div class="col-lg-6">{{form.email|as_crispy_field}}</div>
                            <div class="col-lg-12">{{form.notes|as_crispy_field}}</div>

                            <div class="grand-total-btn btn-hover text-center mt-4">
                                <button type="submit" class="btn btn-brown border">Submit</submit>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
