{% extends 'website/base.html' %} {% load static %} {% block title %}About | Fetch Office chairs brand in Kerala{% endblock %} {% block content %}
<section id="hero" class="subhero pb-0 d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-4 hero-img">
                <img src="{% static 'web/images/subchair.png' %}" class="img-fluid" alt="office chairs" />
            </div>
            <div class="col-lg-7 d-flex flex-column">
                <h1 class="main_head text-center w-100"><span>FEEL THE CHANGE</span></h1>

            </div>

        </div>
    </div>
</section>

<main>
    {% include 'website/partials/section_about.html' %}

    {% include 'website/partials/section_vision.html' %}

    <section class="m-0 p-0" style="background: url({% static 'web/images/contact_bg.svg' %}) no-repeat left bottom;background-size: cover;">

        {% include 'website/partials/footer.html' %}
    </section>

</main>

{% endblock %}
