{% extends 'web/base.html' %}
{% load static %}


{% block content %}
<section class="top-space-margin">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center text-md-start"
                data-anime="{&quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;:0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <div class="fs-80 xxl-fs-70 sm-fs-60 fw-600 text-dark-gray alt-font ls-minus-4px sm-ls-minus-2px"
                    data-bottom-top="transform: translate3d(-50px, 0px, 0px);"
                    data-top-bottom="transform: translate3d(50px, 0px, 0px);">Prospello <br> Technologies
                </div>
            </div>
        </div>
    </div>
</section>


<section id="down-section" class="pt-0">
    <div class="container">
        <div class="row align-items-center justify-content-center" data-anime="{ &quot; perspective&quot;: 1200 }">
            <div class="col-lg-6 md-mb-40px"
                data-anime="{ &quot;translateY&quot;: [0, 0], &quot;zoom&quot;: [1.1, 1], &quot;rotateX&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 800, &quot;delay&quot;: 200, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <figure class="position-relative m-0">
                    <img src="/static/web/images/main/technologies.jpg" alt
                        class="w-100 border-radius-5px">
                </figure>
            </div>
            <div class="col-xl-5 offset-xl-1 col-lg-6 col-md-10"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <div class="mb-10px">
                    <span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
                    <span
                        class="text-gradient-base-color fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">Technology
                        Powerhouse</span>
                </div>

                <p class="w-95 md-w-100 mb-35px">
                    Prospello Technologies PVT LTD is an Innovative Technical Establishment of Prospello Global Group of
                    companies as a leading global information technology, consulting and business process services
                    company. Which harness the power of cognitive computing, hyper-automation, robotics, cloud,
                    analytics and emerging technologies to help our clients and the public adapt to the digital world
                    and make them comfortable and successful . A company recognized for its innovative and Technically
                    advanced portfolio of services including Web, App, Software, Hardware and what not all what
                    technologies can provide with.

                </p>
                <div
                    class="pt-20px pb-20px ps-30px pe-30px xs-p-15px border border-color-extra-medium-gray border-radius-6px mb-15px icon-with-text-style-08 w-90 lg-w-100">
                    <div class="feature-box feature-box-left-icon-middle d-inline-flex align-middle">
                        <div class="feature-box-icon me-10px">
                            <i class="bi bi-people icon-very-medium text-dark-gray"></i>
                        </div>
                        <div class="feature-box-content">
                            <span class="alt-font fs-19 ls-minus-05px fw-600 text-dark-gray d-block lh-26">
                                Over 500+ satisfied clients.</span>
                        </div>
                    </div>
                </div>
                <p class="fs-13 mb-0">We are excited for our work and how it <span
                        class="text-dark-gray text-decoration-line-bottom">positively</span> impacts clients.</p>
            </div>
        </div>
    </div>
</section>


<section class="bg-linen">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-xl-8 col-lg-9 col-md-10 text-center">
                <h3 class="alt-font text-dark-gray fw-600 ls-minus-1px sm-mb-20px"
                    data-anime="{ &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    Reimagine your universe.</h3>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-4 row-cols-sm-2 justify-content-center"
            data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;willchange&quot;: &quot;transform&quot;, &quot;scale&quot;:[0.95,1], &quot;opacity&quot;: [0, 1], &quot;duration&quot;: 800, &quot;delay&quot;: 100, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">

            <div class="col icon-with-text-style-04 transition-inner-all md-mb-30px">
                <div
                    class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
                    <div class="feature-box-icon">
                        <i class="ti-bar-chart text-base-color icon-extra-large text-light-opacity mb-20px"></i>
                    </div>
                    <div class="feature-box-content">
                        <span class="d-inline-block alt-font text-dark-gray fw-500 fs-18 mb-5px">Innovative
                            Solutions</span>
                        <p class="text-light-opacity">We deliver cutting-edge technology solutions tailored to your
                            business needs.</p>
                    </div>
                    <div class="feature-box-overlay bg-dark-gray"></div>
                </div>
            </div>


            <div class="col icon-with-text-style-04 transition-inner-all md-mb-30px">
                <div
                    class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
                    <div class="feature-box-icon">
                        <i class="ti-time text-base-color icon-extra-large text-light-opacity mb-20px"></i>
                    </div>
                    <div class="feature-box-content">
                        <span class="d-inline-block alt-font text-dark-gray fw-500 fs-18 mb-5px">Efficiency</span>
                        <p class="text-light-opacity">Streamline operations and save time with our automated systems.
                        </p>
                    </div>
                    <div class="feature-box-overlay bg-dark-gray"></div>
                </div>
            </div>


            <div class="col icon-with-text-style-04 transition-inner-all xs-mb-30px">
                <div
                    class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
                    <div class="feature-box-icon">
                        <i class="ti-user text-base-color icon-extra-large text-light-opacity mb-20px"></i>
                    </div>
                    <div class="feature-box-content">
                        <span class="d-inline-block alt-font text-dark-gray fw-500 fs-18 mb-5px">Expert Support</span>
                        <p class="text-light-opacity">Access 24/7 expert guidance and technical support for seamless
                            operations.</p>
                    </div>
                    <div class="feature-box-overlay bg-dark-gray"></div>
                </div>
            </div>


            <div class="col icon-with-text-style-04 transition-inner-all">
                <div
                    class="feature-box hover-box transition dark-hover bg-white border-radius-6px pt-17 pb-17 ps-14 pe-14 last-paragraph-no-margin box-shadow-quadruple-large box-shadow-hover overflow-hidden">
                    <div class="feature-box-icon">
                        <i class="ti-bookmark-alt text-base-color icon-extra-large text-light-opacity mb-20px"></i>
                    </div>
                    <div class="feature-box-content">
                        <span class="d-inline-block alt-font text-dark-gray fw-500 fs-18 mb-5px">Cost-Effective</span>
                        <p class="text-light-opacity">Affordable technology solutions that maximize your ROI.</p>
                    </div>
                    <div class="feature-box-overlay bg-dark-gray"></div>
                </div>
            </div>

        </div>
        <div class="row row-cols-1 row-cols-lg-3 row-cols-sm-2 align-items-center justify-content-center mt-6 xs-mt-8"
            data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;:[0, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 800, &quot;delay&quot;: 200, &quot;staggervalue&quot;: 100, &quot;easing&quot;: &quot;easeOutQuad&quot; }">

            <div class="col border-end xs-border-end-0 border-color-transparent-dark-very-light md-mb-35px">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="flex-shrink-0 me-25px sm-me-15px">
                        <h2 class="mb-0 text-dark-gray fw-700 ls-minus-2px">4.98</h2>
                    </div>
                    <div class="text-dark-gray">
                        <div class="fs-14 lh-28">
                            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i>
                        </div>
                        <span class="fs-17 lh-26 d-block fw-500">2,488 ratings</span>
                    </div>
                </div>
            </div>


            <div class="col border-end md-border-end-0 border-color-transparent-dark-very-light md-mb-35px">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="flex-shrink-0 me-25px sm-me-15px">
                        <h2 class="mb-0 text-dark-gray fw-700 ls-minus-2px">98<sup class="fs-30">%</sup></h2>
                    </div>
                    <div class="text-dark-gray">
                        <span class="fs-17 lh-26 d-block fw-500">Client satisfaction rate <br />based on
                            feedback.</span>
                    </div>
                </div>
            </div>


            <div class="col">
                <div class="d-flex align-items-center justify-content-center">
                    <div class="flex-shrink-0 me-25px sm-me-15px">
                        <h2 class="mb-0 text-dark-gray fw-700 ls-minus-2px">200<sup class="fs-30">+</sup></h2>
                    </div>
                    <div class="text-dark-gray">
                        <span class="fs-17 lh-26 d-block fw-500">Projects delivered <br />with excellence.</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row align-items-center justify-content-center mb-7 sm-mb-40px">
            <div class="col-xl-5 col-lg-6 col-md-10 md-mb-50px"
                data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [15, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 100, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <div class="mb-10px">
                    <span class="w-25px h-1px d-inline-block bg-base-color me-5px align-middle"></span>
                    <span
                        class="text-gradient-base-color fs-15 alt-font fw-700 ls-05px text-uppercase d-inline-block align-middle">Our
                        Services</span>
                </div>
                <h3 class="fw-600 text-dark-gray ls-minus-2px alt-font"
                    data-anime="{ &quot;el&quot;: &quot;lines&quot;, &quot;translateY&quot;: [15, 0], &quot;opacity&quot;: [0,1], &quot;delay&quot;: 100, &quot;staggervalue&quot;: 100, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    Innovating for the Future</h3>


                <div class="icon-with-text-style-08 mb-10px">
                    <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                        <div
                            class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-linen rounded-circle me-10px">
                            <i class="fa-solid fa-check fs-14 text-dark-gray"></i>
                        </div>
                        <div class="feature-box-content">
                            <span class="text-dark-gray">Data, Analytics & AI</span>
                        </div>
                    </div>
                </div>


                <div class="icon-with-text-style-08 mb-10px">
                    <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                        <div
                            class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-linen rounded-circle me-10px">
                            <i class="fa-solid fa-check fs-14 text-dark-gray"></i>
                        </div>
                        <div class="feature-box-content">
                            <span class="text-dark-gray">Technical Consulting</span>
                        </div>
                    </div>
                </div>


                <div class="icon-with-text-style-08 mb-10px">
                    <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                        <div
                            class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-linen rounded-circle me-10px">
                            <i class="fa-solid fa-check fs-14 text-dark-gray"></i>
                        </div>
                        <div class="feature-box-content">
                            <span class="text-dark-gray">Application Services & Modernization</span>
                        </div>
                    </div>
                </div>

                <div class="icon-with-text-style-08 mb-10px">
                    <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                        <div
                            class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-linen rounded-circle me-10px">
                            <i class="fa-solid fa-check fs-14 text-dark-gray"></i>
                        </div>
                        <div class="feature-box-content">
                            <span class="text-dark-gray">Mobile Application Development</span>
                        </div>
                    </div>
                </div>

                <div class="icon-with-text-style-08 mb-10px">
                    <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                        <div
                            class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-linen rounded-circle me-10px">
                            <i class="fa-solid fa-check fs-14 text-dark-gray"></i>
                        </div>
                        <div class="feature-box-content">
                            <span class="text-dark-gray">Integrated tech solutions</span>
                        </div>
                    </div>
                </div>


                <div class="icon-with-text-style-08">
                    <div class="feature-box feature-box-left-icon-middle overflow-hidden">
                        <div
                            class="feature-box-icon feature-box-icon-rounded w-35px h-35px bg-linen rounded-circle me-10px">
                            <i class="fa-solid fa-check fs-14 text-dark-gray"></i>
                        </div>
                        <div class="feature-box-content">
                            <span class="text-dark-gray">Industry & Platform Solutions</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 offset-xl-1 position-relative z-index-1"
                data-anime="{ &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 100, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <div class="atropos" data-atropos data-atropos-perspective="2450">
                    <div class="atropos-scale">
                        <div class="atropos-rotate">
                            <div class="atropos-inner">
                                <img src="/static/web/images/demo-branding-agency-services-detail-02.jpg" alt
                                    class="border-radius-6px" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="absolute-middle-center text-white-space-nowrap z-index-9">
                    <a href="https://www.youtube.com/watch?v="
                        class="btn btn-extra-large btn-white left-icon btn-box-shadow fw-600 btn-rounded popup-youtube ls-minus-05px"><i
                            class="fa-brands fa-youtube icon-small"></i>How it works</a>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 text-center"
                data-anime="{ &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <i class="bi bi-envelope text-dark-gray d-inline-block align-middle icon-extra-medium me-5px"></i>
                <div class="fs-18 text-dark-gray d-inline-block align-middle fw-500">Save your precious time and
                    effort spent for finding a solution. <a href="#"
                        class="text-dark-gray text-decoration-line-bottom fw-600">Contact us now</a></div>
            </div>
        </div>
    </div>
</section>

{% endblock %}