<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Most - Creative Agency & Portfolio HTML Template </title>
    <!--================= Favicon =================-->
    <link rel="shortcut icon" type="image/x-icon" href="/static/web/images/favicon.png">
    <!--================= Magnific Popup CSS =================-->
    <link rel="stylesheet" href="/static/web/css/vendor/bootstrap.min.css">
    <!--================= Magnific Popup CSS =================-->
    <link rel="stylesheet" href="/static/web/css/vendor/fontawesome-5.css">
    <!--================= Base CSS =================-->
    <link rel="stylesheet" href="/static/web/css/vendor/magnific-popup.css">
    <!--================= Inline CSS =================-->
    <link rel="stylesheet" href="/static/web/css/vendor/plyr.css">
    <!--================= Fontello CSS =================-->
    <link rel="stylesheet" href="/static/web/css/vendor/socicon.css">
    <!--================= Widgets CSS =================-->
    <link rel="stylesheet" href="/static/web/css/vendor/swiper.min.css">
    <!--================= Style CSS =================-->
    <link rel="stylesheet" href="/static/web/css/style.css">
</head>

<body data-theme="light" class="index-six" data-menu="fixed" data-footer-effect="on" data-footer-corners="on">
    <!--================= Header One Start =================-->
    <!--================= Sticky Menu Start Here =================-->
    <div class="main-header js-main-header auto-hide-header full-width menu-center header--sticky" data-blur="on">
        <div class="main-header__layout">
            <div class="container">
                <div class="main-header__inner p-none">
                    <div class="main-header__logo">
                        <div class="logo-dark">
                            <a href="{% url 'web:index' %}">
                                <img src="/static/web/images/logo/logo-light.svg" alt="Most">
                            </a>
                        </div>
                        <div class="logo-light">
                            <a href="{% url 'web:index' %}">
                                <img src="/static/web/images/logo/logo-dark.svg" alt="Most">
                            </a>
                        </div>
                    </div>

                    <nav class="main-header__nav js-main-header__nav main-header__default" id="main-header-nav" aria-labelledby="primary-menu">
                        <ul id="primary-menu" class="navbar-nav">
                            <li class="menu-item">
                                <a href="{% url 'web:index' %}" title="Home"><span>Home</span></a>
                            </li>
                            <li class="menu-item">
                                <a href="{% url 'web:stories' %}" title="Stories"><span>Stories</span></a>
                            </li>
                            <li class="menu-item">
                                <a href="{% url 'web:about' %}" title="Offers"><span>About</span></a>
                            </li>
                            <li class="menu-item">
                                <a href="{% url 'web:services' %}" title="Services"><span>Services</span></a>
                            </li>
                            <li class="menu-item">
                                <a href="{% url 'web:contact' %}" title="Contact"><span>Contact</span></a>
                            </li>
                        </ul>
                    </nav>
                    <div class="menuTrigger"></div>
                    <div class="main-header--widgets">
                        <div class="ms_theme_mode">
                            <div class="ms_tm--inner">
                                <div class="theme-toggle" id="theme-toggle">
                                    <input type="checkbox" id="switcher" class="check" checked="">
                                    <svg class="sun-and-moon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24">
                                        <mask class="moon" id="moon-mask">
                                            <rect x="0" y="0" width="100%" height="100%" fill="white"></rect>
                                            <circle cx="24" cy="10" r="6" fill="black"></circle>
                                        </mask>
                                        <circle class="sun" cx="12" cy="12" r="6" mask="url(#moon-mask)" fill="currentColor">
                                        </circle>
                                        <g class="sun-beams" stroke="currentColor">
                                            <line x1="12" y1="1" x2="12" y2="3"></line>
                                            <line x1="12" y1="21" x2="12" y2="23"></line>
                                            <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                                            <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                                            <line x1="1" y1="12" x2="3" y2="12"></line>
                                            <line x1="21" y1="12" x2="23" y2="12"></line>
                                            <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                                            <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                                        </g>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <div class="header__search-icon">
                            <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.57,16.15A9,9,0,1,0,15,17.46h0l6.25,6.25,1.42-1.42Zm-3-.14a7.07,7.07,0,1,1,1.56-1.28A6.88,6.88,0,0,1,13.59,16Z">
                                </path>
                            </svg>
                        </div>

                        <div class="header__search-modal">

                            <button class="header__search--close-btn">
                                <svg class="icon icon--sm" viewBox="0 0 24 24">
                                    <title>Close modal window</title>
                                    <g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <line x1="3" y1="3" x2="21" y2="21"></line>
                                        <line x1="21" y1="3" x2="3" y2="21"></line>
                                    </g>
                                </svg>
                            </button>

                            <div class="header__search--inner">

                                <form role="search" method="get" class="searchform" action="https://theme.madsparrow.me/most/">
                                    <div class="ms-search-widget">
                                        <input type="search" placeholder="Search..." value="" name="s" class="search-field">
                                        <div class="ms-search--btn">
                                            <span class="ms-sb--icon">
											<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<path
													d="M16.57,16.15A9,9,0,1,0,15,17.46h0l6.25,6.25,1.42-1.42Zm-3-.14a7.07,7.07,0,1,1,1.56-1.28A6.88,6.88,0,0,1,13.59,16Z">
												</path>
											</svg>
										</span>
                                            <input type="submit" class="search-submit" value="">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <button class="main-header__nav-trigger js-main-header__nav-trigger menu-default" aria-label="Toggle menu" aria-expanded="false" aria-controls="main-header-nav">
                        <span>Menu</span>
                        <i class="main-header__nav-trigger-icon" aria-hidden="true"></i>
                    </button>

                </div>
            </div>
        </div>
    </div>
    <!--================= Header End Here =================-->
    <!--================= Header One End =================-->
    <!--================= Mobile Menu Start Here =================-->

    <!--================= Mobile Menu Start Here =================-->

    <main class="ms-main home-six list">
        <div class="banner-area-2">
            <div class="video-bg-container">
                <video autoplay loop muted width="10000">
                    <source src="https://most-html.netlify.app/assets/images/slider/Whisper.mp4" type="video/mp4" />
                </video>
            </div>
            <div class="ms-tt-wrap">
                <ul class="ms-tt">
                    <li class="ms-tt__text">Portfolio <span>List Style</span> by Most Theme Portfolio <span>List Style</span> by Most Theme&nbsp;</li>
                    <li class="ms-tt__text">Portfolio <span>List Style</span> by Most Theme Portfolio <span>List Style</span> by Most Theme&nbsp;</li>
                    <li class="ms-tt__text">Portfolio <span>List Style</span> by Most Theme Portfolio <span>List Style</span> by Most Theme&nbsp;</li>
                    <li class="ms-tt__text">Portfolio <span>List Style</span> by Most Theme Portfolio <span>List Style</span> by Most Theme&nbsp;</li>
                    <li class="ms-tt__text">Portfolio <span>List Style</span> by Most Theme Portfolio <span>List Style</span> by Most Theme&nbsp;</li>
                    <li class="ms-tt__text">Portfolio <span>List Style</span> by Most Theme Portfolio <span>List Style</span> by Most Theme&nbsp;</li>
                    <li class="ms-tt__text">Portfolio <span>List Style</span> by Most Theme Portfolio <span>List Style</span> by Most Theme&nbsp;</li>
                    <li class="ms-tt__text">Portfolio <span>List Style</span> by Most Theme Portfolio <span>List Style</span> by Most Theme&nbsp;</li>
                </ul>
            </div>
        </div>
        <div class="ms-portfolio-filter-area main-isotop">
            <div class="container">
                <div class="button-group filters-button-group">
                    <button class="button is-checked" data-filter="*">All Catagories</button>
                    <button class="button" data-filter=".creative">Creative</button>
                    <button class="button" data-filter=".design">Design</button>
                    <button class="button" data-filter=".photo">Photo</button>
                    <button class="button" data-filter=".style">Style</button>
                </div>
                <div class="portfolio_wrap">
                    <div class="filter row portfolio-feed">
                        <div class="grid-item-p element-item transition creative col-md-12" data-category="transition">
                            <a aria-label='Freezing Birthday' href='javascript:void(0);'>
                                <div class="ms-p-list-item__img-container">
                                    <figure class="project-list-item__image">
                                        <img decoding="async" class="project-list-item__image" src="/static/web/images/portfolio/sm-01.jpg" alt="Freezing Birthday">
                                    </figure>
                                </div>
                                <div class="p-list-item__title col-md-6">
                                    <h3>Freezing Birthday</h3>
                                </div>
                                <div class="p-list-item__info col-md-3">
                                    <div class="p-list-item__cat">
                                        <h4>creative</h4>
                                    </div>
                                    <div>
                                        <h4>/2022</h4>
                                    </div>
                                </div>
                                <div class="p-list-item__icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384.67 384.67">
                                        <g>
                                            <path fill-rule="evenodd" d="M0 45.26l276.05 276.05H22.63v63.36h362.04V22.63h-63.36v253.42L45.26 0 0 45.26z">
                                            </path>
                                        </g>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item-p element-item transition design col-md-12" data-category="transition">
                            <a aria-label='Stream Shop' href='javascript:void(0);'>
                                <div class="ms-p-list-item__img-container">
                                    <figure class="project-list-item__image">
                                        <img decoding="async" class="project-list-item__image" src="/static/web/images/portfolio/sm-02.jpg" alt="Stream Shop">
                                    </figure>
                                </div>
                                <div class="p-list-item__title col-md-6">
                                    <h3>Stream Shop</h3>
                                </div>
                                <div class="p-list-item__info col-md-3">
                                    <div class="p-list-item__cat">
                                        <h4>design</h4>
                                    </div>
                                    <div>
                                        <h4>/2022</h4>
                                    </div>
                                </div>
                                <div class="p-list-item__icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384.67 384.67">
                                        <g>
                                            <path fill-rule="evenodd" d="M0 45.26l276.05 276.05H22.63v63.36h362.04V22.63h-63.36v253.42L45.26 0 0 45.26z">
                                            </path>
                                        </g>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item-p element-item transition photo col-md-12" data-category="transition">
                            <a aria-label='Random Risk' href='javascript:void(0);'>
                                <div class="ms-p-list-item__img-container">
                                    <figure class="project-list-item__image">
                                        <img decoding="async" class="project-list-item__image" src="/static/web/images/portfolio/sm-03.jpg" alt="Random Risk">
                                    </figure>
                                </div>
                                <div class="p-list-item__title col-md-6">
                                    <h3>Random Risk</h3>
                                </div>
                                <div class="p-list-item__info col-md-3">
                                    <div class="p-list-item__cat">
                                        <h4>photo</h4>
                                    </div>
                                    <div>
                                        <h4>/2022</h4>
                                    </div>
                                </div>
                                <div class="p-list-item__icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384.67 384.67">
                                        <g>
                                            <path fill-rule="evenodd" d="M0 45.26l276.05 276.05H22.63v63.36h362.04V22.63h-63.36v253.42L45.26 0 0 45.26z">
                                            </path>
                                        </g>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item-p element-item transition style col-md-12" data-category="transition">
                            <a aria-label='Share Spark' href='javascript:void(0);'>
                                <div class="ms-p-list-item__img-container">
                                    <figure class="project-list-item__image">
                                        <img decoding="async" class="project-list-item__image" src="/static/web/images/portfolio/sm-04.jpg" alt="Share Spark">
                                    </figure>
                                </div>
                                <div class="p-list-item__title col-md-6">
                                    <h3>Share Spark</h3>
                                </div>
                                <div class="p-list-item__info col-md-3">
                                    <div class="p-list-item__cat">
                                        <h4>style</h4>
                                    </div>
                                    <div>
                                        <h4>/2022</h4>
                                    </div>
                                </div>
                                <div class="p-list-item__icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384.67 384.67">
                                        <g>
                                            <path fill-rule="evenodd" d="M0 45.26l276.05 276.05H22.63v63.36h362.04V22.63h-63.36v253.42L45.26 0 0 45.26z">
                                            </path>
                                        </g>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item-p element-item transition creative col-md-12" data-category="transition">
                            <a aria-label='Wiggly Finger' href='javascript:void(0);'>
                                <div class="ms-p-list-item__img-container">
                                    <figure class="project-list-item__image">
                                        <img decoding="async" class="project-list-item__image" src="/static/web/images/portfolio/sm-05.jpg" alt="Wiggly Finger">
                                    </figure>
                                </div>
                                <div class="p-list-item__title col-md-6">
                                    <h3>Wiggly Finger</h3>
                                </div>
                                <div class="p-list-item__info col-md-3">
                                    <div class="p-list-item__cat">
                                        <h4>creative</h4>
                                    </div>
                                    <div>
                                        <h4>/2022</h4>
                                    </div>
                                </div>
                                <div class="p-list-item__icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384.67 384.67">
                                        <g>
                                            <path fill-rule="evenodd" d="M0 45.26l276.05 276.05H22.63v63.36h362.04V22.63h-63.36v253.42L45.26 0 0 45.26z">
                                            </path>
                                        </g>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="grid-item-p element-item transition design col-md-12" data-category="transition">
                            <a aria-label='Subsequent Sneeze' href='javascript:void(0);'>
                                <div class="ms-p-list-item__img-container">
                                    <figure class="project-list-item__image">
                                        <img decoding="async" class="project-list-item__image" src="/static/web/images/portfolio/sm-06.jpg" alt="Subsequent Sneeze">
                                    </figure>
                                </div>
                                <div class="p-list-item__title col-md-6">
                                    <h3>Subsequent Sneeze</h3>
                                </div>
                                <div class="p-list-item__info col-md-3">
                                    <div class="p-list-item__cat">
                                        <h4>design</h4>
                                    </div>
                                    <div>
                                        <h4>/2022</h4>
                                    </div>
                                </div>
                                <div class="p-list-item__icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384.67 384.67">
                                        <g>
                                            <path fill-rule="evenodd" d="M0 45.26l276.05 276.05H22.63v63.36h362.04V22.63h-63.36v253.42L45.26 0 0 45.26z">
                                            </path>
                                        </g>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!--================= Footer Area Start Here =================-->
    <footer class="ms-footer ms-footer--template">
        <Section class="container footer-container" data-parallax="on">
            <div class="footer-title text-center">
                <h1>Got a <strong>PROJECT</strong> <br> <strong>IN MIND?</strong> <a href="#" class="btn-footer">Let's Talk <i class="fas fa-arrow-right"></i></a></h1>
            </div>
            <div class="social-area">
                <div class="row area-inner">
                    <div class="col-lg-3 col-md-6 col-sm-2 col-2">
                        <div class="social-wrapper">
                            <div class="content">
                                <h3 class="platform">Dribble</h3>
                                <a href="#0" class="link">@perfamana</a>
                            </div>
                            <div class="social">
                                <a href="#0" class="icon"><i class="socicon-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-2 col-2">
                        <div class="social-wrapper">
                            <div class="content">
                                <h3 class="platform">Twitter</h3>
                                <a href="#0" class="link">@perfamana</a>
                            </div>
                            <div class="social">
                                <a href="#0" class="icon"><i class="socicon-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-2 col-2">
                        <div class="social-wrapper">
                            <div class="content">
                                <h3 class="platform">Instagram</h3>
                                <a href="#0" class="link">@perfamana</a>
                            </div>
                            <div class="social">
                                <a href="#0" class="icon"><i class="socicon-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-2 col-2">
                        <div class="social-wrapper">
                            <div class="content">
                                <h3 class="platform">Behance</h3>
                                <a href="#0" class="link">@perfamana</a>
                            </div>
                            <div class="social">
                                <a href="#0" class="icon"><i class="socicon-behance"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area">
                <div class="left-side">
                    <p>©2022 <a href="#0" class="author">Reacthemes</a>, All Rights Reserved.</p>
                </div>
                <div class="right-side">
                    <p>Themeforest Premium HTML Template</p>
                </div>
            </div>
        </section>
    </footer>
    <!--================= Footer Area End Here =================-->

    <!--================= Script Start Here =================-->
    <div class="back-to-top js-back-to-top">
        <div class="ms-btt--inner">
            <svg class="ms-btt-i" enable-background="new 0 0 96 96" height="96px" id="arrow_up" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M52,84V21.656l21.457,21.456c1.561,1.562,4.095,1.562,5.656,0.001c1.562-1.562,1.562-4.096,0-5.658L50.829,9.172l0,0  c-0.186-0.186-0.391-0.352-0.609-0.498c-0.101-0.067-0.21-0.114-0.315-0.172c-0.124-0.066-0.242-0.142-0.373-0.195  c-0.135-0.057-0.275-0.089-0.415-0.129c-0.111-0.033-0.216-0.076-0.331-0.099C48.527,8.027,48.264,8,48.001,8l0,0  c-0.003,0-0.006,0.001-0.009,0.001c-0.259,0.001-0.519,0.027-0.774,0.078c-0.12,0.024-0.231,0.069-0.349,0.104  c-0.133,0.039-0.268,0.069-0.397,0.123c-0.139,0.058-0.265,0.136-0.396,0.208c-0.098,0.054-0.198,0.097-0.292,0.159  c-0.221,0.146-0.427,0.314-0.614,0.501L16.889,37.456c-1.562,1.562-1.562,4.095-0.001,5.657c1.562,1.562,4.094,1.562,5.658,0  L44,21.657V84c0,2.209,1.791,4,4,4S52,86.209,52,84z"></path>
            </svg>
        </div>
    </div>

    <!--================= jquery latest version =================-->
    <script src="/static/web/js/vendor/jquery.min.js"></script>
    <!--================= fslightbox JS =================-->
    <script src="/static/web/js/vendor/fslightbox.js"></script>
    <!--================= Gsap JS =================-->
    <script src="/static/web/js/vendor/gsap.min.js"></script>
    <!--================= Isotop pkgd JS =================-->
    <script src="/static/web/js/vendor/isotope.pkgd.min.js"></script>
    <!--================= Isotop pkgd JS =================-->
    <script src="/static/web/js/vendor/imagesloaded.pkgd.min.js"></script>
    <!--================= Jarallax Video JS =================-->
    <script src="/static/web/js/vendor/jarallax-video.min.js"></script>
    <!--================= Jarallax JS =================-->
    <script src="/static/web/js/vendor/jarallax.min.js"></script>
    <!--================= Gallery JS =================-->
    <script src="/static/web/js/vendor/jquery.justifiedGallery.min.js"></script>
    <!--================= Miodernizr JS =================-->
    <script src="/static/web/js/vendor/modernizr.js"></script>
    <!--================= Plyr JS =================-->
    <script src="/static/web/js/vendor/plyr.js"></script>
    <!--================= Contact Form JS =================-->
    <script src="/static/web/js/plugins/contact-form.js"></script>
    <!--================= Swiper Bundle JS =================-->
    <script src="/static/web/js/vendor/swiper-bundle.min.js"></script>
    <!--================= Bootstrap JS =================-->
    <script src="/static/web/js/vendor/bootstrap.min.js"></script>
    <!--================= Video JS =================-->
    <script src="/static/web/js/vendor/video-background.js"></script>
    <!--================= Main JS =================-->
    <script src="/static/web/js/main.js"></script>
    <script></script>
    <!--================= Script End Here =================-->
    <script></script>
</body>

</html>