@import "tailwindcss";

/* === Custom Variables & Font Setup === */
@layer base {
  :root {
    --color-primary: #186f65;
    --color-secondary: #b5cb99;
    --color-bg: #fefef9;
    --color-accent: #fce09b;
    --color-bg: #f5f5f5;
  }

  body {
    font-family: "Bricolage Grotesque", sans-serif;
    background-color: #fdfcf6;
  }

  .font-display {
    font-family: "Bricolage Grotesque", sans-serif;
  }
}

/* === Dot Pattern Utility === */
@layer utilities {
  .bg-dot-pattern {
    background-image: radial-gradient(var(--primary) 1px, transparent 1px);
    background-size: 20px 20px;
  }
}

html {
  scroll-behavior: smooth;
}
