@import "tailwindcss";

/* === Custom Variables & Font Setup === */
@layer base {
  :root {
    --color-primary: #186f65;
    --color-secondary: #b5cb99;
    --color-bg: #fefef9;
    --color-accent: #fce09b;
    --color-bg: #f5f5f5;
    
    /* Typography Styles */
    --heading-gradient: linear-gradient(to right, #ef4444, #f97316);
    --text-primary-dark: #fefef8;
    --text-primary-light: #1f2937;
    --text-secondary-dark: #9ca3af;
    --text-secondary-light: #4b5563;
    --text-accent: #ef4444;
  }

  body {
    font-family: "Bricolage Grotesque", sans-serif;
    background-color: #fdfcf6;
  }

  .font-display {
    font-family: "Bricolage Grotesque", sans-serif;
  }
  
  /* Typography Classes */
  .heading-gradient {
    background: var(--heading-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .text-primary {
    color: var(--text-primary-light);
  }
  
  .dark .text-primary {
    color: var(--text-primary-dark);
  }
  
  .text-secondary {
    color: var(--text-secondary-light);
  }
  
  .dark .text-secondary {
    color: var(--text-secondary-dark);
  }
}

/* === Dot Pattern Utility === */
@layer utilities {
  .bg-dot-pattern {
    background-image: radial-gradient(var(--primary) 1px, transparent 1px);
    background-size: 20px 20px;
  }
}

html {
  scroll-behavior: smooth;
}