<footer class="bg-charcoal-blue pb-4 sm-pb-50px" style="background-image: url(/static/web/images/demo-branding-agency-pattern.svg)">
    <div class="container">
        <div class="row mb-6">
            <div class="col-lg-6 col-md-6 sm-mb-30px order-2 order-md-1">
                <h3 class="text-white fw-500 alt-font mb-50px ls-minus-1px sm-mb-30px">Let's make something great
                     together.</h3>
                     <p>Let’s combine your vision with our expertise to build something truly remarkable—something that inspires, impacts, and stands the test of time. Together, we can turn ideas into reality and achieve greatness. Let’s start creating today!</p>
                <div class="row">
                    <div class="col-lg-5 col-6">
                        <span class="alt-font fs-14 text-uppercase d-block text-white ls-1px lh-24">Call our
                            office</span>
                        <a href="tel:918086871991">+91 8086 87 1991</a>
                    </div>
                    <div class="col-lg-5 col-6">
                        <span class="alt-font fs-14 text-uppercase d-block text-white ls-1px lh-24">Send a
                            message</span>
                        <a href="mailto:hello@prospello.in"><span class="">hello@prospello.in</span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-2 offset-lg-1 col-6 order-3 order-md-2">
                <span class="alt-font fs-14 text-uppercase mb-5px d-block text-white ls-1px">Company</span>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'web:about_us' %}">About</a></li>
                    <li><a href="{% url 'web:industries' %}">Industries</a></li>
                    <li><a href="{% url 'web:careers' %}">Careers</a></li>
                    <li><a href="{% url 'web:contact' %}">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-6 order-3 order-md-3">
                <span class="alt-font fs-14 text-uppercase mb-5px d-block text-white ls-1px">Follow Us</span>
                <ul>
                    <li><a href="https://www.pinterest.com/" target="_blank">Pinterest</a></li>
                    <li><a href="https://www.twitter.com/" target="_blank">Twitter</a></li>
                    <li><a href="http://www.dribbble.com/" target="_blank">Dribbble</a></li>
                    <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
                    <li><a href="http://www.behance.com/" target="_blank">Behance</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 last-paragraph-no-margin">
                <p class="fs-13 lh-22 w-95 sm-w-100">This site is protected by reCAPTCHA and the Google privacy
                    policy and terms of service apply. You must not use this website if you disagree with any of
                    these website standard terms and conditions.</p>
            </div>
            <div class="col-md-5 text-md-end sm-mt-15px last-paragraph-no-margin">
                <p class="fs-13 lh-22">&copy; {% now 'Y' %} | All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>