{% load static %}
<section id="vision" class="vision-section">
    <div class="container">
        <div class="row justify-content-center g-5">
            <div class="col-lg-5 col-md-6">
                <div class="vision-card h-100">
                    <div class="vision-icon-box">
                        <img src="{% static 'web/images/vision.svg' %}" alt="Mission icon">
                    </div>
                    <h4>Mission</h4>
                    <p>Our mission is to create value for our customers by providing quality and standardized products with customized designs. Our chairs are designed for elegance and comfort, engineered for lasting durability.</p>
                </div>
            </div>

            <div class="col-lg-5 col-md-6">
                <div class="vision-card h-100">
                    <div class="vision-icon-box">
                        <img src="{% static 'web/images/mission.svg' %}" alt="Vision icon">
                    </div>
                    <h4>Vision</h4>
                    <p>To design and build intensive models of chairs tailored for the ultimate comfort and satisfaction of your busy work schedule. We strive to create a relaxing experience throughout your entire day.</p>
                </div>
            </div>
        </div>
    </div>
</section>
