{% load static %}
<section id="blog" class="blog">
    <div class="container">

        <div class="row justify-content-around align-items-stretch">
            <div class="col-lg-4 h-100">
                <div class="box bg-white">
                    <img src="{% static 'web/images/vision.svg' %}" alt="mission" class="icon">
                    <div class="box-content">
                        <h4 class="box_head">Mission</h4>
                        <p>Our mission is to create value for our customers by providing quality and standardized products with customized designs. Our chairs are designed for elegance and comfort. The contemporary collection of chairs was engineered for lasting durability.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 h-100h">
                <div class="box bg-white">
                    <img src="{% static 'web/images/mission.svg' %}" alt="vision" class="icon">
                    <div class="box-content">
                        <h4 class="box_head">Vision</h4>
                        <p>The intensive models of chairs were designed and built for the comfort and satisfaction of your bulky schedule in the office demeanor. The unique models create a comfortable experience throughout the day of users.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
