{% load static %}
<div class="ltn_testimonial-area ltn_testimonial-4 pt-115 plr--9">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn_section-title-2_x text-center">
                    <h6 class="section-subtitle section-subtitle-2 ltn_secondary-color">Our Testimonial</h6>
                    <h1 class="section-title">Clients Feedback</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn_testimonial-slider-4 ltn_testimonial-slider-4-active slick-arrow-1">
                    {% for testimonial in testimonials %}
                    <div class="ltn_testimonial-item-5">
                        <div class="ltn_quote-icon">
                            <i class="far fa-comments"></i>
                        </div>
                        <div class="ltn_testimonial-image">
                            <img src="{{testimonial.image.url}}" alt="quote">
                        </div>
                        <div class="ltn_testimonial-info">
                            <p>{{testimonial.description}}</p>
                            <h4>{{testimonial.name}}</h4>
                            <h6>{{testimonial.designation}}</h6>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
