{% load static %}
<div class="ltn_video-popup-area ltn_video-popup-margin_x">
    <div class="ltn_video-bg-img ltn_video-popup-height-600_x bg-overlay-black-30 bg-image bg-fixed ltn_animation-pulse1"
        data-bs-bg="{% static 'web/img/bg/19.jpg' %}">
        <a class="ltn_video-icon-2 ltn_video-icon-2-border_x"
            href="https://www.youtube.com/embed/X7R-q9rsrtU?autoplay=1&amp;showinfo=0"
            data-rel="lightcase:myCollection">
            <i class="fa fa-play"></i>
        </a>
    </div>
</div>
