{% extends 'web/base.html' %}
{% load static %}

{% block content %}

<!-- start section -->
<section class="margin-top-200">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 col-lg-5 col-md-9 md-margin-7-rem-bottom">
                <span class="alt-font margin-20px-bottom text-gradient-peacock-blue-crome-yellow-2 d-inline-block text-uppercase font-weight-500 letter-spacing-1px">Experience De L!mra</span>
                <h4 class="alt-font font-weight-600 text-extra-dark-gray w-95">We help our clients build value and services</h4>
                <p class="w-80 lg-w-95 text-justify">De L!MRA Buildcon LLP is dedicated to offering exemplary construction solutions for an extensive range of engineering projects. </p>
            </div>
            <div class="col-12 col-lg-7 col-md-9 padding-55px-lr md-padding-5px-left sm-padding-50px-right">
                <figure class="image-back-offset-shadow position-right w-100">
                    <img class="border-radius-6px" src="{% static 'web/images/limra/serices-head.jpg' %}" alt="">
                    <span class="bg-gradient-peacock-blue-crome-yellow border-radius-6px overlay"></span>
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- end section -->


<section class="half-section parallax" data-parallax-background-ratio="0.5" style="background-image:url('{% static 'web/images/portfolio-bg2.jpg' %}');">
    <div class="container text-center">
      <h2 class="text-extra-dark-gray alt-font font-weight-500 letter-spacing-minus-1px line-height-50 sm-line-height-45 xs-line-height-30 no-margin-bottom">Our Services</h2>
    </div>
</section>
<!-- end page title -->
<!-- start section -->
<section class="pt-0 padding-eleven-lr xl-padding-two-lr xs-no-padding-lr">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 blog-content">
                <ul class="blog-grid blog-wrapper grid grid-loading grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-extra-large">
                    <li class="grid-sizer"></li>
                    <!-- start blog item -->
                    <li class="grid-item wow animate__fadeIn">
                        <div class="blog-post border-radius-5px bg-white box-shadow-medium">
                            <div class="blog-post-image bg-medium-slate-blue">
                                <a href="javascript:void(0)" title=""><img src="{% static 'web/images/limra/roads.jpg' %}" alt=""></a>
                            </div>
                            <div class="bg-black post-details padding-2-rem-lr padding-2-half-rem-tb">
                                <a href="javascript:void(0)" class="text-green alt-font font-weight-500 text-extra-medium margin-15px-bottom d-block">Roads</a>
                                <p class="text-justify">
                                  We build roads to future that contributing great connectivity to people and enhance trade to sustain the economy.
                                  De L!MRA has today made tremendous progress in the field of civil construction industry. We make roads possible
                                  to construct in the most efficient way, with the support of our competent resources, cutting-edge technology and
                                  state-of- art machinery.
                                </p>

                            </div>
                        </div>
                    </li>
                    <!-- end blog item -->
                    <!-- start blog item -->
                    <li class="grid-item wow animate__fadeIn" data-wow-delay="0.2s">
                        <div class="blog-post border-radius-5px bg-white box-shadow-medium">
                            <div class="blog-post-image bg-medium-slate-blue">
                                <a href="javascript:void(0)" title=""><img src="{% static 'web/images/limra/bridges.jpg' %}" alt=""></a>
                            </div>
                            <div class="bg-black post-details padding-2-rem-lr padding-2-half-rem-tb">

                                <a href="javascript:void(0)" class="text-green alt-font font-weight-500 text-extra-medium margin-15px-bottom d-block">Bridges</a>
                                <p class="text-justify">
                                  We build bridges that build friendship, No bridge is build in a day. Bridge construction demands great
                                  expertise and consistency to build a safe structure that overlay physical obstacles and creates a new way.
                                  We are continuously engaged in designing and constructing different types of bridges across the length and
                                  breadth of the realm.
                                </p>

                            </div>
                        </div>
                    </li>
                    <!-- end blog item -->
                    <!-- start blog item -->
                    <li class="grid-item wow animate__fadeIn" data-wow-delay="0.4s">
                        <div class="blog-post border-radius-5px bg-white box-shadow-medium">
                            <div class="blog-post-image bg-medium-slate-blue">
                                <a href="javascript:void(0)" title=""><img src="{% static 'web/images/limra/building.jpg' %}" alt=""></a>
                            </div>
                            <div class="bg-black post-details padding-2-rem-lr padding-2-half-rem-tb">
                                <a href="javascript:void(0)" class="text-green alt-font font-weight-500 text-extra-medium margin-15px-bottom d-block">Buildings</a>
                                <p class="text-justify">
                                  Buildings were much more than a place to live, work, worship or be entertained. Experience of over decades,
                                  highly skilled resources, use of quality raw materials, proficiency in advanced technology and modern machinery
                                  etc. keep De L!MRA ahead of time and competition in the field.
                                </p>

                            </div>
                        </div>
                    </li>
                    <!-- end blog item -->
                    <!-- start blog item -->
                    <li class="grid-item wow animate__fadeIn" data-wow-delay="0.6s">
                        <div class="blog-post border-radius-5px bg-white box-shadow-medium">
                            <div class="blog-post-image bg-medium-slate-blue">
                                <a href="javascript:void(0)" title=""><img src="{% static 'web/images/limra/tourism.jpg' %}" alt=""></a>
                            </div>
                            <div class="bg-black post-details padding-2-rem-lr padding-2-half-rem-tb">
                                <a href="javascript:void(0)" class="text-green alt-font font-weight-500 text-extra-medium margin-15px-bottom d-block">Tourism</a>
                                <p>
                                  Over the five decades, tourism has experienced continued growth and deepening diversification to become one
                                  of the fastest growing economic sectors in the world. We De L!MRA, recently made our hands in tourism projects.
                                </p>

                            </div>
                        </div>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</section>


{% endblock %}
