table th {
  padding: 10px 8px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.single-product-cart>button {
  display: inline-block;
  font-weight: 600;
  color: #ffffff;
  background-color: #57191f;
  padding: 20px 37px;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .single-product-cart>button {
    padding: 20px 17px;
  }
}

.your-order-area .Place-order button {
  background-color: #57191f;
  display: block;
  cursor: pointer;
  padding: 16px 50px 17px;
  text-transform: capitalize;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  z-index: 1;
}

.myaccount-tab-menu form button {
  border: 1px solid #ccc;
  border-bottom: none;
  display: block;
  padding: 10px 15px;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 500;
}

.myaccount-tab-menu form button:last-child {
  border-bottom: 1px solid #ccc;
  width: 100%;
  text-align: left;
  background-color: transparent;
}

.myaccount-tab-menu form button:hover,
.myaccount-tab-menu a.active {
  background-color: #57191f;
  border-color: #57191f;
  color: #ffffff;
}

.myaccount-tab-menu form button i.fa {
  font-size: 14px;
  text-align: center;
  width: 25px;
}

.col-lg-2x {
  flex: 0 0 auto;
  min-width: 14%;
  max-width: 180px;
  width: 100%;
}

.btn-brown {
  display: inline-block;
  font-weight: 600;
  color: #ffffff;
  background-color: #57191f;
  padding: 20px 37px;
  z-index: 1;
}

.nice-select .list,
.nice-select .option {
  font-size: 13px;
}

.swal2-styled.swal2-confirm {
  background-color: #57191f !important;
  border: 1px solid #57191f !important;
  font-weight: 400;
  font-size: 14px !important;
}

.swal2-styled.swal2-cancel {
  background-color: #000 !important;
  border: 1px solid #000 !important;
  font-weight: 400;
  font-size: 14px !important;
}

.swal2-title {
  font-weight: 700;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ccc !important;
  font-size: 13px;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc !important;
  font-size: 13px;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #ccc !important;
  font-size: 13px;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #ccc !important;
  font-size: 13px;
}

.asteriskField {
  color: red;
  font-weight: 300;
  margin-left: 2px;
}

.content strong {
  font-weight: 600 !important;
}

.content ul {
  margin-bottom: 30px;
}

.w-100 {
  width: 100%;
}

.bradius {
  border-radius: 10px;
}

.btn-primary {
  background-color: #57191f !important;
  border-color: #57191f !important;
  color: #fff !important;
  font-weight: 600;
  padding: 10px 20px;
}

.text-primary {
  color: #57191f !important;
}

.off-canvas-wrap .welcome-text p {
  color: #57191f;
}

.off-canvas-wrap .language-currency-wrap .currency-wrap>a,
.off-canvas-wrap .language-currency-wrap .language-wrap>a {
  color: #57191f;
}

.form-control:focus {
  border-color: #57191f;
  box-shadow: none;
}

.form-control-file {
  padding: 20px;
  border: 2px dashed #ccc;
}

.bg-brown {
  background-color: #57191f;
}

.invalid-feedback strong {
  font-weight: 500 !important;
  font-weight: 400;
  color: red;
  font-size: 11px;

}